<template>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="e in errors">
                {{ e }}
            </li>
        </div>
        <div class="card">
            <div class="card-header">
                <strong class="card-title">User Profile</strong>
            </div>
            <div class="card-body">
                <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
                    <b-row>
                        <b-col md="12" class="mt-2">
                            <label class="col-md-3"><strong>Username</strong></label>
                            <label class="col-md-5"><b-form-input v-model="Form.username" size="sm" readonly></b-form-input></label>
                            <label class="col-md-3">Usernames cannot be changed</label>
                        </b-col>
                        <b-col md="12" class="mt-2">
                            <label class="col-md-3"><strong>First Name</strong></label>
                            <label class="col-md-5"><b-form-input v-model="Form.firstname" size="sm"></b-form-input></label>
                        </b-col>
                        <b-col md="12" class="mt-2">
                            <label class="col-md-3"><strong>Last Name</strong></label>
                            <label class="col-md-5"><b-form-input v-model="Form.lastname" size="sm"></b-form-input></label>
                        </b-col>
                        <b-col md="12" class="mt-2">
                            <label class="col-md-3"><strong>Title</strong></label>
                            <label class="col-md-5"><b-form-input v-model="Form.title" size="sm"></b-form-input></label>
                        </b-col>
                        <b-col md="12" class="mt-2">
                            <label class="col-md-3"></label>
                            <label class="col-md-5"><b-form-checkbox v-model="Form.create_password" name="check-button" switch> New Password</b-form-checkbox></label>
                        </b-col>
                        <b-col md="12" class="mt-2" v-if="Form.create_password == true">
                            <label class="col-md-3"><strong>New Password</strong></label>
                            <label class="col-md-5"><b-form-input type="password" v-model="Form.password" size="sm"></b-form-input></label>
                        </b-col>
                        <b-col md="12" class="mt-2" v-if="Form.create_password == true">
                            <label class="col-md-3"><strong>Confirm Password</strong></label>
                            <label class="col-md-5"><b-form-input type="password" v-model="Form.confirmpassword" size="sm"></b-form-input></label>
                        </b-col>
                    </b-row>
                    <br>
                    <b-row class="text-center">
                        <b-col md="12">
                            <b-button type="submit" size="sm" variant="info"><b-spinner small label="Spinning" v-if="spinning == true"></b-spinner>Submit</b-button>
                            <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                        </b-col>
                    </b-row>
                
                </b-form>
            </div>
        </div>
    </div>
</div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BSpinner } from 'bootstrap-vue';

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BSpinner
        },
        props: {
            user: {},
        },
        data() {
            return {
                errors: [],
                spinning: false,
                listlists: [],
                vendors: [],

                Form: {
                    username: '',
                    firstname: '',
                    lastname: '',
                    title: '',
                    create_password: false,
                    password: '',
                    confirmpassword: '',
                },
            }
        },
        mounted() { 
            if(this.user){
                this.Form.username = this.user.username;
                this.Form.firstname = this.user.firstname;
                this.Form.lastname = this.user.lastname;
                this.Form.title = this.user.title;
            }

            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            onSubmit(){
                this.spinning = true;
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }

                var postLink = '/user/'+this.user.id;
                axios.post(postLink, data).then(res=>{
                    this.errors = [];
                    localStorage.setItem('message', res.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
                window.scrollTo(0,0);
            },
        
        },
        computed: {

        },

        
    }

</script>
