<template>
<div>
    <b-row>
        <b-col md="12">
            <button class="btn btn-link btn-sm" data-toggle="collapse" data-target="#display_pivot">Pivot Table</button>
            <b-link :href="'/marketing/product-order/kpi/'" target="_blank" class="btn btn-link btn-sm"> KPI</b-link>
        </b-col>
        <b-col md="12" class="collapse" id="display_pivot">
            <b-card >
                <vue-pivottable-ui
                    :data="pivot_data"
                    :aggregator-name="aggregatorName"
                    :renderer-name="rendererName"
                    :rows="rows"
                    :cols="cols"
                    :vals="vals"
                    :row-total="true"
                    :col-total="true"
                >
                </vue-pivottable-ui>
            </b-card>
        </b-col>
    </b-row>

    <b-row>
        <b-col md="12">
            <b-card >
                <template v-slot:header>
                    <h6>Product Order
                        <span class="float-right mt-1">
                            <b-link :href="'/marketing/product-order/add/'" class="btn btn-outline-info btn-sm"><i class="fa fa-plus"></i></b-link>
                        </span>
                    </h6>
                </template>

                <b-row>
                    <b-col md="12">
                        <download-csv class="btn btn-link btn-sm" :data="export_data">Export CSV</download-csv>
                        <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>   
                    </b-col>                     
                </b-row>
                <b-row class="collapse show " id="display_filter">
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-input-group size="sm">
                                <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                                <b-input-group-append>
                                    <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Owner" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <model-select :options="selectOwner" v-model="filter_owner" placeholder="select item" class="form-control form-control-sm"> </model-select>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Status" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <model-select :options="selectStatus" v-model="filter_status" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Expected Return Range" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <date-picker v-model="filter_expect_return_range" range input-class="form-control form-control-sm" placeholder="Select date range"></date-picker>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-form inline>
                                <b-form-checkbox v-model="filter_late" size="sm">Late</b-form-checkbox>&nbsp&nbsp&nbsp
                                <b-form-checkbox v-model="filter_addon" size="sm">Add-on</b-form-checkbox>
                            </b-form>
                                
                        </b-form-group>
                    </b-col>
                </b-row>                
                <hr>

                <b-row class="mt-3">
                    <b-col md="12">
                        <b-table responsive small hover bordered show-empty 
                            :items="filtered" 
                            :fields="fields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                            :filter="filter_search" 
                            :filter_owner="filter_owner"
                            :filter_status="filter_status"
                            :filter_expect_return_range="filter_expect_return_range"
                            :filter_late="filter_late"
                            :filter_addon="filter_addon"
                        >
                            
                            <template v-slot:cell(id)="data">
                                <b-link :href="'/marketing/product-order/view/'+data.item.id" class="btn btn-link btn-sm">{{data.item.id}}</b-link>
                            </template>
                            <template v-slot:cell(contact_relation)="data">
                                <span v-if="data.item.contact_relation">
                                    {{data.item.contact_relation.general_contact_relation.firstname}} {{data.item.contact_relation.general_contact_relation.lastname}}
                                </span>
                            </template>
                            <template v-slot:cell(product)="data">
                                <span v-if="data.item.inventory_relation.product_relation">
                                    SKU: {{data.item.inventory_relation.product_relation.SKU}} <span class="badge badge-pill badge-primary" v-if="data.item.addon == 1">Addon</span><br>
                                    Name: {{data.item.inventory_relation.product_relation.Name}}<br>
                                    Qty: {{data.item.quantity}}<br>
                                    SN: {{data.item.serial}}<br>
                                    RA: {{data.item.ra}}
                                </span>
                            </template>
                            <template v-slot:cell(iv_so)="data">
                                {{data.item.invoice}} - {{data.item.sale_order}}
                            </template>
                            <template v-slot:cell(pl_90)="data">
                                <span v-if="data.item.placement_relation">{{data.item.placement_relation.length}} / </span>
                                <span class="badge badge-pill badge-danger" v-if="check_pl90(data.item) == 'Bad'">Bad</span>
                                <span v-else>Good</span>
                            </template>
                            <template v-slot:cell(expect_return_date)="data">
                                <span v-html="returnlabel(data.item)"></span>
                            </template>
                            <template v-slot:cell(status)="data">
                                <span v-if="data.item.status_relation">{{data.item.status_relation.description}}</span>
                            </template>
                            <template v-slot:cell(actions)="data">
                                <b-link :href="'/marketing/product-order/update/'+data.item.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                                <b-button size="sm" variant="outline-danger" @click="deleteRecord(data.item.id)"><i class="fa fa-trash"></i></b-button>
                            </template>

                            <template v-slot:table-caption>Total {{filtered.length}} Records</template>
                        </b-table>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col offset-md="8" md="4">
                        <b-pagination v-model="currentPage" :total-rows="filtered.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                    </b-col>
                </b-row>
            </b-card>
        </b-col>
    </b-row>
</div>
</template>

<script>

    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import { uniqBy } from 'lodash';
    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard, BFormCheckbox, BForm } from 'bootstrap-vue';
    import { ModelSelect } from 'vue-search-select';
    import Pivot from '@marketconnect/vue-pivot-table'

    import { VuePivottableUi } from 'vue-pivottable'
    import 'vue-pivottable/dist/vue-pivottable.css'

    export default {
        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard, BFormCheckbox, BForm,
            DatePicker,
            ModelSelect,
            Pivot,
            VuePivottableUi,
        },
        props: {
            user: {},
        },
        data() {
            return {
                export_data: [],
                brands: {
                    2 : 'PL',
                    3 : 'SM',
                    4 : 'FF',
                    5 : 'TS',
                    6 : 'SC',
                    7 : 'HT',
                    8 : 'KJ',
                },
                pivot_data: [],
                aggregatorName: 'Sum',
                rendererName: 'Table',
                rows: ['owner'],
                cols: ['brand'],
                vals: ['count'],
                disabledFromDragDrop: ['contact'],
                hiddenFromDragDrop: ['count'],

                allOrders: [],
                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'contact_relation', label: 'Contact' },
                    { key: 'owner', label: 'Owner' },
                    { key: 'product', label: 'SKU - Qty - Serial - RA' },
                    { key: 'iv_so', label: 'IV - SO' },
                    { key: 'pl_90', label: 'PL/90'},
                    { key: 'date_out', label: 'Date Out', sortable: true },
                    { key: 'expect_return_date', label: 'Expect Return', sortable: true },
                    { key: 'status', label: 'Status' },
                    { key: 'actions', label: 'Actions' }
                ],
                
                filter_search: null,
                filter_owner: this.user,
                filter_status: undefined,
                filter_expect_return_range: [],
                filter_late: false,
                filter_addon: false,
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50]
            }
        },
        mounted() {
            this.getOrder();
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            getOrder() {
                axios.get('/marketing/product-order/data').then(res => {
                    this.allOrders = res.data;

                    // export data
                    this.export_data = res.data.map(o => ({
                        id: o.id,
                        contact: o.contact_relation && o.contact_relation.general_contact_relation ? o.contact_relation.general_contact_relation.firstname+' '+o.contact_relation.general_contact_relation.lastname : '',
                        relationship: o.relationship,
                        owner: o.owner,
                        product: o.inventory_relation && o.inventory_relation.product_relation ? o.inventory_relation.product_relation.SKU : '',
                        serial: o.serial,
                        quantity: o.quantity,
                        sale_order: o.sale_order,
                        invoice: o.invoice,
                        date_out: o.date_out,
                        term: o.term,
                        expect_return_date: o.expect_return_date,
                        sale_return_date: o.sale_return_date,
                        ra: o.ra,
                        note: o.note,
                        fulfillment: o.fulfillment_tracking,
                        addon: o.addon == 1 ? 'yes' : 'no',
                        status: o.status_relation ? o.status_relation.description : '',
                        location: o.location_relation ? o.location_relation.description : '',
                        follow_up_date: o.follow_up_date,
                        return_late: o.return_late == 1 ? 'yes' : 'no',
                        return_damaged: o.return_damaged == 1 ? 'yes' : 'no',
                    }));

                    // pivot table data
                    this.pivot_data = res.data.filter(o => o.inventory_relation && o.inventory_relation.product_relation && o.contact_relation && o.contact_relation.general_contact_relation).map(o => {
                        const tmp = [
                            o.owner,
                            1,
                            this.brands[o.inventory_relation.product_relation.BrandID],
                            o.contact_relation.general_contact_relation.firstname+' '+o.contact_relation.general_contact_relation.lastname
                        ]
                        return tmp;
                    });
                    this.pivot_data.unshift(['owner', 'count', 'brand', 'contact']);

                });
            },
            check_pl90(item){
                var output = '';
                const dateout = new Date(item.date_out);
                const dateout_plus_90 = new Date(item.date_out);
                dateout_plus_90.setDate(dateout.getDate() + 90);
                const today = new Date();
                if(item.date_out != null && today >= dateout_plus_90 ){
                    output = 'Bad';
                    item.placement_relation.forEach(pl => {
                        const pldate = new Date(pl.pl_date);
                        if(pldate >= dateout && pldate <= dateout_plus_90){
                            output = 'Good';
                        }
                    });
                }
                else{
                    output = 'Good';
                }
                return output;                
            },
            returnlabel(item){
                var output = '';
                if(item.status == 65 || item.status == 70 || item.status == 64 || item.status == 67){
                    output = 'N/A';
                }
                else{
                    if(item.expect_return_date != '1969-12-31' && item.expect_return_date != null){
                        const expectedreturn = new Date(item.expect_return_date);
                        const today = new Date();
                        const date_diff = Math.ceil((expectedreturn.getTime() - today.getTime()) / (1000 * 3600 * 24));
                        if(date_diff <= 0){
                            output = '<span class="badge badge-pill badge-danger">'+item.expect_return_date+'<span>';
                        }
                        else if(date_diff <= 7){
                            output = '<span class="badge badge-pill badge-warning">'+item.expect_return_date+'<span>';
                        }
                        else{
                            output = item.expect_return_date;
                        }
                    }                    
                }
                return output;
            },
            deleteRecord(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/marketing/product-order/delete/'+id).then(res => {
                        window.scrollTo(0,0);
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            },
            
        },
        computed: {
            filtered() {
                const startdate = new Date(this.filter_expect_return_range[0]);
                const enddate = new Date(this.filter_expect_return_range[1]);
                const currentdate = new Date();
                return this.allOrders.filter(order => {
                    let fill = true;
                    const expect_return_date = new Date(order.expect_return_date);

                    // filter owner
                    fill = fill && (this.filter_owner === undefined || order.owner === this.filter_owner) ;

                    // filter status
                    fill = fill && (this.filter_status === undefined || order.status === this.filter_status) ;

                    // filter expect return
                    if(this.filter_expect_return_range.length != 0 && this.filter_expect_return_range[0] != null && this.filter_expect_return_range[0] != null){
                        fill = fill && (expect_return_date >= startdate && expect_return_date <= enddate);
                    }

                    // filter late
                    if(this.filter_late == true){
                        fill = fill && expect_return_date < currentdate && expect_return_date.getYear() != '69';
                    }

                    // filter addon
                    fill = this.filter_addon == true ? fill && order.addon == 1 : fill && order.addon == 0;

                    return fill;
                });
            },
            selectOwner() {
                const selectOwner = this.allOrders.map(order => ({ value : order.owner, text : order.owner }));
                return uniqBy(selectOwner, 'value');
            },
            selectStatus() {
                const selectStatus = this.allOrders.filter(o => o.status_relation).map(order => ({ value : order.status, text : order.status_relation.description }));
                return uniqBy(selectStatus, 'value');
            },

        },

        

    }

</script>
