<template>
<b-row class="row">
    <b-col md="12">
    	<b-card >
    		<template v-slot:header>
    			<h6>Product Order Count</h6>
    		</template>
            <b-row>
                <b-col md="3">
                    <date-picker v-model="order_count_range" range input-class="form-control form-control-sm" placeholder="Date Range" @change="onChangeOrderCountRange"></date-picker>
                </b-col>
                <b-col md="3">
                    <select v-model="order_count_owner" class="form-control form-control-sm" @change="onSelectOrderCountOwner">
                        <option :value="undefined" selected>Owner</option>
                        <option :value="owner.id" v-for="owner in selectOwner">{{ owner.text }}</option>
                    </select>
                </b-col>
            </b-row>
            <br>
			<GChart
                type="Table"
    			:settings="{ packages: ['table'] }"
			    :data="orderChart"
                :options="chartOptions"
			/>
		</b-card>
    </b-col>

    <b-col md="6">
        <b-card >
            <template v-slot:header>
                <h6>Placement Count</h6>
            </template>
            <b-row>
                <b-col md="6">
                    <select v-model="placement_count_year" class="form-control form-control-sm" @change="onSelectPlacementYear">
                        <option :value="undefined" selected>Year</option>
                        <option :value="year.id" v-for="year in selectYear">{{ year.text }}</option>
                    </select>
                </b-col>
                <b-col md="6">
                    <select v-model="placement_count_owner" class="form-control form-control-sm" @change="onSelectPlacementOwner">
                        <option :value="undefined" selected>Owner</option>
                        <option :value="owner.id" v-for="owner in selectOwner">{{ owner.text }}</option>
                    </select>
                </b-col>
                
            </b-row>
            <br>
            <GChart
                type="ColumnChart"
                :data="placementChart"
            />
        </b-card>
    </b-col>

    <b-col md="6">
        <b-card >
            <template v-slot:header>
                <h6>Ratio</h6>
            </template>
            <b-row>
                <b-col md="6">
                    <date-picker v-model="ratio_range" range input-class="form-control form-control-sm" placeholder="Date Range" @change="onChangeRatioRange"></date-picker>
                </b-col>
                <b-col md="6">
                    <select v-model="ratio_owner" class="form-control form-control-sm" @change="onSelectRatioOwner">
                        <option :value="undefined" selected>Owner</option>
                        <option :value="owner.id" v-for="owner in selectOwner">{{ owner.text }}</option>
                    </select>
                </b-col>
            </b-row>
            <br>
            <GChart
                type="Table"
                :data="ratioChart"
                :options="chartOptions"
            />
        </b-card>
    </b-col>

    <b-col md="6">
        <b-card >
            <template v-slot:header>
                <h6>Product Order Goal</h6>
            </template>
            <b-row>
                <b-col md="6">
                    <date-picker v-model="goal_range" range input-class="form-control form-control-sm" placeholder="Date Range" @change="onChangeGoalRange"></date-picker>
                </b-col>
                <b-col md="6">
                    <select v-model="goal_owner" class="form-control form-control-sm" @change="onSelectGoalOwner">
                        <option :value="undefined" selected>Owner</option>
                        <option :value="owner.id" v-for="owner in selectOwner">{{ owner.text }}</option>
                    </select>
                </b-col>
            </b-row>
            <br>
            <GChart
                type="Table"
                :data="goalChart"
                :options="chartOptions"
            />
        </b-card>
        
    </b-col>

</b-row>
</template>

<script>

    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import { uniqBy, countBy, orderBy } from 'lodash';
    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard,  } from 'bootstrap-vue';
    import { ModelSelect, BasicSelect } from 'vue-search-select';

    import Vue from 'vue'
	import VueGoogleCharts from 'vue-google-charts'

    export default {
        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard,
            DatePicker,
            ModelSelect, BasicSelect,
            VueGoogleCharts
        },
        props: {
            orders: {},
            placements: {},
        },
        data() {
            return {
                chartOptions: {
                    width: '100%',
                },
                allplacements : [],
                brands: {
                    2 : 'PL',
                    3 : 'SM',
                    4 : 'FF',
                    5 : 'TS',
                    6 : 'SC',
                    7 : 'HT',
                    8 : 'KJ',
                },
                order_count_owner: undefined,
                order_count_range: [],
                orderChart: [
			        [
						{ type: "string", label: "Brand", id: "brand" },
                        { type: "number", label: "This Year", id: "this_year" },
						{ type: "number", label: "Last Year", id: "last_year" },
						{ type: "number", label: "Percent", id: "per_cent" },
                        { type: "number", label: "Out (YTD)", id: "out_ytd" },
                        { type: "number", label: "Sold (YTD", id: "sold_ytd" },
                        { type: "number", label: "Return (YTD)", id: "return_ytd" },
                        { type: "number", label: "Out (Range)", id: "out_range" },
                        { type: "number", label: "Sold (Range", id: "sold_range" },
                        { type: "number", label: "Return (Range)", id: "return_range" },
                        { type: "number", label: "All Time", id: "all_time" },
			        ],
			    ],
			   

                placement_count_year: new Date().getFullYear(),
                placement_count_owner: undefined,
                placementChart: [
                    ['Brand', 'Count'],
                ],

                ratio_owner: undefined,
                ratio_range: [],
                ratioChart: [
                    [
                        { type: "string", label: "Brand", id: "brand" },
                        { type: "number", label: "Product Order", id: "tande" },
                        { type: "number", label: "Placement", id: "placement" },
                        { type: "number", label: "Ratio", id: "ratio" },
                    ],
                ],

                goal_owner: undefined,
                goal_range: [],
                goalChart: [
                    [
                        { type: "string", label: "Brand", id: "brand" },
                        { type: "number", label: "Total T&E", id: "total_tande" },
                        { type: "number", label: "T&E had Placement", id: "had_placement" },
                        { type: "number", label: "Percent", id: "ratio" },
                    ],
                ],
            }
        },
        mounted() {
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }

            this.getAllPlacement();

            this.orderCount(this.order_count_range, this.order_count_owner);

            this.placementCount(this.placement_count_year, this.placement_count_owner);

            this.ratio(this.ratio_range, this.ratio_owner);

            this.goal(this.goal_range, this.goal_owner);
        },
        methods: {

            /**************** T&E count *****************/
            onChangeOrderCountRange(item){
                this.orderCount(this.order_count_range, this.order_count_owner);
            },
            onSelectOrderCountOwner (item) {
                this.order_count_owner = item.target.value;
                this.orderCount(this.order_count_range, this.order_count_owner);
            },
            orderCount(date_range, owner){
                var total_this_year = 0;
                var total_last_year = 0;
                var total_percent = 0;
                var total_out_ytd = 0;
                var total_sold_ytd = 0;
                var total_return_ytd = 0;
                var total_out_range = 0;
                var total_sold_range = 0;
                var total_return_range = 0;
                var total_all_time = 0;
                var startdate = new Date(date_range[0]);
                var enddate = new Date(date_range[1]);
                this.orderChart.length = 1;
                for( const [key, value] of Object.entries(this.brands) ){
                    var tmp = [];
                    tmp.push(value);
                    var thisyear = (new Date()).getFullYear();
                    var lastyear = thisyear - 1;

                    // this year
                    var thisyear_count = this.orders.filter(o => {
                        var year = (new Date(o.date_out)).getFullYear();
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear && o.addon == 0;
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        return res;
                    }).length;
                    tmp.push(thisyear_count);
                    total_this_year += thisyear_count;

                    // last year
                    var lastyear_count = this.orders.filter(o => {
                        var year = (new Date(o.date_out)).getFullYear();
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == lastyear && o.addon == 0;
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        return res;
                    }).length;
                    tmp.push(lastyear_count);
                    total_last_year += lastyear_count;

                    // percent
                    var percent = lastyear_count != 0 ? ((thisyear_count / lastyear_count)*100).toFixed(2) : 0;
                    tmp.push(percent);

                    // out YTD
                    var out_ytd = this.orders.filter(o => {
                        var year = (new Date(o.date_out)).getFullYear();
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear && o.status == 63 && o.addon == 0;
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        return res
                    }).length;
                    tmp.push(out_ytd);
                    total_out_ytd += out_ytd;

                    // sold YTD
                    var sold_ytd = this.orders.filter(o => {
                        var year = (new Date(o.date_out)).getFullYear();
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear && o.status == 64 && o.addon == 0;
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        return res
                    }).length;
                    tmp.push(sold_ytd);
                    total_sold_ytd += sold_ytd

                    // return YTD
                    var return_ytd = this.orders.filter(o => {
                        var year = (new Date(o.date_out)).getFullYear();
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear && o.status == 65 && o.addon == 0;
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        return res;
                    }).length;
                    tmp.push(return_ytd);
                    total_return_ytd += return_ytd

                    // out range
                    var out_range = this.orders.filter(o => {
                        var res = 0;
                        if(date_range.length == 2){
                            var dateout = new Date(o.date_out);
                            var year = dateout.getFullYear();
                            res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear && o.status == 63 && dateout > startdate && dateout < enddate && o.addon == 0;
                            if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        }
                        return res;
                    }).length;
                    tmp.push(out_range);
                    total_out_range += out_range;

                    // sold range
                    var sold_range = this.orders.filter(o => {
                        var res = 0;
                        if(date_range.length == 2){
                            var dateout = new Date(o.date_out);
                            var year = dateout.getFullYear();
                            var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear && o.status == 64 && dateout > startdate && dateout < enddate && o.addon == 0;
                            if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        }
                        return res;
                    }).length;
                    tmp.push(sold_range);
                    total_sold_range += sold_range;

                    // return range
                    var return_range = this.orders.filter(o => {
                        var res = 0;
                        if(date_range.length == 2){
                            var dateout = new Date(o.date_out);
                            var year = dateout.getFullYear();
                            var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear && o.status == 65 && dateout > startdate && dateout < enddate && o.addon == 0;
                            if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        }
                        return res;
                    }).length;
                    tmp.push(return_range);
                    total_return_range += return_range

                    // total all time
                    var all_time = this.orders.filter(o => {
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && o.addon == 0;
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        return res;
                    }).length;
                    tmp.push(all_time);
                    total_all_time += all_time;

                    this.orderChart.push(tmp)
                }
                var total_percent = total_last_year != 0 ? ((total_this_year / total_last_year)*100).toFixed(2) : 0;
                this.orderChart.push(['Total', total_this_year, total_last_year, total_percent, total_out_ytd, total_sold_ytd, total_return_ytd, total_out_range, total_sold_range, total_return_range, total_all_time])
            },
            

            onSelectPlacementYear(item){
                this.placement_count_year = item.target.value;
                this.placementCount(this.placement_count_year, this.placement_count_owner);
            },
            onSelectPlacementOwner (item) {
                this.placement_count_owner = item.target.value;
                this.placementCount(this.placement_count_year, this.placement_count_owner);
            },
            

            /**************** Placement count *****************/
            getAllPlacement(){
                this.placements.filter(p => p.product_order_relation).map(p => {
                    p.product_order_relation.forEach(e => {
                        e['pl_date'] = p.pl_date;
                        this.allplacements.push(e)
                    });
                    
                });
            },
            placementCount(year, owner) {
                this.placementChart.length = 1;
                var tmp = this.allplacements.filter(p => {
                    var res = p.inventory_relation && p.inventory_relation.product_relation && p.inventory_relation.product_relation.BrandID != null;
                    var pl_year = (new Date(p.pl_date)).getFullYear();
                    if(year != '') { res = res && pl_year == year }
                    if(owner != '' && owner != undefined) { res = res && p.owner == owner }
                    return res;
                }).map(p => {
                    return ({ id: p.inventory_relation.product_relation.BrandID, text: p.id});
                });
                var placementdata = countBy(tmp, 'id');
                if(Object.keys(placementdata).length > 0){
                    for( const [key, value] of Object.entries(placementdata) ){
                        var tmparray = [];
                        var brand = this.brands[key];
                        tmparray.push(brand);
                        tmparray.push(value);
                        this.placementChart.push(tmparray);
                    }
                }

            },
            

            /**************** Ratio *****************/
            onSelectRatioOwner(item){
                this.ratio_owner = item.target.value;
                this.ratio(this.ratio_range, this.ratio_owner);
            },
            onChangeRatioRange(item){
                this.ratio(this.ratio_range, this.ratio_owner);
            },
            ratio(date_range, owner) {
                this.ratioChart.length = 1;
                const startdate = new Date(date_range[0]);
                const enddate = new Date(date_range[1]);
                var total_order = 0;
                var total_placement = 0;
                for( const [key, value] of Object.entries(this.brands) ){
                    var tmp = [];
                    tmp.push(value);

                    // product order count
                    var order_count = this.orders.filter(o => {
                        var dateout = new Date(o.date_out);
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        if(date_range.length == 2) { res = res && dateout > startdate && dateout < enddate; }
                        return res;
                    }).length;
                    tmp.push(order_count);
                    total_order += order_count;

                    // placement count
                    var pl_count = this.allplacements.filter(p => {
                        var dateout = new Date(p.date_out);
                        var res = p.inventory_relation && p.inventory_relation.product_relation && p.inventory_relation.product_relation.BrandID == key;
                        if(owner != '' && owner != undefined) {res = res && p.owner == owner}
                        if(date_range.length == 2) { res = res && dateout > startdate && dateout < enddate; }
                        return res;
                    }).length;
                    tmp.push(pl_count);
                    total_placement += pl_count;

                    // ratio
                    tmp.push(order_count != 0 ? (pl_count / order_count).toFixed(2) : 0);

                    this.ratioChart.push(tmp);
                }
                var total_ratio = total_order != 0 ? (total_placement / total_order).toFixed(2) : 0;
                this.ratioChart.push(['Total', total_order, total_placement, total_ratio]);
                    
            },

            /**************** T&E Goal *****************/
            onSelectGoalOwner(item){
                this.goal_owner = item.target.value;
                this.goal(this.goal_range, this.goal_owner);
            },
            onChangeGoalRange(item){
                this.goal(this.goal_range, this.goal_owner);
            },
            goal(date_range, owner) {
                this.goalChart.length = 1;
                const startdate = new Date(date_range[0]);
                const enddate = new Date(date_range[1]);
                var total_order = 0;
                var total_order_had_placement = 0;
                for( const [key, value] of Object.entries(this.brands) ){
                    var tmp = [];
                    tmp.push(value);

                    // total T&E
                    var order_count = this.orders.filter(o => {
                        var dateout = new Date(o.date_out);
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        if(date_range.length == 2) { res = res && dateout > startdate && dateout < enddate; }
                        return res;
                    }).length;
                    tmp.push(order_count);
                    total_order += order_count;

                    // total T&E had placement
                    var had_pl_count = this.orders.filter(o => {
                        var dateout = new Date(o.date_out);
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && o.placement_relation.length > 0
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        if(date_range.length == 2) { res = res && dateout > startdate && dateout < enddate; }
                        return res;
                    }).length;
                    tmp.push(had_pl_count);
                    total_order_had_placement += had_pl_count;

                    // percent
                    tmp.push(order_count != 0 ? ((had_pl_count / order_count)*100).toFixed(2) : 0);

                    this.goalChart.push(tmp);
                }
                var total_percent = total_order != 0 ? ((total_order_had_placement / total_order)*100).toFixed(2) : 0;
                this.goalChart.push(['Total', total_order, total_order_had_placement, total_percent]);
                    
            }
        },
        computed: {
            selectOwner() {
                const selectOwner = this.orders.map(order => ({ id : order.owner, text : order.owner }));
                return uniqBy(selectOwner, 'id');
            },

            selectYear() {
                const selectYear = this.orders.map(order => ({ id : new Date(order.date_out).getFullYear(), text : new Date(order.date_out).getFullYear() }));
                return orderBy(uniqBy(selectYear, 'id'), ['text', 'desc']);
            },
        },

    }

</script>
