<template>
<div>
    <b-row>
        <b-col md="12">
            <b-card>
                <template v-slot:header>
                    <h6>View Product Order
                        <span class="float-right mt-1">
                            <b-link :href="'/marketing/product-order/update/'+order.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                            <b-link :href="'/marketing/product-order'" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-left"></i></b-link>
                        </span>
                    </h6>
                </template>
                <b-row>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Contact</strong></label>
                        <label class="col-md-8" v-if="order.contact_relation">{{order.contact_relation.general_contact_relation.firstname}} {{order.contact_relation.general_contact_relation.lastname}} - {{order.relationship}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Owner</strong></label>
                        <label class="col-md-8">{{order.owner}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Term</strong></label>
                        <label class="col-md-8">{{order.term}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Expect Return</strong></label>
                        <label class="col-md-8">{{order.expect_return_date}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Follow Up</strong></label>
                        <label class="col-md-8">{{order.follow_up_date}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Product</strong></label>
                        <label class="col-md-8">{{order.inventory_relation.product_relation.SKU}} {{order.addon == 1 ? ' - Addon' : ''}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Serial</strong></label>
                        <label class="col-md-8">{{order.serial}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Quantity</strong></label>
                        <label class="col-md-8">{{order.quantity}}</label>
                    </b-col>
                </b-row>

                <hr>
                <ul class="nav nav-tabs nav-justified nav-sm">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#accounting"><em><span style="color: orange">Accounting</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#placement"><em><span style="color: orange">Placement</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#document"><em><span style="color: orange">Document</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#note"><em><span style="color: orange">Note</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#changes"><em><span style="color: orange">Changes</span></em></a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="accounting" class="tab-pane active"><br>
                        <b-row>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Location</strong></label>
                                <label class="col-md-8" v-if="order.location_relation">{{order.location_relation.description}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Status</strong></label>
                                <label class="col-md-8" v-if="order.status_relation">{{order.status_relation.description}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Sale Order</strong></label>
                                <label class="col-md-8">{{order.sale_order}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Return Status</strong></label>
                                <label class="col-md-8">{{order.return_late == 1 ? 'Late' : ''}} - {{order.return_damaged == 1 ? 'Damaged' : ''}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Invoice</strong></label>
                                <label class="col-md-8">{{order.invoice}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Date Out</strong></label>
                                <label class="col-md-8">{{order.date_out}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>RA</strong></label>
                                <label class="col-md-8">{{order.ra}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Sale/Return</strong></label>
                                <label class="col-md-8">{{order.sale_return_date}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Note</strong></label>
                                <label class="col-md-8">{{order.note}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Fulfillment</strong></label>
                                <label class="col-md-8">{{order.fulfillment_tracking}}</label>
                            </b-col>
                        </b-row>
                    </div>

                    <div id="placement" class="tab-pane fade"><br>
                        <b-link :href="'/marketing/placement/add'" target='_blank' class="btn btn-link btn-sm"><i class="fa fa-plus"></i> Placement</b-link>
                        <b-row>
                            <b-col md="12">
                                <b-table responsive small hover bordered show-empty 
                                    :items="placements" 
                                    :fields="pl_fields" 
                                    :per-page="perPage" 
                                    :current-page="currentPage" 
                                >
                                    <template v-slot:cell(action)="data">
                                        <b-link :href="'/marketing/placement/update/'+data.item.id" target="_blank" class="btn btn-link btn-sm"><i class="fa fa-pencil"></i></b-link>
                                        <b-link :href="'/marketing/placement/view/'+data.item.id" target="_blank" class="btn btn-link btn-sm"><i class="fa fa-eye"></i></b-link>
                                    </template>
                                    <template v-slot:table-caption>Total {{placements.length}} Records</template>
                                </b-table>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col offset-md="8" md="4">
                                <b-pagination v-model="currentPage" :total-rows="placements.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                            </b-col>
                        </b-row>
                    </div>

                    <div id="document" class="tab-pane fade"><br>
                        <b-row v-if="documents.length">
                            <b-col offset-md="1" md="11" v-for="d in documents" :key="d.id">
                                <li>
                                    <b-link :href="'/shared/document/'+d.document_name" target='_blank' class="btn btn-link btn-sm">{{ d.document_name }}</b-link>
                                </li>
                            </b-col>
                        </b-row>
                        <b-row v-else>
                            <b-col md="12" class="text-center mt-2">There are no documents</b-col>
                        </b-row>
                    </div>

                    <div id="note" class="tab-pane fade">
                        <b-row class="mt-3">
                            <b-col md="12">
                                <b-table responsive small hover bordered show-empty
                                    :items="notes" 
                                    :fields="note_fields" 
                                    :per-page="perPage" 
                                    :current-page="currentPage" 
                                    :fixed="true"
                                >
                                    <template v-slot:cell(detail)="data">
                                        <span v-html="data.item.detail"></span>
                                    </template>
                                </b-table>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col offset-md="8" md="4">
                                <b-pagination v-model="currentPage" :total-rows="notes.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                            </b-col>
                        </b-row>
                    </div>

                    <div id="changes" class="tab-pane fade">
                        <b-row class="mt-3">
                            <b-col md="12">
                                <b-table responsive small hover bordered show-empty
                                    :items="changes" 
                                    :fields="changes_fields" 
                                    :per-page="perPage" 
                                    :current-page="currentPage" 
                                >
                                    <template v-slot:cell(changes_detail)="data">
                                        <span v-if="data.item.changes_detail_relation">
                                            <li v-for="change in data.item.changes_detail_relation" :key="change.id">
                                                {{change.column_name}} 
                                                changed from 
                                                {{change.old_value == '' ? 'N/A' : change.old_value}}
                                                 to 
                                                 {{change.new_value == '' ? 'N/A' : change.new_value}}
                                            </li>
                                        </span>
                                    </template>
                                    <template v-slot:cell(changes_owner)="data">
                                        <span v-if="data.item.user_relation">
                                            {{data.item.user_relation.firstname}} {{data.item.user_relation.lastname}}
                                        </span>
                                    </template>
                                </b-table>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col offset-md="8" md="4">
                                <b-pagination v-model="currentPage" :total-rows="changes.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                            </b-col>
                        </b-row>
                    </div>
                </div>
            </b-card>
        </b-col>
    </b-row>
</div>    
</template>

<script>

    import { BRow, BCol, BLink, BTable, BPagination, BCard } from 'bootstrap-vue';

    export default {
        components: {
            BRow, BCol, BLink, BTable, BPagination, BCard
        },
        props: {
            order: {}
        },
        data() {
            return {
                
                documents: [],
                currentPage: 1,
                perPage: 10,

                placements: [],
                pl_fields: [
                    { key: 'channel_relation.name', label: 'Channel' },
                    { key: 'author', label: 'Author' },
                    { key: 'pl_date', label: 'Date', sortable: true },
                    { key: 'type_relation.description', label: 'Type' },
                    { key: 'action', label: '' },
                ],
                

                notes: [],
                note_fields: [
                    { key: 'action_relation.description', label: 'Action' },
                    { key: 'detail', label: 'Detail' },
                    { key: 'date_created', label: 'Date', sortable: true },
                    { key: 'user_relation.username', label: 'Owner' },
                ],

                changes: [],
                changes_fields: [
                    { key: 'id', label: 'ID' },
                    { key: 'changes_detail', label: 'Changes' },
                    { key: 'created_at', label: 'Date'},
                    { key: 'changes_owner', label: 'Owner' },
                ],

            }
        },
        mounted() {

            if(this.order){
                this.placements = this.order.placement_relation;
                this.documents = this.order.document_relation;
                this.notes = this.order.note_relation;
                this.changes = this.order.changes_relation;
            }

        },
        methods: {
            
        },
        computed: {
            
        },

        
    }

</script>
