<template>
    <div>
        <b-row>
            <b-col md="12">
                <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>   
            </b-col>                     
        </b-row>

        <div class="collapse show " id="display_filter">
            <b-row>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <b-input-group size="sm">
                            <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                            <b-input-group-append>
                                <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form-group>
                </b-col>
            </b-row>                
        </div>
        <hr>
        <b-row class="mt-3">
            <b-col md="12">
                <b-table responsive small hover bordered show-empty 
                    :items="data" 
                    :fields="fields" 
                    :per-page="perPage" 
                    :current-page="currentPage" 
                    :filter="filter_search" 
                    :fixed="true"
                >
                    <template v-slot:cell(id)="data">
                        <b-link :href="'/marketing/program/view/'+data.item.id" class="btn btn-link btn-sm">{{data.item.id}}</b-link>
                    </template>
                    <template v-slot:cell(waiting)="data">
                        {{data.item.waitinglist_relation.length}}
                    </template>
                    <template v-slot:cell(sku)="data">
                        <span v-if="data.item.child_relation">
                            <span v-for="p in data.item.child_relation">
                                <span v-if="p.inventory_relation && p.inventory_relation.product_relation">
                                    {{p.inventory_relation.product_relation.SKU}}, 
                                </span>
                            </span>
                        </span>
                    </template>
                    <template v-slot:cell(actions)="data">

                        <b-link :href="'/marketing/program/update/'+data.item.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                        <b-button size="sm" variant="outline-danger" @click="deleteRecord(data.item.id)"><i class="fa fa-trash"></i></b-button>

                    </template>
                    <template v-slot:table-caption>Total {{data.length}} Records</template>
                </b-table>
            </b-col>
        </b-row>

        <b-row>
            <b-col offset-md="8" md="4">
                <b-pagination v-model="currentPage" :total-rows="data.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
            </b-col>
        </b-row>

    </div>
    
</template>

<script>

    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink } from 'bootstrap-vue';
    import { uniqBy } from 'lodash';

    export default {
        props: {
            data: {}
        },
        data() {
            return {              
                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'value', label: 'Program' },
                    { key: 'sku', label: 'Product' },
                    { key: 'waiting', label: 'Waiting' },
                    { key: 'actions', label: 'Action' },
                ],
                
                filter_search: null,
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50]
            }
        },
        mounted() {
            if(localStorage.getItem('message')){
                this.makeToast('success', localStorage.getItem('message'));
                localStorage.removeItem('message');
            }
        },
        methods: {
            makeToast(variant, message) {
                this.$bvToast.toast(message, {
                    title: 'Message',
                    variant: variant,
                    solid: false,

                })
            },
            deleteRecord(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/marketing/program/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            },
            
        },
        computed: {

        },

        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink,
        }

    }

</script>
