<template>
    <div>
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="e in errors">
                {{ e }}
            </li>
        </div>
        <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
            <em><span style="color: orange">General</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Program Name</label> <span style="color: red">*</span>
                    <b-form-input v-model="Form.program_name"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Product</label> <span style="color: red">*</span>
                    <multi-select :options="selectInventory" :selected-options="Form.inventory_ids" @select="onSelectInventory" placeholder="select item"></multi-select>
                </b-col>
                
            </b-row>            
            <br>
            <b-row class="text-center mt-2">
                <b-col md="12">
                    <b-button type="submit" size="sm" variant="info"><b-spinner small label="Spinning" v-if="spinning == true"></b-spinner>Submit</b-button>
                    <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                </b-col>
            </b-row>
        </b-form>

    </div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BSpinner } from 'bootstrap-vue';

    import { MultiSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css';

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BSpinner,
            MultiSelect
        },
        props: {
            program: {},
        },
        data() {
            return {
                errors: [],
                spinning: false,
                listlists: [],
                inventories: [],
                Form: {
                    program_name: '',
                    inventory_ids: [],
                },
            }
        },
        mounted() {
            this.getInventory();
            if(this.program){
                this.Form.program_name = this.program.value;
                this.Form.inventory_ids = this.program.child_relation.filter(p => p.active == 1).map(p => ({ value : p.inventory_relation.id, text : p.inventory_relation.product_relation.SKU+' - '+p.inventory_relation.product_relation.Name }));
            }

            if(localStorage.getItem('message')){
                this.makeToast('success', localStorage.getItem('message'));
                localStorage.removeItem('message');
            }
        },
        methods: {
            makeToast(variant, message) {
                this.$bvToast.toast(message, {
                    title: 'Message',
                    variant: variant,
                })
            },
            getInventory() {
                axios.get('/marketing/inventory/data').then(res => {
                    this.inventories = res.data;
                });
            },
            onSelectInventory (items) {
                this.Form.inventory_ids = items;
            },
            onSubmit(){
                this.spinning = true;
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }
                const inventoryArr = this.Form.inventory_ids.map(c => c.value);
                data.append('inventory_ids', inventoryArr);

                var postLink = '/marketing/program/add';
                if(this.program){
                    postLink = '/marketing/program/update/'+this.program.id;
                }
                axios.post(postLink, data).then(response=>{
                    this.errors = [];
                    localStorage.setItem('message', response.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
                window.scrollTo(0,0);
            },            

        },
        computed: {
            selectInventory(){
                const selectInventory = this.inventories.filter(p => p.product_relation).map(p => ({ value : p.id, text : p.product_relation.SKU+' - '+p.product_relation.Name }));
                return uniqBy(selectInventory, 'value');
            },
        },
        
    }

</script>
