<template>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">View Program
                    <span class="float-right mt-1">
                        <b-link :href="'/marketing/program/update/'+program.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                        <b-link :href="'/marketing/program'" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-left"></i></b-link>
                    </span>
                </strong>
            </div>
            <div class="card-body">
                <b-row>
                    <b-col md="12" class="mt-2">
                        <label class="col-md-3"><strong>Program</strong></label>
                        <label class="col-md-8">{{program.value}}</label>
                    </b-col>
                    <b-col md="12" class="mt-2">
                        <div class="col-md-3"><strong>Available</strong></div>
                        <div class="col-md-8" >
                            <strong>SKU - SERIAL</strong><br>
                            <span v-for="sku in available">{{sku.sku}} - {{sku.serial}}<br></span>
                        </div>
                    </b-col>
                </b-row>
                <hr>
                <marketing-waitlist-datatable v-bind:program_id="program.id"></marketing-waitlist-datatable>
            </div>
        </div>
    </div>
</div>


</template>

<script>
    import { BRow, BCol, BLink, BTable, BCard } from 'bootstrap-vue';

    export default {
        components: {
            BRow, BCol, BLink, BTable, BCard 
        },
        props: {
            program: {}
        },
        data() {
            return {
                assets: [],
                available: [],
            }
        },
        mounted() {
            localStorage.setItem('program_id', this.program.id);
            this.getAsset();
        },
        methods: {
            getAsset() {
                axios.get('/marketing/asset/data').then(res => {
                    this.assets = res.data;
                    this.SkuAvailable();
                });
            },
            SkuAvailable(){
                this.available = this.assets
                    .filter(a => 
                        a.inventory_relation && 
                        a.inventory_relation.in_program == this.program.id && 
                        a.transaction_relation && 
                        a.transaction_relation.TrAction == 172 &&
                        a.reserved == 0)
                    .map(a => ({sku : a.inventory_relation.product_relation.SKU, serial : a.serial}));

            },
        },
        computed: {
            
        },
        
    }

</script>
