<template>
    <div>
        <b-row>
            <b-col md="12">
                <download-csv class="btn btn-link btn-sm" :data="export_data">Export CSV</download-csv>
                <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>   
            </b-col>                     
        </b-row>

        <div class="collapse show " id="display_filter">
            <b-row>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <b-input-group size="sm">
                            <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                            <b-input-group-append>
                                <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Contact" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <model-select :options="selectContact" v-model="filter_contact" placeholder="select item" class="form-control form-control-sm">
                        </model-select>
                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Type" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <model-select :options="selectType" v-model="filter_type" placeholder="select item" class="form-control form-control-sm"></model-select>

                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                        <b-form-group label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-form inline>
                                <b-form-checkbox v-model="filter_prostaff" size="sm">Prostaff</b-form-checkbox>
                            </b-form>
                                
                        </b-form-group>
                    </b-col>
            </b-row>                
        </div>
        <hr>
        <b-row class="mt-3">
            <b-col md="12">
                <b-table responsive small hover bordered show-empty 
                    :items="filtered" 
                    :fields="fields" 
                    :per-page="perPage" 
                    :current-page="currentPage" 
                    :filter="filter_search" 
                    :filter_contact="filter_contact"
                    :filter_type="filter_type"
                    :filter_prostaff="filter_prostaff"
                >
                    <template v-slot:cell(id)="data">
                        <b-link :href="'/marketing/placement/view/'+data.item.id" class="btn btn-link btn-sm">{{data.item.id}}</b-link>
                    </template>
                    <template v-slot:cell(contact)="data">
                        <span v-if="data.item.contact_relation">
                            {{ data.item.contact_relation.general_contact_relation.firstname }} {{ data.item.contact_relation.general_contact_relation.lastname}}
                        </span>
                    </template>
                    <template v-slot:cell(sku)="data">
                        <span v-for="order in data.item.product_order_relation">
                            {{ (order.inventory_relation.product_relation) ? order.inventory_relation.product_relation.SKU : '' }}<br>
                        </span>
                    </template>
                    <template v-slot:cell(actions)="data">
                        <b-link :href="'/marketing/placement/update/'+data.item.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                        <b-button size="sm" variant="outline-danger" @click="deleteRecord(data.item.id)"><i class="fa fa-trash"></i></b-button>
                    </template>
                    <template v-slot:table-caption>Total {{filtered.length}} Records</template>
                </b-table>
            </b-col>
        </b-row>

        <b-row>
            <b-col offset-md="8" md="4">
                <b-pagination v-model="currentPage" :total-rows="filtered.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
            </b-col>
        </b-row>

    </div>
    
</template>

<script>

    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BForm, BFormCheckbox } from 'bootstrap-vue';
    import { ModelSelect } from 'vue-search-select';
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import { uniqBy } from 'lodash';

    export default {
        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BForm, BFormCheckbox,
            ModelSelect,
            DatePicker  
        },
        props: {
            placements: {}
        },
        data() {
            return {
                export_data: [],
                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'channel_relation.name', label: 'Channel' },
                    { key: 'contact', label: 'Contact' },
                    { key: 'type_relation.description', label: 'Type' },
                    { key: 'sku', label: 'SKU' },
                    { key: 'pl_date', label: 'Date', sortable: true},
                    { key: 'actions', label: 'Actions' }
                ],
                
                filter_search: null,
                filter_contact: '',
                filter_type: '',
                filter_date_range: [],
                filter_prostaff: false,
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50]
            }
        },
        mounted() {
            console.log(this.placements)
            if(this.placements){
                this.export_data = this.placements.map(p => ({
                    id: p.id,
                    channel: p.channel_relation ? p.channel_relation.name : '',
                    contact: p.contact_relation && p.contact_relation.general_contact_relation ? p.contact_relation.general_contact_relation.firstname+' '+p.contact_relation.general_contact_relation.lastname : '',
                    platform: p.platform,
                    type: p.type_relation ? p.type_relation.description : '',
                    author: p.author,
                    link: p.link,
                    ave: p.ave,
                    date: p.pl_date,
                    note: p.note,
                    product_orders: p.product_order_relation ? p.product_order_relation.filter(o => o.inventory_relation && o.inventory_relation.product_relation).map(o => {
                        return o.inventory_relation.product_relation.SKU
                    }) : ''
                }));
            }
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            deleteRecord(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/marketing/placement/delete/'+id).then(res => {
                        window.scrollTo(0,0);
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            },
            
        },
        computed: {
            filtered() {
                return this.placements.filter(placement => {
                    let fill = true;
                    fill = fill && (this.filter_contact == '' || this.filter_contact == undefined ||  placement.ContactID === this.filter_contact) ;
                    fill = fill && (this.filter_type == '' || this.filter_type == undefined ||  placement.type === this.filter_type) ;

                    // filter prostaff
                    if(this.filter_prostaff == true && placement.contact_relation){
                        fill = fill && (placement.contact_relation.pl_prostaff == 1 ||  placement.contact_relation.sm_prostaff == 1);
                    }
                    return fill;
                });
            },            
            selectContact() {
                const selectContact = this.placements.filter(p => p.contact_relation).map(placement =>({ value : placement.ContactID, text : placement.contact_relation.general_contact_relation.firstname + ' ' + placement.contact_relation.general_contact_relation.lastname }));
                return uniqBy(selectContact, 'value');
            },
            selectType() {
                const selectType = this.placements.filter(p => p.type_relation).map(placement =>({ value : placement.type, text : placement.type_relation.description }));
                return uniqBy(selectType, 'value');
            },

        },

        

    }

</script>
