<template>

    <div>
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="e in errors">
                {{ e }}
            </li>
        </div>
        <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
            <em><span style="color: orange">General</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Channel</label> <span style="color: red">*</span>
                    <basic-select :options="selectChannel" :selected-option="Form.channel_id" placeholder="select item" class="form-control-sm" @select="onSelectChannel" ></basic-select>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Contact</label> <span style="color: red">*</span>
                    <basic-select :options="selectContact" :selected-option="Form.contact_id" placeholder="select item" class="form-control-sm" @select="onSelectContact"></basic-select>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Platform</label>
                    <b-form-input v-model="Form.platform" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Type</label> <span style="color: red">*</span>
                    <model-select :options="selectType" v-model="Form.type" placeholder="select item" class="form-control-sm"></model-select>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Author</label>
                    <b-form-input v-model="Form.author" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Link</label>
                    <b-form-input v-model="Form.link" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">AVE</label>
                    <b-form-input v-model="Form.ave" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Date</label>
                    <b-form-input type="date" v-model="Form.pl_date" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Note</label>
                    <b-form-input v-model="Form.note" size="sm" ></b-form-input>
                </b-col>
            </b-row>
            <hr>
            <em><span style="color: orange">T&E</span></em>
            <b-row>
                <b-col md="6">
                    <multi-select :options="selectOrder" :selected-options="Form.order_ids" placeholder="select item" @select="onSelectOrder"></multi-select>
                </b-col>
                
            </b-row>

            <hr>
            <em><span style="color: orange">Document</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Upload (Max 5 files)</label>
                    <file-pond ref="pond" allow-multiple="true" v-bind:files="Form.documents" v-on:updatefiles="onUpdateFile" accepted-file-types="image/jpeg, image/png" instant-upload="false"/>
                </b-col>
                <b-col md="6" v-if="Form.uploaded_documents.length">
                    <label class="mt-2 col-form-label col-form-label-sm">Uploaded</label>
                    <li v-for="d in Form.uploaded_documents">
                        <b-link :href="'/shared/document/'+d.document_name" target='_blank' class="btn btn-link btn-sm">{{ d.document_name }}</b-link>
                        <b-button size="sm" variant="outline-danger" @click="deleteDocument(d.id)"><i class="fa fa-times"></i></b-button>
                    </li>
                </b-col>
            </b-row>            
            
            <b-row class="text-center mt-2">
                <b-col md="12">
                    <b-button type="submit" size="sm" variant="info"><b-spinner small label="Spinning" v-if="spinning == true"></b-spinner>Submit</b-button>
                    <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                </b-col>
            </b-row>
        </b-form>

    </div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BInputGroupAppend, BButton, BInputGroup, BAlert, BLink, BFormTextarea, BSpinner } from 'bootstrap-vue';

    import { MultiSelect, ModelSelect, BasicSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css';

    import vueFilePond from 'vue-filepond';
    import 'filepond/dist/filepond.min.css';
    import FilePondPluginImagePreview from 'filepond-plugin-image-preview';
    import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BInputGroupAppend, BButton, BInputGroup, BAlert, BLink, BFormTextarea, BSpinner,
            FilePond: vueFilePond(FilePondPluginImagePreview),
            MultiSelect, ModelSelect, BasicSelect,
        },
        props: {
            placement: {}
        },
        data() {
            return {
                errors: [],
                spinning: false,
                channels: [],
                contacts: [],
                listlists: [],
                orders: [],

                Form: {
                    channel_id: { value: '', text: '' },
                    contact_id: { value: '', text: '' },
                    platform: '',
                    type: '',
                    author: '',
                    link: '',
                    ave: '',
                    pl_date: new Date().toISOString().slice(0,10),
                    note: '',
                    order_ids: [],
                    documents:[],
                    uploaded_documents: [],
                },
            }
        },
        mounted() {
            this.getChannel();
            this.getContact();
            this.getListList();
            this.getOrder();

            if(this.placement){
                this.Form.channel_id = { value : this.placement.ChannelID, text : this.placement.channel_relation.name }
                this.Form.contact_id = this.placement.contact_relation ? { value : this.placement.ContactID, text : this.placement.contact_relation.general_contact_relation.firstname+' '+this.placement.contact_relation.general_contact_relation.lastname } : {}
                this.Form.platform = this.placement.platform;
                this.Form.type = this.placement.type;
                this.Form.author = this.placement.author;
                this.Form.link = this.placement.link;
                this.Form.ave = this.placement.ave;
                this.Form.pl_date = this.placement.pl_date;
                this.Form.note = this.placement.note;
                this.Form.uploaded_documents = this.placement.document_relation;
                
                this.Form.order_ids = this.placement.product_order_relation.map(order => ({ value : order.id, text : order.id+' - '+order.inventory_relation.product_relation.SKU }));
                
                this.getOrder(this.placement.ContactID);
            }

            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            getChannel() {
                axios.get('/marketing/channel/data').then(res => {
                    this.channels = res.data;
                });
            },
            onSelectChannel (item) {
                this.Form.channel_id = item;
            },
            getContact() {
                axios.get('/marketing/contact/data').then(res => {
                    this.contacts = res.data;
                });
            },
            onSelectContact (item) {
                this.Form.contact_id = item;
                this.Form.order_ids = [];
                this.getOrder(item.value);
            },
            getOrder(contact) {
                if(contact){
                    axios.post('/marketing/product-order/data', {'contact' : contact}).then(res => {
                        this.orders = res.data;
                    });
                }
            },
            getListList() {
                axios.get('/shared/listlist/data').then(res => {
                    this.listlists = res.data;
                });
            },
            onSelectOrder (items) {
                this.Form.order_ids = items;
            },
            onUpdateFile(files) {
                this.Form.documents = files.map(files => files.file);
            },
            deleteDocument(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/shared/document/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
                    
            },
            onSubmit(){
                this.spinning = true;
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }
                for (var i = 0; i < this.Form.documents.length; i++) {
                    let file = this.Form.documents[i];
                    data.append("documents[" + i + "]", file);
                }
                const orderArr = this.Form.order_ids.map(order => ({id: order.value}));
                data.append('order_ids', JSON.stringify(orderArr));
                data.append('channel_id', this.Form.channel_id.value);
                data.append('contact_id', this.Form.contact_id.value);

                var postLink = '/marketing/placement/add';
                if(this.placement){
                    postLink = '/marketing/placement/update/'+this.placement.id;
                }

                axios.post(postLink, data).then(response=>{
                    this.errors = [];
                    localStorage.setItem('message', response.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
                window.scrollTo(0,0);
            },            

        },
        computed: {
            selectChannel(){
                const selectChannel = this.channels.map(channel => ({ value : channel.id, text : channel.name }));
                return uniqBy(selectChannel, 'value');
            },
            selectContact(){
                const selectContact = this.contacts.map(contact => ({ value : contact.id, text : contact.general_contact_relation.firstname+' '+contact.general_contact_relation.lastname }));
                return uniqBy(selectContact, 'value');
            },
            selectType() {
                const selectType = this.listlists.filter(ll => ll.pid == 131).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectType, 'value');
            },
            selectOrder() {
                const selectOrder = this.orders.filter(o => o.ContactID == this.Form.contact_id.value).map(order => ({ value : order.id, text : order.id+' - '+order.inventory_relation.product_relation.SKU }));
                return uniqBy(selectOrder, 'value');
            },
            
        },
        
    }

</script>
