<template>

    <div>
        <b-row>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Channel</strong></label>
                <label class="col-md-8">{{placement.channel_relation.name}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Contact</strong></label>
                <label class="col-md-8" v-if="placement.contact_relation">{{placement.contact_relation.general_contact_relation.firstname}} {{placement.contact_relation.general_contact_relation.lastname}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Platform</strong></label>
                <label class="col-md-8">{{placement.platform}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Type</strong></label>
                <label class="col-md-8" v-if="placement.type_relation">{{placement.type_relation.description}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Author</strong></label>
                <label class="col-md-8">{{placement.author}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Link</strong></label>
                <label class="col-md-8">{{placement.link}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>AVE</strong></label>
                <label class="col-md-8">{{placement.ave}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Date</strong></label>
                <label class="col-md-8">{{placement.pl_date}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Note</strong></label>
                <label class="col-md-8">{{placement.note}}</label>
            </b-col>
        </b-row>

        <hr>

        <ul class="nav nav-tabs nav-justified nav-sm">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#order"><em><span style="color: orange">T&E</span></em></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#document"><em><span style="color: orange">Documents</span></em></a>
            </li>
        </ul>

        <div class="tab-content">

            <div id="order" class="tab-pane active"><br>
                <b-row v-if="orders.length">
                    <b-col offset-md="1" md="11" v-for="o in orders" :key="o.id" class="mt-1">
                        <b-link :href="'/marketing/product-order/view/'+o.id" target='_blank' class="btn btn-link btn-sm">{{o.id}} - {{o.inventory_relation.product_relation.SKU}}</b-link>
                    </b-col>
                </b-row>
            </div>

            <div id="document" class="tab-pane fade"><br>
                <b-row v-if="documents.length">
                    <b-col offset-md="1" md="11" v-for="d in documents" :key="d.id" class="mt-1">
                        <b-link :href="'/shared/document/'+d.document_name" target='_blank' class="btn btn-link btn-sm">{{ d.document_name }}</b-link>
                    </b-col>
                </b-row>
            </div>
            
        </div>

    </div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BRow, BCol, BLink, BTable, BPagination } from 'bootstrap-vue';

    export default {
        components: {
            BRow, BCol, BLink, BTable, BPagination
        },
        props: {
            placement: {}
        },
        data() {
            return {
                orders: [],
                documents: [],
            }
        },
        mounted() {
            if(this.placement){
                this.orders = this.placement.product_order_relation;
                this.documents = this.placement.document_relation;
            }

        },
        methods: {
            
        },
        computed: {
            
        },

        
    }

</script>
