<template>
<div>
    <b-row>
        <b-col md="6">
        	<b-card >
        		<template v-slot:header>
        			<h6>Past Due T&E</h6>
        		</template>
                <b-row>
                	<b-col md="12">
                        <b-table responsive small hover bordered show-empty 
                            :items="lateOrders" 
                            :fields="lateOrderFields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                        >
                        <template v-slot:cell(days_over)="data">
                            {{ date_different(data.item.expect_return_date) }}
                        </template>
                        </b-table>
                        
                    </b-col>
                    
                </b-row>
                <b-row>
                    <b-col md="4">
                        <b-pagination v-model="currentPage" :total-rows="lateOrders.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                    </b-col>
                </b-row>
    		</b-card>
        </b-col>

        <b-col md="6">
            <b-card >
                <template v-slot:header>
                    <h6>Top 10 Influencer</h6>
                </template>
                <b-row>
                    <b-col md="12">
                        <b-table responsive small hover bordered show-empty 
                            :items="topInfluencers" 
                            :fields="topInfluencerFields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                        >
                        </b-table>
                    </b-col>
                    
                </b-row>
            </b-card>
        </b-col>

        <b-col md="12">
        	<b-card >
        		<template v-slot:header>
        			<h6>Product Order Count</h6>
        		</template>
                <b-row>
                    <b-col md="3">
                        <date-picker v-model="order_count_range" range input-class="form-control form-control-sm" placeholder="Date Range" @change="onChangeOrderCountRange"></date-picker>
                    </b-col>
                    <b-col md="3">
                        <select v-model="order_count_owner" class="form-control form-control-sm" @change="onSelectOrderCountOwner">
                            <option :value="undefined" selected>Owner</option>
                            <option :value="owner.id" v-for="owner in selectOwner">{{ owner.text }}</option>
                        </select>
                    </b-col>
                </b-row>
                <br>
    			<GChart
                    type="Table"
        			:settings="{ packages: ['table'] }"
    			    :data="orderChart"
    			/>
    		</b-card>
        </b-col>
        

    </b-row>
</div>
</template>

<script>

    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import { uniqBy, countBy, orderBy } from 'lodash';
    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard,  } from 'bootstrap-vue';
    import { ModelSelect, BasicSelect } from 'vue-search-select';

	import VueGoogleCharts from 'vue-google-charts';

    export default {
        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard,
            DatePicker,
            ModelSelect, BasicSelect,
            VueGoogleCharts,
        },
        props: {
            
        },
        data() {
            return {
                lateOrders: [],
                lateOrderFields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'date_out', label: 'Date Out' },
                    { key: 'expect_return_date', label: 'Expect Return' },
                    { key: 'days_over', label: 'Days Over' },
                    { key: 'owner', label: 'Owner' },
                ],
                totalRows: 1,
                currentPage: 1,
                perPage: 10,

                topInfluencers: [],
                topInfluencerFields: [
                    { key: 'name', label: 'Name'},
                    { key: 'grade', label: 'Grade' },
                    { key: 'owner', label: 'Owner' },
                ],

                orders: [],
                brands: {
                    2 : 'PL',
                    3 : 'SM',
                    4 : 'FF',
                    5 : 'TS',
                    6 : 'SC',
                    7 : 'HT',
                    8 : 'KJ',
                },
                order_count_owner: undefined,
                order_count_range: [],
                orderChart: [
			        [
						{ type: "string", label: "Brand", id: "brand" },
                        { type: "number", label: "This Year", id: "this_year" },
						{ type: "number", label: "Last Year", id: "last_year" },
						{ type: "number", label: "Percent", id: "per_cent" },
                        { type: "number", label: "Out (YTD)", id: "out_ytd" },
                        { type: "number", label: "Sold (YTD", id: "sold_ytd" },
                        { type: "number", label: "Return (YTD)", id: "return_ytd" },
                        { type: "number", label: "Out (Range)", id: "out_range" },
                        { type: "number", label: "Sold (Range", id: "sold_range" },
                        { type: "number", label: "Return (Range)", id: "return_range" },
                        { type: "number", label: "Total", id: "total" },
			        ],
			    ],
                
            }
        },
        mounted() {
            this.getProductOrder();
            this.getInfluencers();
            
            this.getOrder();
            
        },
        methods: {
        	getProductOrder () {
                axios.get('/marketing/product-order/data').then(res => {
                    this.lateOrders = res.data.filter(o => {
                    	const today = new Date();
                    	const expectreturn = new Date(o.expect_return_date);
                    	return o.expect_return_date && expectreturn <= today;
                    });
                });
            },
            
            getInfluencers () {
                axios.get('/marketing/contact/data').then(res => {
                    this.topInfluencers =orderBy( res.data.filter(c => c.grade).map(c => ({ name : c.general_contact_relation.firstname+' '+c.general_contact_relation.lastname, grade : c.grade, owner : c.owner })), ['grade'], ['desc']).slice(0, 10);
                });
            },


            /**************** T&E count *****************/
            getOrder() {
                axios.get('/marketing/product-order/data').then(res => {
                    this.orders = res.data;
                    this.orderCount(this.order_count_range, this.order_count_owner);
                });
            },
            onChangeOrderCountRange(item){
                this.orderCount(this.order_count_range, this.order_count_owner);
            },
            onSelectOrderCountOwner (item) {
                this.order_count_owner = item.target.value;
                this.orderCount(this.order_count_range, this.order_count_owner);
            },
            orderCount(date_range, owner){
                const startdate = new Date(date_range[0]);
                const enddate = new Date(date_range[1]);
                this.orderChart.length = 1;
                for( const [key, value] of Object.entries(this.brands) ){
                    var tmp = [];
                    tmp.push(value);
                    var thisyear = (new Date()).getFullYear();
                    var lastyear = thisyear - 1;

                    var thisyear_count = this.orders.filter(o => {
                        var year = (new Date(o.date_out)).getFullYear();
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        return res;
                    }).length;
                    tmp.push(thisyear_count);

                    var lastyear_count = this.orders.filter(o => {
                        var year = (new Date(o.date_out)).getFullYear();
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == lastyear;
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        return res;
                    }).length;
                    tmp.push(lastyear_count);

                    tmp.push(lastyear_count != 0 ? ((thisyear_count / lastyear_count)*100).toFixed(2) : 0);

                    var out_ytd = this.orders.filter(o => {
                        var year = (new Date(o.date_out)).getFullYear();
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear && o.status == 63;
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        return res
                    }).length;
                    tmp.push(out_ytd);

                    var sold_ytd = this.orders.filter(o => {
                        var year = (new Date(o.date_out)).getFullYear();
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear && o.status == 64;
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        return res
                    }).length;
                    tmp.push(sold_ytd);

                    var return_ytd = this.orders.filter(o => {
                        var year = (new Date(o.date_out)).getFullYear();
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear && o.status == 65;
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        return res;
                    }).length;
                    tmp.push(return_ytd);

                    var out_range = this.orders.filter(o => {
                        var res = 0;
                        if(date_range.length == 2){
                            var dateout = new Date(o.date_out);
                            var year = dateout.getFullYear();
                            res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear && o.status == 63 && dateout > startdate && dateout < enddate;
                            if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        }
                        return res;
                    }).length;
                    tmp.push(out_range);

                    var sold_range = this.orders.filter(o => {
                        var res = 0;
                        if(date_range.length == 2){
                            var dateout = new Date(o.date_out);
                            var year = dateout.getFullYear();
                            var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear && o.status == 64 && dateout > startdate && dateout < enddate;
                            if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        }
                        return res;
                    }).length;
                    tmp.push(sold_range);

                    var return_range = this.orders.filter(o => {
                        var res = 0;
                        if(date_range.length == 2){
                            var dateout = new Date(o.date_out);
                            var year = dateout.getFullYear();
                            var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key && year == thisyear && o.status == 65 && dateout > startdate && dateout < enddate;
                            if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        }
                        return res;
                    }).length;
                    tmp.push(return_range);

                    var total = this.orders.filter(o => {
                        var res = o.inventory_relation && o.inventory_relation.product_relation && o.inventory_relation.product_relation.BrandID == key;
                        if(owner != '' && owner != undefined) {res = res && o.owner == owner}
                        return res;
                    }).length;
                    tmp.push(total);

                    this.orderChart.push(tmp)

                }
            },
            
            onSelectPlacementYear(item){
                this.placement_count_year = item.target.value;
                this.placementCount(this.placement_count_year, this.placement_count_owner);
            },
            onSelectPlacementOwner (item) {
                this.placement_count_owner = item.target.value;
                this.placementCount(this.placement_count_year, this.placement_count_owner);
            },

            date_different(date){
                const currentdate = new Date();
                const date1 = new Date(date);
                return Math.round((currentdate-date1)/(1000*60*60*24))-1;
            },
        },
        computed: {
            selectOwner() {
                const selectOwner = this.orders.map(order => ({ id : order.owner, text : order.owner }));
                return uniqBy(selectOwner, 'id');
            },
        },

    }

</script>
