<template>
<div>
    <b-row>
        <b-col md="12">
            <button class="btn btn-link btn-sm" data-toggle="collapse" data-target="#display_pivot">Pivot Table</button>
        </b-col>
        <b-col md="12" class="collapse" id="display_pivot">
            <b-card >
                <vue-pivottable-ui
                    :data="pivot_data"
                    :aggregator-name="aggregatorName"
                    :renderer-name="rendererName"
                    :rows="rows"
                    :cols="cols"
                    :vals="vals"
                    :row-total="true"
                    :col-total="true"
                >
                </vue-pivottable-ui>
            </b-card>
        </b-col>
    </b-row>

    <b-row>
        <b-col md="12">
            <b-card>
                <template v-slot:header>
                    <h6>Expense List
                        <span class="float-right mt-1">
                            <b-link :href="'accounting/expense/add'" class="btn btn-outline-info btn-sm"><i class="fa fa-plus"></i></b-link>
                        </span>
                    </h6>
                </template>
                <b-row>
                    <b-col md="12">
                        <download-csv class="btn btn-link btn-sm" :data="export_data">Export CSV</download-csv>
                        <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>   
                    </b-col>                     
                </b-row>
                <b-row class="collapse show " id="display_filter">
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-input-group size="sm">
                                <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                                <b-input-group-append>
                                    <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Vendor" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <model-select :options="selectVendor" v-model="filter_vendor" placeholder="select item" class="form-control form-control-sm">
                            </model-select>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Category" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <model-select :options="selectCategory" v-model="filter_category" placeholder="select item" class="form-control form-control-sm">
                            </model-select>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Invoice Date" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <date-picker v-model="filter_date_range" range input-class="form-control form-control-sm" placeholder="Select date range"></date-picker>
                        </b-form-group>
                    </b-col>
                </b-row>                
                <hr>
                <b-row class="mt-3">
                    <b-col md="12">
                        <b-table responsive small hover bordered show-empty 
                            :items="filtered" 
                            :fields="fields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                            :filter="filter_search" 
                            :filter_category="filter_category"
                            :filter_vendor="filter_vendor"
                            :filter_date_range="filter_date_range"
                        >
                            <template v-slot:cell(category)="data" >
                                {{ data.item.category_relation.description }}<br>
                                <span class="badge badge-primary" v-if="data.item.occurrence_relation">{{ data.item.occurrence_relation.identifier }}</span>
                            </template>
                            <template v-slot:cell(total)="data" >
                                ${{ (Number(data.item.amount_paid) + Number(data.item.tax_paid) + Number(data.item.tip_paid)).toFixed(2) }}

                            </template>
                            <template v-slot:cell(expense_jmp_relation)="data" >
                                <div v-for="relation in data.value">
                                    {{ relation.period_name }}
                                </div>
                            </template>
                            <template v-slot:cell(id)="data">
                                <b-link :href="'accounting/expense/view/'+data.item.id" class="btn btn-link btn-sm">{{data.item.id}}</b-link>
                            </template>

                            <template v-slot:cell(actions)="data">
                                <b-link :href="'accounting/expense/update/'+data.item.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                                <b-button size="sm" variant="outline-danger" @click="deleteRecord(data.item.id)"><i class="fa fa-trash"></i></b-button>
                            </template>

                            <template v-slot:table-caption>Total {{filtered.length}} Records</template>
                        </b-table>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col offset-md="8" md="4">
                        <b-pagination v-model="currentPage" :total-rows="filtered.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                    </b-col>
                </b-row>
            </b-card>
        </b-col>
    </b-row>
</div>
</template>

<script>

    import DatePicker from 'vue2-datepicker';
    import { ModelSelect } from 'vue-search-select';
    import 'vue2-datepicker/index.css';
    import { uniqBy } from 'lodash';
    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard } from 'bootstrap-vue';
    import Pivot from '@marketconnect/vue-pivot-table'

    import { VuePivottableUi } from 'vue-pivottable'
    import 'vue-pivottable/dist/vue-pivottable.css'

    export default {
        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard,
            DatePicker,
            ModelSelect,
            Pivot,
            VuePivottableUi
        },
        props: {
            allexpense: {}
        },
        data() {
            return {
                pivot_data: [],
                export_data: [],
                aggregatorName: 'Sum',
                rendererName: 'Table',
                rows: ['category'],
                cols: ['show'],
                vals: ['total'],
                disabledFromDragDrop: ['show', 'category'],
                hiddenFromDragDrop: ['total'],

                occurrences: [],
                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'vendor_relation.name', label: 'Vendor', sortable: true },
                    { key: 'category', label: 'Category' },
                    { key: 'invoice', label: 'Invoice' },
                    { key: 'invoice_date', label: 'IV Date', sortable: true },
                    { key: 'total', label: 'Total'},
                    { key: 'expense_jmp_relation', label: 'JMP' },
                    { key: 'actions', label: 'Actions' }
                ],
                
                filter_search: null,
                filter_category: undefined,
                filter_vendor: undefined,
                filter_date_range: [],
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50]
            }
        },
        mounted() {
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }

            if(this.allexpense){
                //export data
                this.export_data = this.allexpense.map(e => ({
                    id: e.id,
                    vendor: e.vendor_relation ? e.vendor_relation.name : '',
                    category: e.category_relation ? e.category_relation.description : '',
                    invoice: e.invoice,
                    invoice_date: e.invoice_date,
                    who_paid: e.who_paid,
                    ns_bill: e.ns_bill,
                    from_account: e.from_account,
                    amount: e.amount_paid,
                    tax: e.tax_paid,
                    tip: e.tip_paid,
                    description: e.description
                }));

                // pivot table data
                this.pivot_data = this.allexpense.filter(e => e.category_relation && e.vendor_relation).map(e => {
                    const amount = e.amount_paid == null ? 0 : parseFloat(e.amount_paid);
                    const tax = e.tax_paid == null ? 0 : parseFloat(e.tax_paid);
                    const tip = e.tip_paid == null ? 0 : parseFloat(e.tip_paid);
                    const total = amount + tax + tip;
                    const tmp = [
                        total.toFixed(2),
                        amount,
                        tax,
                        tip,
                        e.category_relation.description,
                        e.vendor_relation.name,
                        e.occurrence_id == null || !(e.occurrence_relation) ? 'N/A' : e.occurrence_relation.identifier
                    ]
                    return tmp;
                });
                this.pivot_data.unshift(['total', 'bill', 'tax', 'tip', 'category', 'vendor', 'show'])
            }
        },
        methods: {
            deleteRecord(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/accounting/expense/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            },
            
            
        },
        computed: {
            filtered() {
                const filter_startdate = new Date(this.filter_date_range[0]);
                const filter_enddate = new Date(this.filter_date_range[1]);
                return this.allexpense.filter(expense => {
                    const invoice_date = new Date(expense.invoice_date);
                    let fill = true;
                    fill = fill && (this.filter_category === undefined || expense.category === this.filter_category) ;
                    fill = fill && (this.filter_vendor === undefined || expense.vendor_id === this.filter_vendor) ;
                    if(this.filter_date_range.length != 0 && this.filter_date_range[0] != null && this.filter_date_range[0] != null){
                        fill = fill && (invoice_date >= filter_startdate && invoice_date <= filter_enddate);
                    }
                    return fill;
                });
            },

            
            selectCategory() {
                const selectCategory = this.allexpense.filter(e => e.category_relation).map(expense => ({ value : expense.category_relation.id, text : expense.category_relation.description }));
                return uniqBy(selectCategory, 'value');
            },

            selectVendor() {
                const selectVendor = this.allexpense.filter(e => e.vendor_relation).map(expense => ({ value : expense.vendor_relation.id, text : expense.vendor_relation.name }));
                return uniqBy(selectVendor, 'value');
            },



        },

        

    }

</script>
