<template>

    <div>
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="e in errors">
                {{ e }}
            </li>
        </div>        
        <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
            <em><span style="color: orange">General</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Vendor</label> <span style="color: red">*</span>
                    <model-select :options="selectVendor" v-model="Form.vendor_id" placeholder="select item" class="form-control form-control-sm"></model-select>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Category</label> <span style="color: red">*</span>
                    <basic-select :options="selectCategory" :selected-option="Form.category" placeholder="select item" class="form-control form-control-sm" @select="onSelectCat" ></basic-select>
                </b-col>
                <b-col offset-md="6" md="6" v-if="isShow">
                    <label class="mt-2 col-form-label col-form-label-sm">Show Occurrence</label> <span style="color: red">*</span>
                    <model-select :options="slectShowOccurrence" v-model="Form.occurrence_id" placeholder="select item" class="form-control form-control-sm"></model-select>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Invoice Date</label>
                    <b-form-input type="date" v-model="Form.invoice_date" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Invoice</label>
                    <b-form-input v-model="Form.invoice" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Who Paid</label>
                    <b-form-input v-model="Form.who_paid" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">From Account</label>
                    <b-form-input v-model="Form.from_account" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">NS Bill ID</label>
                    <b-form-input v-model="Form.ns_bill" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Description</label>
                    <b-form-input v-model="Form.description" size="sm" ></b-form-input>
                </b-col>
            </b-row>

            <hr>
            <em><span style="color: orange">Spending</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Amount</label>
                    <b-input-group size="sm" prepend="$" class="mb-2">
                        <b-form-input type="number" v-model="Form.amount_paid" size="sm" step="0.01"></b-form-input>
                    </b-input-group>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Tax</label>
                    <b-input-group size="sm" prepend="$" class="mb-2">
                        <b-form-input type="number" v-model="Form.tax_paid" size="sm" step="0.01"></b-form-input>
                    </b-input-group>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Tip</label>
                    <b-input-group size="sm" prepend="$" class="mb-2">
                        <b-form-input type="number" v-model="Form.tip_paid" size="sm" step="0.01"></b-form-input>
                    </b-input-group>
                </b-col>
            </b-row>

            <hr>
            <em><span style="color: orange">General</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Brand</label>
                    <multi-select :options="selectBrand" :selected-options="Form.brand_id" placeholder="select item" @select="onSelectBrand" class="form-control form-control-sm"></multi-select>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Distributed</label><br>
                    <span v-if="Form.is100 != 100 && Form.is100 != 0" style="color: red">{{ Form.is100 }}% will be on SLMK</span>
                    <div v-for="brand in Form.brand_id">
                        <div class="input-group input-group-sm mb-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{brand.short}}</span>
                            </div>
                            <input type="number" class="form-control form-control-sm" step="0.01" max="100" v-model="brand.percent" @change="check100">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                    </div>
                </b-col>
                <!-- <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">JMP Associate</label><br>
                    <span>test</span>
                </b-col> -->
            </b-row>

            <hr>
            <em><span style="color: orange">Document</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Upload (Max 5 files)</label>
                    <file-pond ref="pond" allow-multiple="true" v-bind:files="Form.documents" v-on:updatefiles="onUpdateFile" accepted-file-types="image/*, application/pdf" instant-upload="false"/>
                </b-col>
                <b-col md="6" v-if="Form.uploaded_documents.length">
                    <label class="mt-2 col-form-label col-form-label-sm">Uploaded</label>
                    <li v-for="d in Form.uploaded_documents">
                        <b-link :href="'shared/document/'+d.document_name" target='_blank' class="btn btn-link btn-sm">{{ d.document_name }}</b-link>
                        <b-button size="sm" variant="outline-danger" @click="deleteDocument(d.id)"><i class="fa fa-times"></i></b-button>
                    </li>
                </b-col>
            </b-row>
            
            <hr>
            <em v-if="expense"><span style="color: orange">Notes</span></em>
            <b-row v-if="expense">
                <b-col md="12">
                    <!-- <b-form-textarea rows="3" max-rows="6" v-model="Form.note"></b-form-textarea> -->
                    <ckeditor :editor="editor" v-model="Form.note" ></ckeditor>
                </b-col>
            </b-row>

            <b-row class="text-center mt-2">
                <b-col md="12">
                    <b-button type="submit" size="sm" variant="info">Submit</b-button>
                    <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                </b-col>
            </b-row>
        </b-form>

    </div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BInputGroupAppend, BButton, BInputGroup, BAlert, BLink } from 'bootstrap-vue';

    import { MultiSelect, ModelSelect, BasicSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css';

    import vueFilePond from 'vue-filepond';
    import 'filepond/dist/filepond.min.css';
    import FilePondPluginImagePreview from 'filepond-plugin-image-preview';
    import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';
    import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type';

    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BInputGroupAppend, BButton, BInputGroup, BAlert, BLink,
            FilePond: vueFilePond(FilePondPluginImagePreview, FilePondPluginFileValidateType),
            MultiSelect, ModelSelect, BasicSelect,
            ckeditor: CKEditor.component,
        },
        props: {
            expense: {}
        },
        data() {
            return {
                success: '',
                errors: [],
                vendors: [],
                categories: [],
                show_categories: [6],
                isShow: false,
                occurrences: [],
                brands: [],
                editor: ClassicEditor,
                Form: {
                    vendor_id: '',
                    category: { value: '', text: '' },
                    occurrence_id: '',
                    invoice: '',
                    invoice_date: '',
                    ns_bill: '',
                    who_paid: '',
                    from_account: '',
                    amount_paid: '',
                    tax_paid: '',
                    tip_paid: '',
                    description: '',
                    brand_id: [],
                    note: '',
                    is100: 100,
                    documents:[],
                    uploaded_documents: [],
                },
            }
        },
        mounted() {
            this.getVendor();
            this.getCategory();
            this.getBrand();
            this.getOccurrence();
            if(this.expense){
                this.Form.vendor_id = this.expense.vendor_id;
                this.Form.category = { 
                    value : this.expense.category, 
                    text : '['+this.expense.category_relation.pid+'] -> '+'['+this.expense.category_relation.id+'] '+this.expense.category_relation.description 
                };
                if(this.expense.occurrence_id){
                    this.isShow = true;
                }
                this.Form.occurrence_id = this.expense.occurrence_id;
                this.Form.invoice = this.expense.invoice;
                this.Form.invoice_date = this.expense.invoice_date;
                this.Form.ns_bill = this.expense.ns_bill;
                this.Form.who_paid = this.expense.who_paid;
                this.Form.from_account = this.expense.from_account;
                this.Form.amount_paid = this.expense.amount_paid;
                this.Form.tax_paid = this.expense.tax_paid;
                this.Form.tip_paid = this.expense.tip_paid;
                this.Form.description = this.expense.description;
                
                this.Form.brand_id = this.expense.expense_distribution_relation.filter(b => b.brand_id != 1).map(brand => ({ value : brand.brand_id, text : brand.distribution_brand_relation.name, short:brand.distribution_brand_relation.short_name, percent:brand.percent }));
                this.Form.is100 = this.expense.expense_distribution_relation.filter(b => b.brand_id == 1).map(brand => brand.percent );
                this.Form.uploaded_documents = this.expense.document_relation;
            }
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            getVendor() {
                axios.get('/marketing/vendor/data').then(res => {
                    this.vendors = res.data;
                });
            },
            getCategory() {
                axios.get('/accounting/category/data').then(res => {
                    this.categories = res.data;
                });
            },
            getOccurrence() {
                axios.get('/marketing/occurrence/data').then(res => {
                    this.occurrences = res.data;
                });
            },
            getBrand() {
                axios.get('/shared/brand/data').then(res => {
                    this.brands = res.data;
                });
            },
            onSelectBrand (items) {
                this.Form.brand_id = items;
                items.forEach( (item) => {
                    item.percent = (100/items.length).toFixed(2);
                });
                this.check100();
            },
            check100(){
                if(this.Form.brand_id.length > 0){
                    const check100 = this.Form.brand_id.map(b => b.percent).reduce(function(a,b){
                        return parseFloat(a)+parseFloat(b);
                    });
                    this.Form.is100 = (100-check100).toFixed(2);
                }
                else{
                    this.Form.is100 = 100;
                }
            },
            onSelectCat(item) {
                this.Form.category = item;
                if(this.show_categories.includes(item.value)){
                    this.isShow = true;
                }
                else{
                    this.isShow = false;
                    this.Form.occurrence_id = '';
                }
            },

            onSubmit(){
                window.scrollTo(0,0);
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }
                for (var i = 0; i < this.Form.documents.length; i++) {
                    let file = this.Form.documents[i];
                    data.append("documents[" + i + "]", file);
                }
                
                const brandArr = this.Form.brand_id.map(brand => ({id: brand.value, percent: brand.percent}));
                data.append('brand_id', JSON.stringify(brandArr));
                data.append('category', this.Form.category.value);

                var postLink = '/accounting/expense/add';
                if(this.expense){
                    postLink = '/accounting/expense/update/'+this.expense.id;
                }

                axios.post(postLink, data).then(res=>{
                    this.errors = [];
                    localStorage.setItem('message', res.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing!'];
                    }
                });
                
            },

            onUpdateFile(files) {
                this.Form.documents = files.map(files => files.file);
            },

            deleteDocument(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/shared/document/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            }

        },
        computed: {
            selectVendor(){
                const selectVendor = this.vendors.map(vendor => ({ value : vendor.id, text : vendor.id+' - '+vendor.name }));
                return uniqBy(selectVendor, 'value');
            },
            selectCategory() {
                // get all show categories
                this.categories.forEach( (category) => {
                    if(this.show_categories.includes(category.pid)){
                        this.show_categories.push(category.id);
                    }
                });
                const selectCategory = this.categories.map(category => ({ value : category.id, text : '['+category.pid+'] -> '+'['+category.id+'] '+category.description }));
                return uniqBy(selectCategory, 'value');
            },
             selectBrand() {
                const selectBrand = this.brands.filter(b => b.pid == 1).map(brand => ({ value : brand.id, text : brand.name, short:brand.short_name, percent:0 }));
                return uniqBy(selectBrand, 'value');
            },
            slectShowOccurrence() {
                const slectShowOccurrence = this.occurrences.map(occurrence => ({ value : occurrence.id, text : occurrence.identifier }));
                return uniqBy(slectShowOccurrence, 'value');
            }
            
        },

        
    }

</script>
