<template>

    <div>
        <b-row>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Vendor</strong></label>
                <label class="col-md-8" v-if="expense.vendor_relation">{{expense.vendor_relation.name}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Category</strong></label>
                <label class="col-md-8" v-if="expense.category_relation">{{expense.category_relation.description}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Invoice Date</strong></label>
                <label class="col-md-8">{{expense.invoice_date}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Invoice</strong></label>
                <label class="col-md-8">{{expense.invoice}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Who Paid</strong></label>
                <label class="col-md-8">{{expense.who_paid}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>From Account</strong></label>
                <label class="col-md-8">{{expense.from_account}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>NS Bill ID</strong></label>
                <label class="col-md-8">{{expense.ns_bill}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Description</strong></label>
                <label class="col-md-8">{{expense.description}}</label>
            </b-col>
        </b-row>

        <hr>

        <ul class="nav nav-tabs nav-justified nav-sm">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#amount"><em><span style="color: orange">Amount</span></em></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#distribution"><em><span style="color: orange">Distribution</span></em></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#show"><em><span style="color: orange">Show</span></em></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#document"><em><span style="color: orange">Document</span></em></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#notes"><em><span style="color: orange">Notes</span></em></a>
            </li>
        </ul>

        <div class="tab-content">

            <div id="amount" class="tab-pane active"><br>
                <b-row>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Amount</strong></label>
                        <label class="col-md-8">${{expense.amount_paid}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Tax</strong></label>
                        <label class="col-md-8">${{expense.tax_paid}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Tip</strong></label>
                        <label class="col-md-8">${{expense.tip_paid}}</label>
                    </b-col>
                </b-row>
            </div>

            <div id="distribution" class="tab-pane fade"><br>
                <b-row >
                    <b-col md="6" v-if="distributions.length">
                        <div v-for="dis in distributions" :key="dis.brand_id" class="mt-2">
                            <span v-if="dis.distribution_brand_relation">
                                <label class="col-md-3"><strong>{{ dis.distribution_brand_relation.name }}</strong></label>
                                <label class="col-md-8">{{ dis.percent }} %</label>
                            </span>
                        </div>
                    </b-col>
                    <b-col md="6" v-if="jmpexpenses.length" class="mt-2">
                        <div v-for="jmp in jmpexpenses" :key="jmp.id">
                            <label class="col-md-3"><strong>{{ jmp.period_name }}</strong></label>
                            <label class="col-md-8">{{ jmp.pivot.percent_submit }} %</label>
                        </div>
                    </b-col>
                </b-row>
            </div>

            <div id="show" class="tab-pane fade"><br>
                <b-row v-if="occurrence">
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Identifier</strong></label>
                        <label class="col-md-8">
                            <b-link :href="'/marketing/occurrence/view/'+occurrence.id" target='_blank' class="btn btn-link">{{occurrence.identifier}}</b-link>
                        </label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Location</strong></label>
                        <label class="col-md-8">{{occurrence.location}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Start</strong></label>
                        <label class="col-md-8">{{occurrence.startdate}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>End</strong></label>
                        <label class="col-md-8">{{occurrence.enddate}}</label>
                    </b-col>
                </b-row>
                <b-row v-else>
                    <b-col md="12" class="text-center mt-2">Not related to any show</b-col>
                </b-row>
            </div>

            <div id="document" class="tab-pane fade"><br>
                <b-row v-if="documents.length">
                    <b-col offset-md="1" md="11" v-for="d in documents" :key="d.id">
                        <li>
                            <b-link :href="'shared/document/'+d.document_name" target='_blank' class="btn btn-link btn-sm">{{ d.document_name }}</b-link>
                        </li>
                    </b-col>
                </b-row>
                <b-row v-else>
                    <b-col md="12" class="text-center mt-2">There are no documents</b-col>
                </b-row>
            </div>

            <div id="notes" class="tab-pane fade"><br>
                <b-row class="mt-3">
                    <b-col md="12">
                        <b-table responsive small hover bordered show-empty 
                            :items="notes" 
                            :fields="fields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                        >
                            <template v-slot:cell(detail)="data">
                                <span v-html="data.value"></span>
                            </template>
                            <template v-slot:table-caption>Total {{notes.length}} Records</template>
                        </b-table>

                    </b-col>
                </b-row>
                <b-row>
                    <b-col offset-md="8" md="4">
                        <b-pagination v-model="currentPage" :total-rows="notes.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                    </b-col>
                </b-row>
            </div>

        </div>

    </div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BRow, BCol, BLink, BTable, BPagination } from 'bootstrap-vue';

    export default {
        props: {
            expense: {}
        },
        data() {
            return {
                success: '',
                errors: [],
                distributions: [],
                jmpexpenses: [],
                documents: [],
                occurrence: [],
                notes: [],
                fields: [
                    { key: 'action_relation.description', label: 'Action' },
                    { key: 'detail', label: 'Detail' },
                    { key: 'date_created', label: 'Date', sortable: true },
                    { key: 'user_relation.username', label: 'Owner' },
                ],
                currentPage: 1,
                perPage: 10,
            }
        },
        mounted() {
            if(this.expense){
                this.distributions = this.expense.expense_distribution_relation;
                this.jmpexpenses = this.expense.expense_jmp_relation;
                this.occurrence = this.expense.occurrence_relation;
                this.documents = this.expense.document_relation;
                this.notes = this.expense.note_relation;
                // console.log(this.occurrence);
            }

        },
        methods: {
            scrollToTop() {
                window.scrollTo(0,0);
            },

            
        },
        computed: {
            
        },

        components: {
            BRow, BCol, BLink, BTable, BPagination
        }
    }

</script>
