<template>
    <div>
        <b-row>
            <b-col md="12">
                <download-csv class="btn btn-link btn-sm" :data="export_data">Export CSV</download-csv>
                <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>   
            </b-col>                     
        </b-row>

        <div class="collapse show " id="display_filter">
            <b-row>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <b-input-group size="sm">
                            <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                            <b-input-group-append>
                                <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                    <b-form-group label="JMP Period" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <model-select :options="selectJMPPeriod" v-model="filter_jmpperiod" placeholder="select item" class="form-control form-control-sm">
                        </model-select>
                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Vendor" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <model-select :options="selectVendor" v-model="filter_vendor" placeholder="select item" class="form-control form-control-sm">
                        </model-select>
                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Category" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <model-select :options="selectCategory" v-model="filter_category" placeholder="select item" class="form-control form-control-sm">
                        </model-select>
                    </b-form-group>
                </b-col>
                
            </b-row>                
        </div>
        <hr>
        <b-row class="mt-3">
            <b-col md="12">
                <b-table responsive small hover bordered show-empty 
                    :items="filtered" 
                    :fields="fields" 
                    :per-page="perPage" 
                    :current-page="currentPage" 
                    :filter="filter_search" 
                    :filter_category="filter_category"
                    :filter_vendor="filter_vendor"
                    :filter_jmpperiod="filter_jmpperiod"
                >
                    <template v-slot:cell(expense_category)="data">
                        <b-link :href="'accounting/expense/view/'+data.item.id" class="btn btn-link btn-sm">
                            {{data.item.expense_relation.id}} - {{data.item.expense_relation.category_relation.description}}
                        </b-link>
                    </template>
                    <template v-slot:cell(vendor)="data">
                        <div v-if="data.item.expense_relation.vendor_relation">
                            {{data.item.expense_relation.vendor_relation.name}}
                        </div>
                    </template>
                    <template v-slot:cell(actions)="data">
                        <b-link :href="'accounting/jmp-expense/update/'+data.item.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                        <b-button size="sm" variant="outline-danger" @click="deleteRecord(data.item.id)"><i class="fa fa-trash"></i></b-button>
                    </template>

                    <template v-slot:table-caption>Total {{filtered.length}} Records</template>
                </b-table>
            </b-col>
        </b-row>

        <b-row>
            <b-col offset-md="8" md="4">
                <b-pagination v-model="currentPage" :total-rows="filtered.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
            </b-col>
        </b-row>

    </div>
    
</template>

<script>

    import { ModelSelect } from 'vue-search-select';
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import { uniqBy } from 'lodash';
    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink } from 'bootstrap-vue';

    export default {
        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink,
            DatePicker,
            ModelSelect,
        },
        props: {
            jmpexpense: {}
        },
        data() {
            return {
                export_data: [],
                occurrences: [],
                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'expense_category', label: 'Expense - Category' },
                    { key: 'vendor', label: 'Vendor' },
                    { key: 'jmpperiod_relation.period_name', label: 'Period' },
                    
                    { key: 'percent_submit', label: 'Submit (%)' },
                    { key: 'percent_approval', label: 'Approval (%)'},
                    { key: 'actions', label: 'Actions' }
                ],
                
                filter_search: null,
                filter_jmpperiod: undefined,
                filter_category: undefined,
                filter_vendor: undefined,
                filter_date_range: [],
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50]
            }
        },
        mounted() {
            if(this.jmpexpense){
                //export data
                this.export_data = this.jmpexpense.map(e => ({
                    id: e.id,
                    expense_id: e.expense_id,
                    category: e.expense_relation ? e.expense_relation.category_relation.description : '',
                    vendor: e.expense_relation ? e.expense_relation.vendor_relation.name : '',
                    jmp_period: e.jmpperiod_relation ? e.jmpperiod_relation.period_name : '',
                    percent_submit: e.percent_submit,
                    percent_approval: e.percent_approval
                }));
            }

            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }

        },
        methods: {
            deleteRecord(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/accounting/jmp-expense/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            },
            
        },
        computed: {
            filtered() {
                return this.jmpexpense.filter(expense => {
                    let fill = true;
                    fill = fill && (this.filter_category === undefined || expense.expense_relation.category === this.filter_category) ;
                    fill = fill && (this.filter_vendor === undefined || expense.expense_relation.vendor_id === this.filter_vendor) ;
                    fill = fill && (this.filter_jmpperiod === undefined || expense.jmpperiod_relation.id === this.filter_jmpperiod) ;
                    return fill;
                });
            },            
            selectCategory() {
                const selectCategory = this.jmpexpense.filter(e => e.expense_relation.category_relation).map(expense => ({ value : expense.expense_relation.category_relation.id, text : expense.expense_relation.category_relation.description }));
                return uniqBy(selectCategory, 'value');
            },
            selectVendor() {
                const selectVendor = this.jmpexpense.filter(e => e.expense_relation.vendor_relation).map(expense => ({ value : expense.expense_relation.vendor_relation.id, text : expense.expense_relation.vendor_relation.name }));
                return uniqBy(selectVendor, 'value');
            },
            selectJMPPeriod() {
                const selectJMPPeriod = this.jmpexpense.filter(e => e.jmpperiod_relation).map(expense => ({ value : expense.jmpperiod_relation.id, text : expense.jmpperiod_relation.period_name }));
                return uniqBy(selectJMPPeriod, 'value');
            },

        },

        

    }

</script>
