<template>

    <div>
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="e in errors">
                {{ e }}
            </li>
        </div>
        <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Expense</label>
                    <b-form-input v-model="Form.expense" size="sm" readonly></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Period</label>
                    <b-form-input v-model="Form.period" size="sm" readonly></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Submit (%)</label>
                    <b-form-input v-model="Form.submit" size="sm" readonly></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Approval (%)</label> <span style="color: red">*</span>
                    <b-form-input type="number" step="0.01" min="0" max="100" v-model="Form.approval" size="sm" ></b-form-input>
                </b-col>
            </b-row>
            <br>
            <b-row class="text-center mt-2">
                <b-col md="12">
                    <b-button type="submit" size="sm" variant="info">Submit</b-button>
                    <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                </b-col>
            </b-row>
        </b-form>

    </div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BFormGroup, BButton, BAlert, BLink } from 'bootstrap-vue';

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BFormGroup, BButton, BAlert, BLink
        },
        props: {
            jmpexpense: {}
        },
        data() {
            return {
                success: '',
                errors: [],
                
                Form: {
                    expense: '',
                    period: '',
                    submit: '',
                    approval: '',
                },
            }
        },
        mounted() {
            if(this.jmpexpense){
                this.Form.expense = this.jmpexpense.expense_relation.id + ' - ' + this.jmpexpense.expense_relation.vendor_relation.VName + ' - ' + this.jmpexpense.expense_relation.category_relation.description;
                this.Form.period = this.jmpexpense.jmpperiod_relation.period_name;
                this.Form.submit = this.jmpexpense.percent_submit;
                this.Form.approval = this.jmpexpense.percent_approval;
            }
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {           
            onSubmit(){
                window.scrollTo(0,0);
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }

                var postLink = '/accounting/jmp-expense/add';
                if(this.jmpexpense){
                    postLink = '/accounting/jmp-expense/update/'+this.jmpexpense.id;
                }

                axios.post(postLink, data).then(res=>{
                    this.errors = [];
                    localStorage.setItem('message', res.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing!'];
                    }
                });
            },
        },
        computed: {
            
        },

        
    }

</script>
