<template>
<div>
    <!-- <b-row>
        <b-col md="12">
            <button class="btn btn-link btn-sm" data-toggle="collapse" data-target="#display_pivot">Pivot Table</button>
        </b-col>
        <b-col md="12" class="collapse" id="display_pivot">
            <b-card >
                <vue-pivottable-ui
                    :data="pivot_data"
                    :aggregator-name="aggregatorName"
                    :renderer-name="rendererName"
                    :rows="rows"
                    :cols="cols"
                    :vals="vals"
                    :row-total="true"
                    :col-total="true"
                >
                </vue-pivottable-ui>
            </b-card>
        </b-col>
    </b-row> -->
    <b-row>
        <b-col md="12">
            <b-card >
                <template v-slot:header>
                    <h6>Marketing Inventory
                        <span class="float-right mt-1">
                            <b-link :href="'/marketing/inventory/add/'" class="btn btn-outline-info btn-sm"><i class="fa fa-plus"></i></b-link>
                        </span>
                    </h6>
                </template>
                <b-row>
                    <b-col md="12">
                        <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>   
                    </b-col>                     
                </b-row>

                <div class="collapse show " id="display_filter">
                    <b-row>
                        <b-col md="6" class="mt-3">
                            <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                                <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                            </b-form-group>
                        </b-col>
                        <b-col md="6" class="mt-3">
                            <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                                <b-input-group size="sm">
                                    <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                                    <b-input-group-append>
                                        <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                                    </b-input-group-append>
                                </b-input-group>
                            </b-form-group>
                        </b-col>
                    </b-row>                
                </div>
                <hr>
                <b-row class="mt-3">
                    <b-col md="12">
                        <b-table responsive small hover bordered show-empty 
                            :items="data" 
                            :fields="fields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                            :filter="filter_search" 
                        >
                            <template v-slot:cell(id)="data">
                                <b-link :href="'/marketing/inventory/view/'+data.item.id" class="btn btn-link btn-sm">{{data.item.id}}</b-link>
                            </template>
                            <template v-slot:cell(sku)="data">
                                <span v-if="data.item.product_relation">{{data.item.product_relation.SKU}} - {{data.item.product_relation.Name}}</span>
                            </template>
                            <template v-slot:cell(serial)="data">
                                <span v-for="asset in data.item.asset_relation">
                                    {{asset.serial}}
                                    <span v-if="asset.transaction_relation">
                                        <span v-if="asset.transaction_relation.TrAction == 172"> - In</span>
                                        <span v-if="asset.transaction_relation.TrAction == 173"> - Out</span>
                                    </span>
                                    <br>
                                </span>
                            </template>
                            <template v-slot:cell(addon)="data">
                                <span v-if="data.item.addon == 1"> &#10003;</span>
                            </template>
                            <template v-slot:table-caption>Total {{data.length}} Records</template>
                        </b-table>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col offset-md="8" md="4">
                        <b-pagination v-model="currentPage" :total-rows="data.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                    </b-col>
                </b-row>
                
            </b-card>
        </b-col>
    </b-row>
</div>    
</template>

<script>

    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard, } from 'bootstrap-vue';
    import { ModelSelect } from 'vue-search-select';
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import { uniqBy } from 'lodash';
    import { VuePivottableUi } from 'vue-pivottable'
    import 'vue-pivottable/dist/vue-pivottable.css'

    export default {
        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard,
            ModelSelect,
            DatePicker,
            VuePivottableUi
        },
        props: {
            data: {}
        },
        data() {
            return {   
                // brands: {
                //     2 : 'PL',
                //     3 : 'SM',
                //     4 : 'FF',
                //     5 : 'TS',
                //     6 : 'SC',
                //     7 : 'HT',
                //     8 : 'KJ',
                // }, 
                // pivot_data: [],
                // aggregatorName: 'Sum',
                // rendererName: 'Table',
                // rows: ['brand'],
                // vals: ['asset', 'sku'],

                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'sku', label: 'SKU' },
                    { key: 'serial', label: 'Serial' },
                    { key: 'available', label: 'Available' },
                    { key: 'onhand', label: 'On Hand' },
                    { key: 'addon', label: 'Addon' },
                ],
                
                filter_search: null,
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50]
            }
        },
        mounted() {
            // if(this.data){
            //     // pivot table data
            //     this.pivot_data = this.data.filter(i => i.product_relation && i.asset_relation).map(i => {
            //         const tmp = [
            //             i.product_relation.SKU,
            //             i.asset_relation.length ? i.asset_relation.length : 0,
            //             this.brands[i.product_relation.BrandID]
            //         ]
            //         return tmp;
            //     });
            //     this.pivot_data.unshift(['sku', 'asset', 'brand']);
            // }
        },
        methods: {
            
        },
        computed: {

        },

        

    }

</script>
