<template>
<div class="row">
    <b-col md="12">
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="e in errors">
                {{ e }}
            </li>
        </div>
        <b-card >
            <template v-slot:header>
                <h6><span v-if="transaction">Update Transaction</span><span v-else>Add Transaction</span>
                    <span class="float-right mt-1">
                        <b-link :href="'/marketing/inventory/'" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-left"></i></b-link>
                    </span>
                </h6>
            </template>
                <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
                <em><span style="color: orange">General</span></em>
                <b-row>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">Asset</label> <span style="color: red">*</span>
                        <basic-select :options="selectAsset" :selected-option="Form.is_asset" placeholder="select item" class="form-control form-control-sm" @select="onSelectAsset" ></basic-select>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">Product</label> <span style="color: red">*</span>
                        <basic-select :options="selectInventory" :selected-option="Form.inventory_id" placeholder="select item" class="form-control form-control-sm" @select="onSelectInventory" ></basic-select>
                    </b-col>
                    <b-col md="6" v-if="Form.is_asset.value == 175">
                        <label class="mt-2 col-form-label col-form-label-sm">Serial</label> <span style="color: red">*</span>
                        <b-form-input v-model="Form.serial" size="sm" @change="checkSerial" ></b-form-input>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">Quantity</label>
                        <b-form-input type="number" v-model="Form.quantity" size="sm" ></b-form-input>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">color</label>
                        <b-form-input v-model="Form.color" size="sm" ></b-form-input>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">kit</label>
                        <b-form-input v-model="Form.kit" size="sm" ></b-form-input>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">NS Location</label>
                        <b-form-input v-model="Form.ns_location" size="sm" ></b-form-input>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">NS Order Number</label>
                        <b-form-input v-model="Form.ns_order_number" size="sm" ></b-form-input>
                    </b-col>
                </b-row>            

                <hr>
                <em><span style="color: orange">Transaction</span></em>
                <b-row>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">Check In/Out</label> <span style="color: red">*</span>
                        <basic-select :options="selectTransaction" :selected-option="Form.transaction_action" placeholder="select item" class="form-control form-control-sm" @select="onSelectTransaction"></basic-select>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">Sender/Owner</label>
                        <b-form-input v-model="Form.owner" size="sm" ></b-form-input>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">Date</label>
                        <b-form-input type="date" v-model="Form.transaction_date" size="sm" ></b-form-input>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">Note</label>
                        <b-form-input v-model="Form.note" size="sm" ></b-form-input>
                    </b-col>
                    <b-col md="6" v-if="Form.transaction_action.value == 172">
                        <label class="mt-2 col-form-label col-form-label-sm">Location</label>
                        <b-form-input v-model="Form.location" size="sm" ></b-form-input>
                    </b-col>
                    <b-col md="6" v-if="Form.transaction_action.value == 173">
                        <label class="mt-2 col-form-label col-form-label-sm">Send to</label>
                        <basic-select :options="selectSendTo" :selected-option="Form.send_to" placeholder="select item" class="form-control form-control-sm" @select="onSelectSendTo"></basic-select>
                    </b-col>
                    <b-col md="6" v-if="Form.transaction_action.value == 173">
                        <label class="mt-2 col-form-label col-form-label-sm">Term / Reason</label>
                        <b-form-input v-model="Form.term" size="sm" ></b-form-input>
                    </b-col>
                    <b-col md="6" v-if="Form.transaction_action.value == 173">
                        <label class="mt-2 col-form-label col-form-label-sm">Send to Person</label>
                        <b-form-input v-model="Form.send_to_value" placeholder="Enter T&E ID if Send to T&E" size="sm" ></b-form-input>
                    </b-col>
                </b-row>
                
                <br>
                <b-row class="text-center mt-2">
                    <b-col md="12">
                        <b-button type="submit" size="sm" variant="info"><b-spinner small label="Spinning" v-if="spinning == true"></b-spinner>Submit</b-button>
                        <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                    </b-col>
                </b-row>
            </b-form>
        </b-card>
    </b-col>
</div>    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BCard, BSpinner } from 'bootstrap-vue';

    import { MultiSelect, ModelSelect, BasicSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css';

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BCard, BSpinner,
            MultiSelect, ModelSelect, BasicSelect,
        },
        props: {
            user: {},
            transaction: {},
        },
        data() {
            return {
                errors: [],
                spinning: false,
                listlists: [],
                inventories: [],
                Form: {
                    is_asset: { value: '', text: '' },
                    inventory_id: { value: '', text: '' },
                    serial: '',
                    quantity: '',
                    color: '',
                    kit: '',
                    ns_location: '',
                    ns_order_number: '',
                    transaction_action: { value: '', text: '' },
                    owner: this.user,
                    transaction_date: new Date().toISOString().slice(0,10),
                    note: '',
                    location: '',
                    term: '',
                    send_to: { value: '', text: '' },
                    send_to_value: '',
                    
                },
            }
        },
        mounted() {
            this.getListList();
            this.getInventory();

            if(this.transaction){
                this.Form.is_asset = this.transaction.is_asset == 1 ? {value : 175, text : 'Asset'} : {value : 174, text : 'Non-Asset'};
                this.Form.inventory_id = { value : this.transaction.inventory_relation.id, text : this.transaction.inventory_relation.product_relation.SKU+' - '+this.transaction.inventory_relation.product_relation.Name };
                this.Form.serial = this.transaction.serial;
                this.Form.quantity = this.transaction.quantity;
                this.Form.color = this.transaction.color;
                this.Form.kit = this.transaction.kit;
                this.Form.ns_location = this.transaction.ns_location;
                this.Form.ns_order_number = this.transaction.ns_order_number;

                this.Form.transaction_action = this.transaction.action_relation ? { value : this.transaction.TrAction, text : this.transaction.action_relation.description} : {};
                this.Form.owner = this.transaction.owner;
                this.Form.transaction_date = this.transaction.TrDate;
                this.Form.note = this.transaction.note;
                this.Form.location = this.transaction.location;
                this.Form.term = this.transaction.out_to_term;
                this.Form.send_to = this.transaction.out_to_relation ? { value : this.transaction.out_to_choice, text : this.transaction.out_to_relation.description } : {};
                this.Form.send_to_value = this.transaction.out_to_value;

            }


            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            getListList() {
                axios.get('/shared/listlist/data').then(res => {
                    this.listlists = res.data;
                });
            },
            onSelectAsset (item) {
                this.Form.is_asset = item;
                if(this.Form.is_asset.value == 175){
                    this.Form.quantity = 1;
                }
                else{
                    this.Form.quantity = '';
                }
            },
            onSelectTransaction (items) {
                this.Form.transaction_action = items;
            },
            onSelectSendTo (items) {
                this.Form.send_to = items;
            },
            getInventory() {
                axios.get('/marketing/inventory/data').then(res => {
                    this.inventories = res.data;
                });
            },
            onSelectInventory (items) {
                this.Form.inventory_id = items;
                this.checkSerial(this.Form.serial);
            },
            checkSerial(item) {
                if(item != '' && this.Form.inventory_id.value != ''){
                    axios.post('/marketing/inventory/checkserial', { 'serial' : item, 'inventory_id' : this.Form.inventory_id.value }).then(res => {
                        if(res.data == 0){
                            this.Form.transaction = {};
                            if(!confirm("This is new serial, continue will create a new asset")){
                                this.Form.serial = '';
                            }
                        }
                        else{
                            if(res.data.transaction_relation.TrAction == 172){
                                alert("This Product with Serial "+item+" was IN "+res.data.transaction_relation.location+"!!!");
                                this.Form.transaction = { value: 173, text: "Out"};
                            }
                            if(res.data.transaction_relation.TrAction == 173){
                                alert("This Product with Serial "+item+" was OUT !!!");
                                this.Form.transaction = { value: 172, text: "In"};
                            }
                        }
                    });   
                }                                 
            },
            onSubmit(){
                this.spinning = true;
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }
                data.append('is_asset', this.Form.is_asset.value);
                data.append('inventory_id', this.Form.inventory_id.value);
                data.append('transaction_action', this.Form.transaction_action.value);
                data.append('send_to', this.Form.send_to.value);
                var postLink = '/marketing/inventory/add';
                if(this.transaction){
                    postLink = '/marketing/inventory/update/'+this.transaction.id;
                }

                axios.post(postLink, data).then(response => {
                    this.errors = [];
                    localStorage.setItem('message', response.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
                window.scrollTo(0,0);
            },            

        },
        computed: {
            selectAsset(){
                const selectAsset = this.listlists.filter(ll => ll.pid == 174).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectAsset, 'value');
            },
            selectTransaction(){
                const selectTransaction = this.listlists.filter(ll => ll.pid == 171).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectTransaction, 'value');
            },
            selectSendTo(){
                const selectSendTo = this.listlists.filter(ll => ll.pid == 177).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectSendTo, 'value');
            },
            selectInventory(){
                const selectInventory = this.inventories.filter(p => p.product_relation).map(p => ({ value : p.id, text : p.product_relation.SKU+' - '+p.product_relation.Name }));
                return uniqBy(selectInventory, 'value');
            },
        },
        
    }

</script>
