<template>
<div class="row">
    <b-col md="12">
        <b-card >
            <template v-slot:header>
                <h6>View Inventory
                    <span class="float-right mt-1">
                        <b-link :href="'/marketing/inventory/'" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-left"></i></b-link>
                    </span>
                </h6>
            </template>
            <b-row>
                <b-col md="12" class="mt-2">
                    <label class="col-md-3"><strong>Product</strong></label>
                    <label class="col-md-8">{{inventory.product_relation.SKU}}</label>
                </b-col>
                <b-col md="12" class="mt-2">
                    <label class="col-md-3"><strong>Available</strong></label>
                    <label class="col-md-8">{{inventory.available}}</label>
                </b-col>
                <b-col md="12" class="mt-2">
                    <label class="col-md-3"><strong>On Hand</strong></label>
                    <label class="col-md-8">{{inventory.onhand}}</label>
                </b-col>
            </b-row>

            <hr>

            <ul class="nav nav-tabs nav-justified nav-sm">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#asset"><em><span style="color: orange">Asset</span></em></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#transaction"><em><span style="color: orange">Transaction</span></em></a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="asset" class="tab-pane active">
                    <b-row class="mt-3">
                        <b-col md="6" class="mt-3">
                            <b-form-group label="Action" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                                <model-select :options="selectAction" v-model="filter_action" placeholder="select item" class="form-control form-control-sm">
                            </model-select>
                            </b-form-group>
                        </b-col>

                        <b-col md="6" class="mt-3">
                            <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                                <b-input-group size="sm">
                                    <input v-model="filter_asset" class="form-control form-control-sm" placeholder="Type to Search" />
                                    <b-input-group-append>
                                        <b-button :disabled="!filter_asset" @click="filter_asset = ''">Clear</b-button>
                                    </b-input-group-append>
                                </b-input-group>
                            </b-form-group>
                        </b-col>
                    </b-row>            
                    <b-row class="mt-3">
                        <b-col md="12">
                            <b-table responsive small hover bordered show-empty 
                                :items="asset_filtered" 
                                :fields="asset_fields" 
                                :per-page="asset_perPage" 
                                :current-page="asset_currentPage" 
                                :filter="filter_asset"
                            >
                                <template v-slot:cell(id)="data">
                                    <b-link :href="'/marketing/asset/view/'+data.item.id" class="btn btn-link btn-sm">{{data.item.id}}</b-link>
                                </template>
                                <template v-slot:cell(transaction_action)="data">
                                    <span v-if="data.item.transaction_relation">
                                        <span v-if="data.item.transaction_relation.TrAction == 172">In</span>
                                        <span v-if="data.item.transaction_relation.TrAction == 173">Out</span>
                                    </span>
                                </template>
                                <template v-slot:cell(location)="data">
                                    <span v-if="data.item.transaction_relation">
                                        <span v-if="data.item.transaction_relation.TrAction == 172 && data.item.transaction_relation.location">
                                            {{data.item.transaction_relation.location}}
                                        </span>
                                        <span v-if="data.item.transaction_relation.TrAction == 173 && data.item.transaction_relation.out_to_relation">
                                            {{data.item.transaction_relation.out_to_relation.description}}
                                        </span>
                                    </span>
                                </template>
                                <template v-slot:cell(asset_update)="data">
                                    <span v-if="data.item.transaction_id == null">
                                        <b-link :href="'/marketing/inventory/add'" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                                    </span>
                                    <span v-else>
                                        <b-link :href="'/marketing/inventory/update/'+data.item.transaction_id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                                    </span>
                                    
                                </template>
                                
                                <template v-slot:table-caption>Total {{asset_filtered.length}} Records</template>
                            </b-table>
                        </b-col>
                        <b-col offset-md="8" md="4">
                            <b-pagination v-model="asset_currentPage" :total-rows="asset_filtered.length" :per-page="asset_perPage" align="fill" size="sm"></b-pagination>
                        </b-col>
                    </b-row>
                </div>

                <div id="transaction" class="tab-pane fade">
                    <b-row class="mt-3">
                        <b-col md="6" class="mt-3">
                            <b-form-group label="Action" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                                <model-select :options="selectAction" v-model="filter_action" placeholder="select item" class="form-control form-control-sm">
                            </model-select>
                            </b-form-group>
                        </b-col>

                        <b-col md="6" class="mt-3">
                            <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                                <b-input-group size="sm">
                                    <input v-model="filter_transaction" class="form-control form-control-sm" placeholder="Type to Search" />
                                    <b-input-group-append>
                                        <b-button :disabled="!filter_transaction" @click="filter_transaction = ''">Clear</b-button>
                                    </b-input-group-append>
                                </b-input-group>
                            </b-form-group>
                        </b-col>
                    </b-row>                
                    <b-row class="mt-3">
                        <b-col md="12">
                            <b-table responsive small hover bordered show-empty 
                                :items="transaction_filtered" 
                                :fields="transaction_fields" 
                                :per-page="transaction_perPage" 
                                :current-page="transaction_currentPage" 
                                :filter="filter_transaction" 
                            >
                                <template v-slot:cell(type)="data">
                                    <span v-if="data.item.is_asset == 1">
                                        Asset<br>
                                        &nbsp;&nbsp;&nbsp;&nbsp;SN: {{data.item.serial}}
                                    </span>
                                    <span v-else>Non-Asset</span>
                                </template>
                                <template v-slot:cell(transaction_action)="data">
                                    <span v-if="data.item.TrAction == 172">In</span>
                                    <span v-if="data.item.TrAction == 173">Out</span>
                                </template>
                                <template v-slot:cell(transaction_update)="data">
                                    <b-link :href="'/marketing/inventory/update/'+data.item.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                                </template>
                                <template v-slot:table-caption>Total {{transaction_filtered.length}} Records</template>
                            </b-table>
                        </b-col>
                        <b-col offset-md="8" md="4">
                            <b-pagination v-model="transaction_currentPage" :total-rows="transaction_filtered.length" :per-page="transaction_perPage" align="fill" size="sm"></b-pagination>
                        </b-col>
                    </b-row>
                </div>
            </div>
        </b-card>
    </b-col>
</div>    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BRow, BCol, BLink, BTable, BPagination, BInputGroupAppend, BInputGroup, BFormGroup, BButton, BCard } from 'bootstrap-vue';
    import { ModelSelect } from 'vue-search-select';

    export default {
        components: {
            BRow, BCol, BLink, BTable, BPagination, BInputGroupAppend, BInputGroup, BFormGroup, BButton, BCard,
            ModelSelect,
        },
        props: {
            inventory: {}
        },
        data() {
            return {
                

                assets: [],
                asset_fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'serial', label: 'Serial' },
                    { key: 'transaction_action', label: 'Status'},
                    { key: 'location', label: 'Location' },
                    { key: 'transaction_relation.TrDate', label: 'Date', sortable: true },
                    { key: 'transaction_relation.owner', label: 'Owner/Sender' },
                    { key: 'asset_update', label: '' },
                ],
                asset_currentPage: 1,
                asset_perPage: 10,
                filter_asset: null,

                transactions: [],
                transaction_fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'type', label: 'Type' },
                    { key: 'transaction_action', label: 'Action'},
                    { key: 'quantity', label: 'Quantity' },
                    { key: 'TrDate', label: 'Date', sortable: true },
                    { key: 'owner', label: 'Owner/Sender' },
                    { key: 'transaction_update', label: '' },
                ],
                transaction_currentPage: 1,
                transaction_perPage: 10,
                filter_transaction: null,
                filter_action: '',
                filter_type: '',
            }
        },
        mounted() {
            if(this.inventory){
                this.assets = this.inventory.asset_relation;
                this.transactions = this.inventory.transaction_relation;
                console.log(this.transactions[0]);
            }

        },
        methods: {
            
        },
        computed: {
            asset_filtered() {
                return this.assets.filter(asset => {
                    let fill = true;
                    fill = fill && (this.filter_action == '' || this.filter_action == undefined || asset.transaction_relation.TrAction == this.filter_action) ;
                    return fill;
                });
            },
            transaction_filtered() {
                return this.transactions.filter(tr => {
                    let fill = true;
                    fill = fill && (this.filter_action == '' || this.filter_action == undefined || tr.TrAction == this.filter_action) ;
                    return fill;
                });
            },
            selectAction() {
                const selectAction = this.transactions.filter(tr => tr.action_relation).map(tr =>({ value : tr.TrAction, text : tr.action_relation.description }));
                return uniqBy(selectAction, 'value');
            },
        },

        
    }

</script>
