<template>
<div>
    <b-row>
        <b-col md="12">
            <div class="card">
                <div class="card-header">
                    <!-- <h6 class="card-title">Contact KPI</h6> -->
                    <button class="btn btn-link btn-sm" data-toggle="collapse" data-target="#display_kpi">Contact KPI</button> 
                    <date-picker v-model="kpi_date_range" class="float-right" range placeholder="Date Range" @change="onChangeKPIRange"></date-picker>
                </div>
                <div class="card-body collapse show" id="display_kpi">
                    <b-col md="12">
                        <GChart
                            :settings="{packages: ['bar']}"    
                            :data="kpiChart"
                            :createChart="(el, google) => new google.charts.Bar(el)"
                        />
                    </b-col>                   
                </div>
            </div>
        </b-col>
    </b-row>

    <b-row>
        <b-col md="6">
            <div class="card">
                <div class="card-header">
                    <b-col md="6">
                        <button class="btn btn-link btn-sm" data-toggle="collapse" data-target="#display_todolist">To-do Lists</button>
                    </b-col>
                    <b-col md="6">
                        <model-select :options="selectOwner" v-model="filter_todolist_owner" placeholder="select item" ></model-select>
                    </b-col>
                    
                </div>
                <div class="card-body collapse show" id="display_todolist">
                    <b-col md="12">
                        <b-table responsive small hover bordered show-empty 
                            :items="todo_filter" 
                            :fields="todolist_fields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                            :filter_todolist_owner="filter_todolist_owner"
                            :fixed="true"
                        >
                            <template v-slot:cell(name)="data">
                                <span v-if="data.item.general_contact_relation">
                                    {{ data.item.general_contact_relation.firstname }} {{ data.item.general_contact_relation.lastname}}
                                </span>
                            </template>
                        </b-table>
                    </b-col>                   
                </div>
            </div>
        </b-col>
    </b-row>
    

    <b-row>
        <b-col md="12">
            <b-card >
                <template v-slot:header>
                    <h6>Marketing Contact
                        <span class="float-right mt-1">
                            <b-link :href="'/marketing/contact/add/'" class="btn btn-outline-info btn-sm"><i class="fa fa-plus"></i></b-link>
                        </span>
                    </h6>
                </template>
                <b-row>
                    <b-col md="12">
                        <download-csv class="btn btn-link btn-sm" :data="export_data">Export CSV</download-csv>
                        <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>   
                    </b-col>                     
                </b-row>
                <div class="collapse show " id="display_filter">
                    <b-row>
                        <b-col md="6" class="mt-3">
                            <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                                <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                            </b-form-group>
                        </b-col>
                        <b-col md="6" class="mt-3">
                            <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                                <b-input-group size="sm">
                                    <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                                    <b-input-group-append>
                                        <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                                    </b-input-group-append>
                                </b-input-group>
                            </b-form-group>
                        </b-col>
                        <b-col md="6" class="mt-3">
                            <b-form-group label="Owner" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                                <model-select :options="selectOwner" v-model="filter_owner" placeholder="select item" class="form-control form-control-sm">
                                </model-select>
                            </b-form-group>
                        </b-col>
                        <b-col md="6" class="mt-3">
                            <b-form-group label="Status" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                                <model-select :options="selectStatus" v-model="filter_status" placeholder="select item" class="form-control form-control-sm">
                                </model-select>
                            </b-form-group>
                        </b-col>
                        <b-col md="6" class="mt-3">
                            <b-form-group label="Type" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                                <model-select :options="selectType" v-model="filter_type" placeholder="select item" class="form-control form-control-sm">
                                </model-select>
                            </b-form-group>
                        </b-col>
                    </b-row>                
                </div>
                <hr>
                <b-row class="mt-3">
                    <b-col md="12">
                        <b-table responsive small hover bordered show-empty 
                            :items="filtered" 
                            :fields="fields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                            :filter="filter_search" 
                            :filter_owner="filter_owner"
                            :filter_status="filter_status"
                            :filter_type="filter_type"

                        >
                            <template v-slot:cell(id)="data">
                                <b-link :href="'/marketing/contact/view/'+data.item.id" class="btn btn-link btn-sm">{{data.item.id}}</b-link>
                            </template>
                            <template v-slot:cell(name)="data">
                                <span v-if="data.item.general_contact_relation">
                                    {{ data.item.general_contact_relation.firstname }} {{ data.item.general_contact_relation.lastname}}
                                </span>
                            </template>
                            <template v-slot:cell(actions)="data">
                                <b-link :href="'/marketing/contact/update/'+data.item.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                                <b-button size="sm" variant="outline-danger" @click="deleteRecord(data.item.id)"><i class="fa fa-trash"></i></b-button>
                            </template>
                            <template v-slot:table-caption>Total {{filtered.length}} Records</template>
                        </b-table>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col offset-md="8" md="4">
                        <b-pagination v-model="currentPage" :total-rows="filtered.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                    </b-col>
                </b-row>
            </b-card>
        </b-col>
    </b-row>
    
</div>
</template>

<script>

    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard, } from 'bootstrap-vue';
    import { ModelSelect } from 'vue-search-select';
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import { uniqBy } from 'lodash';
    import VueGoogleCharts from 'vue-google-charts'

    export default {
        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard,
            ModelSelect,
            DatePicker  
        },
        props: {
            allcontacts: {},
            user: {},
        },
        data() {
            return {
                export_data: [],
                allnotes: [],
                kpi_date_range: [],
                kpiChart: [
                    ['Owner', 'New Contact', 'Meaningful Contact', ],
                ],

                filter_id: '',
                filter_name: '',
                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'name', label: 'Name' },
                    { key: 'follow_up_date', label: 'Follow Up', sortable: true  },
                    { key: 'owner', label: 'Owner' },
                    { key: 'status_relation.description', label: 'Status' },
                    { key: 'type_relation.description', label: 'Type' },
                    { key: 'grade', label: 'Grade', sortable: true },
                    { key: 'actions', label: 'Actions' }
                ],
                
                filter_search: null,
                filter_owner: this.user,
                filter_status: '',
                filter_type: '',
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50],

                filter_todolist_owner: this.user,
                todolist_fields: [
                    { key: 'name', label: 'Contact' },
                    { key: 'follow_up_date', label: 'Follow Up', sortable: true  },
                    { key: 'owner', label: 'Owner' },
                ],
            }
        },
        mounted() {
            if(this.allcontacts){
                // json data to export
                this.export_data = this.allcontacts.map(c => ({
                    id: c.id,
                    name: c.general_contact_relation ? c.general_contact_relation.firstname+' '+c.general_contact_relation.lastname : '',
                    email: c.general_contact_relation ? c.general_contact_relation.email : '',
                    phone: c.general_contact_relation ? c.general_contact_relation.phone1 : '',
                    address: c.general_contact_relation ? c.general_contact_relation.address1+' '+c.general_contact_relation.city+' '+c.general_contact_relation.state+' '+c.general_contact_relation.zip : '',
                    relationship: c.relationship,
                    owner: c.owner,
                    type: c.type_relation ? c.type_relation.description : '',
                    status: c.status_relation ? c.status_relation.description : '',
                    follow_up: c.follow_up_date,
                    beat: c.beat,
                    note: c.note,
                    grade: c.grade,
                    yt_reach: c.yt_reach,
                    fb_reach: c.fb_reach,
                    ig_reach: c.ig_reach,
                    tw_reach: c.tw_reach,
                    web_reach: c.web_reach,
                    pl_prostaff: c.pl_prostaff == 1 ? 'yes' : 'no',
                    sm_prostaff: c.sm_prostaff == 1 ? 'yes' : 'no',
                    high_value_influencer: c.high_value_influencer == 1 ? 'yes' : 'no',
                    paid_influencer: c.paid_influencer == 1 ? 'yes' : 'no',
                    aglow: c.aglow == 1 ? 'yes' : 'no',
                    poma: c.poma == 1 ? 'yes' : 'no',
                    nssf: c.nssf == 1 ? 'yes' : 'no',
                    nra: c.nra == 1 ? 'yes' : 'no',
                }));

            }
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }

            this.getAllNote();
            this.contactKPI(this.kpi_date_range);
        },
        methods: {
            deleteRecord(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/marketing/vendor/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            },

            /**************** Contact KPI *****************/
            onChangeKPIRange(){
                this.contactKPI(this.kpi_date_range);
            },
            getAllNote(){
                this.allcontacts.filter(c => c.note_relation_count).map(c => {
                    c.note_relation_count.forEach(e => {
                        e['owner'] = c.owner;
                        this.allnotes.push(e)
                    });
                });
            },
            contactKPI(date_range) {
                this.kpiChart.length = 1;
                const startdate = new Date(date_range[0]);
                const enddate = new Date(date_range[1]);

                for( const value of Object.values(this.selectOwner) ){
                    const owner = value.value == '' ? 'Missing' : value.value;
                    const tmp = []
                    tmp.push(owner.split(' ')[0]);

                    // var total_contact = this.allcontacts.filter(c => c.owner == owner).length;
                    // tmp.push(total_contact);

                    var new_contact = this.allcontacts.filter(c => {
                        const date_created = new Date(c.date_created);
                        var res = c.owner == owner;
                        if(date_range.length == 2) { res = res && date_created >= startdate && date_created <= enddate; }
                        return res;
                    }).length;
                    tmp.push(new_contact);

                    var meaningful_contact = this.allnotes.filter(n => {
                        var meaningful = [73, 74, 75, 76, 77, 78, 79];
                        const note_date_created = new Date(n.date_created);
                        var res = n.owner == owner && meaningful.includes(n.action);
                        if(date_range.length == 2) { res = res && note_date_created >= startdate && note_date_created <= enddate; }
                        return res;
                    }).length;
                    tmp.push(meaningful_contact);
                    this.kpiChart.push(tmp)
                    
                }

            },
            
        },
        computed: {
            todo_filter(){
                return this.allcontacts.filter(c => {
                    let fill = true;
                    fill = fill && (this.filter_todolist_owner == '' || this.filter_todolist_owner == undefined || c.owner == this.filter_todolist_owner) ;
                    const currentdate = new Date;
                    const follow_up = new Date(c.follow_up_date);
                    return fill && follow_up >= currentdate;
                });
            },
            filtered() {
                return this.allcontacts.filter(contact => {
                    let fill = true;
                    fill = fill && (this.filter_owner == '' || this.filter_owner == undefined || contact.owner == this.filter_owner) ;
                    fill = fill && (this.filter_status == '' || this.filter_status == undefined || contact.status == this.filter_status) ;
                    fill = fill && (this.filter_type == '' || this.filter_type == undefined || contact.type == this.filter_type) ;
                    return fill;
                });
            },
            selectOwner() {
                const selectOwner = this.allcontacts.map(contact =>({ value : contact.owner, text : contact.owner }));
                return uniqBy(selectOwner, 'value');
            },
            selectStatus() {
                const selectStatus = this.allcontacts.filter(st => st.status_relation).map(contact =>({ value : contact.status, text : contact.status_relation.description }));
                return uniqBy(selectStatus, 'value');
            },
            selectType() {
                const selectType = this.allcontacts.filter(t => t.type_relation).map(contact =>({ value : contact.type, text : contact.type_relation.description }));
                return uniqBy(selectType, 'value');
            },


            
        },

        

    }

</script>
