<template>

    <div>
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="e in errors">
                {{ e }}
            </li>
        </div>
        
        <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
            <em><span style="color: orange">Generals</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Contact</label> <span style="color: red">*</span>
                    <basic-select :options="selectContact" :selected-option="Form.contact_id" placeholder="select item" class="form-control-sm" @select="onSelectContact" ></basic-select>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Relationship</label>
                    <b-form-input v-model="Form.relationship" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Owner</label> <span style="color: red">*</span>
                    <b-form-input v-model="Form.owner" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Type</label> <span style="color: red">*</span>
                    <model-select :options="selectType" v-model="Form.type" placeholder="select item" class="form-control form-control-sm">
                        </model-select>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Follow Up</label>
                    <b-form-input type="date" v-model="Form.follow_up_date" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Status</label> <span style="color: red">*</span>
                    <model-select :options="selectStatus" v-model="Form.status" placeholder="select item" class="form-control form-control-sm">
                        </model-select>
                </b-col>
            </b-row>            
                
            <hr v-if="new_contact == true || contact">
            <em v-if="new_contact == true"><span style="color: orange">New Contact</span></em>
            <em v-else><span style="color: orange">Address</span></em>
            <b-row v-if="new_contact == true || contact">
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">First Name</label> <span style="color: red">*</span>
                    <b-form-input v-model="Form.firstname" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Last Name</label> <span style="color: red">*</span>
                    <b-form-input v-model="Form.lastname" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Email</label>
                    <b-form-input v-model="Form.email" size="sm" @change="calculateGrade"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Phone</label>
                    <b-form-input v-model="Form.phone1" size="sm" @change="calculateGrade"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Address</label>
                    <b-form-input v-model="Form.address1" size="sm" @change="calculateGrade"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">City</label>
                    <b-form-input v-model="Form.city" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">State</label>
                    <b-form-input v-model="Form.state" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Zip</label>
                    <b-form-input v-model="Form.zip" size="sm" ></b-form-input>
                </b-col>
            </b-row>            

            <hr>
            <em><span style="color: orange">Media Relation</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Beat</label>
                    <b-form-input v-model="Form.beat" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Note</label>
                    <b-form-input v-model="Form.note" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Grade</label>
                    <b-form-input v-model="Form.grade" size="sm" readonly></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">YT Reach</label>
                    <b-form-input type="number" step="1" v-model="Form.yt_reach" size="sm" @change="calculateGrade"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">FB Reach</label>
                    <b-form-input type="number" step="1" v-model="Form.fb_reach" size="sm" @change="calculateGrade"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">IG Reach</label>
                    <b-form-input type="number" step="1" v-model="Form.ig_reach" size="sm" @change="calculateGrade"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">TW Reach</label>
                    <b-form-input type="number" step="1" v-model="Form.tw_reach" size="sm" @change="calculateGrade"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Web Reach</label>
                    <b-form-input type="number" step="1" v-model="Form.web_reach" size="sm" @change="calculateGrade"></b-form-input>
                </b-col>
                <b-col md="6">
                    <b-form-checkbox v-model="Form.pl_prostaff" size="sm" class="mt-2"> PL ProStaff</b-form-checkbox>
                    <b-form-checkbox v-model="Form.sm_prostaff" size="sm" class="mt-2"> SM ProStaff</b-form-checkbox>
                    <b-form-checkbox v-model="Form.high_value_influencer" size="sm" class="mt-2"> High Value Influencer</b-form-checkbox>
                    <b-form-checkbox v-model="Form.paid_influencer" size="sm" class="mt-2"> Paid Influencer</b-form-checkbox>
                </b-col>
                <b-col md="6">
                    <b-form-checkbox v-model="Form.aglow" size="sm" class="mt-2" @input="calculateGrade"> AGLOW</b-form-checkbox>
                    <b-form-checkbox v-model="Form.poma" size="sm" class="mt-2" @input="calculateGrade"> POMA</b-form-checkbox>
                    <b-form-checkbox v-model="Form.nssf" size="sm" class="mt-2" @input="calculateGrade"> NSSF</b-form-checkbox>
                    <b-form-checkbox v-model="Form.nra" size="sm" class="mt-2" @input="calculateGrade"> NRA</b-form-checkbox>
                </b-col>
            </b-row>
            
            <!-- <hr>
            <em><span style="color: orange">Channel Associate</span></em>
            <b-row>
                <b-col md="12">
                    <label class="mt-2 col-form-label col-form-label-sm">Channel</label>
                    <multi-select :options="selectChannel" :selected-options="Form.channels" @select="onSelectChannel" placeholder="select item"></multi-select>
                </b-col>
            </b-row>
            <b-row v-for="channel in Form.channels" :key="channel.value">
                <b-col md="3">{{channel.text}}</b-col>
                <b-col md="3"><b-form-input v-model="Form.serials[product.value]" size="sm"></b-form-input></b-col>
                <b-col md="3"><b-form-input v-model="Form.serials[product.value]" size="sm"></b-form-input></b-col>
                <b-col md="3"><b-form-input v-model="Form.serials[product.value]" size="sm"></b-form-input></b-col>
            </b-row> -->
            <hr>
            <em v-if="contact"><span style="color: orange">Notes</span></em>
            <b-row v-if="contact">
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Action</label>
                    <model-select :options="selectNoteAction" v-model="Form.note_action" placeholder="select item" class="form-control form-control-sm">
                        </model-select>
                </b-col>
                <b-col md="12">
                    <label class="mt-2 col-form-label col-form-label-sm">Detail</label>
                    <ckeditor :editor="editor" v-model="Form.note_detail" ></ckeditor>
                </b-col>
            </b-row>

            <br>
            <b-row class="text-center mt-2">
                <b-col md="12">
                    <b-button type="submit" size="sm" variant="info"><b-spinner small label="Spinning" v-if="spinning == true"></b-spinner>Submit</b-button>
                    <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                </b-col>
            </b-row>
        </b-form>

    </div>
    
</template>

<script>

    import { uniqBy, flattenDeep, orderBy } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BSpinner } from 'bootstrap-vue';

    import { ModelSelect, BasicSelect, MultiSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css';

    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BSpinner,
            ModelSelect, BasicSelect, MultiSelect,
            ckeditor: CKEditor.component,
        },
        props: {
            user: {},
            contact: {},
        },
        data() {
            return {
                errors: [],
                spinning: false,
                editor: ClassicEditor,
                contacts: [],
                listlists: [],
                channels: [],
                new_contact: false,
                Form: {
                    contact_id: { value: '', text: '' },
                    relationship: '',
                    owner: this.user,
                    type: '',
                    status: '',
                    follow_up_date: '',
                    beat: '',
                    note: '',
                    grade: '',
                    yt_reach: '',
                    fb_reach: '',
                    ig_reach: '',
                    tw_reach: '',
                    web_reach: '',
                    pl_prostaff: false,
                    sm_prostaff: false,
                    high_value_influencer: false,
                    paid_influencer: false,
                    aglow: false,
                    poma: false,
                    nssf: false,
                    nra: false,
                    note_action: '',
                    note_detail: '',
                    firstname: '',
                    lastname: '',
                    email: '',
                    phone1: '',
                    address1: '',
                    city: '',
                    state: '',
                    zip: '',

                    // channels: []
                    // channel_titles: [],
                    
                },
            }
        },
        mounted() {

            this.getContact();
            this.getListList();
            // this.getChannel();
            if(this.contact){
                this.Form.relationship          = this.contact.relationship;
                this.Form.owner                 = this.contact.owner;
                this.Form.type                  = this.contact.type;
                this.Form.status                = this.contact.status;
                this.Form.follow_up_date        = this.contact.follow_up_date;
                this.Form.beat                  = this.contact.beat;
                this.Form.pl_date               = this.contact.pl_date;
                this.Form.note                  = this.contact.note;
                this.Form.grade                 = this.contact.grade;
                this.Form.yt_reach              = this.contact.yt_reach == null ? '' : this.contact.yt_reach;
                this.Form.fb_reach              = this.contact.fb_reach == null ? '' : this.contact.fb_reach;
                this.Form.ig_reach              = this.contact.ig_reach == null ? '' : this.contact.ig_reach;
                this.Form.tw_reach              = this.contact.tw_reach == null ? '' : this.contact.tw_reach;
                this.Form.web_reach             = this.contact.web_reach == null ? '' : this.contact.web_reach;
                this.Form.pl_prostaff           = this.contact.pl_prostaff == 1 ? true : false;
                this.Form.sm_prostaff           = this.contact.sm_prostaff == 1 ? true : false;
                this.Form.high_value_influencer = this.contact.high_value_influencer == 1 ? true : false;
                this.Form.paid_influencer       = this.contact.paid_influencer == 1 ? true : false;
                this.Form.aglow                 = this.contact.aglow == 1 ? true : false;
                this.Form.poma                  = this.contact.poma == 1 ? true : false;
                this.Form.nssf                  = this.contact.nssf == 1 ? true : false;
                this.Form.nra                   = this.contact.nra == 1 ? true : false;

                this.Form.firstname             = this.contact.general_contact_relation.firstname;
                this.Form.lastname              = this.contact.general_contact_relation.lastname;
                this.Form.address1              = this.contact.general_contact_relation.address1;
                this.Form.city                  = this.contact.general_contact_relation.city;
                this.Form.state                 = this.contact.general_contact_relation.state;
                this.Form.zip                   = this.contact.general_contact_relation.zip;
                this.Form.email                 = this.contact.general_contact_relation.email;
                this.Form.phone1                = this.contact.general_contact_relation.phone1;

            }

            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            calculateGrade(){  

                var max_reach = 75;
                var yt = this.Form.yt_reach == '' ? 0 : this.Form.yt_reach;
                var fb = this.Form.fb_reach == '' ? 0 : this.Form.fb_reach;
                var ig = this.Form.ig_reach == '' ? 0 : this.Form.ig_reach;
                var tw = this.Form.tw_reach == '' ? 0 : this.Form.tw_reach;
                var web = this.Form.web_reach == '' ? 0 : this.Form.web_reach;
                var reach_point = Math.ceil((parseInt(yt) + parseInt(fb) + parseInt(ig) + parseInt(tw) + parseInt(web)) * 0.0001);
                reach_point = reach_point >= max_reach ? max_reach : reach_point;

                var max_contact = 14;
                var email = this.Form.email == '' ? 0 : 4;
                var phone1 = this.Form.phone1 == '' ? 0 : 4;
                var address1 = this.Form.address1 == '' ? 0 : 2;
                var contact_point = email + phone1 + address1;
                contact_point = contact_point >= max_contact ? max_contact : contact_point;

                var max_membership = 40;
                var aglow   = this.Form.aglow == true ? 8 : 0;
                var poma    = this.Form.poma == true ? 8 : 0;
                var nssf    = this.Form.nssf == true ? 10 : 0;
                var nra     = this.Form.nra == true ? 10 : 0;
                var membership_point = aglow + poma + nssf + nra;
                membership_point = membership_point >= max_membership ? max_membership : membership_point

                this.Form.grade = reach_point + contact_point + membership_point;
            },
            getContact() {
                axios.get('/shared/contact/data').then(res => {
                    this.contacts = res.data;
                    if(this.contact){
                        this.Form.contact_id = this.contacts.filter(c => c.id == this.contact.ContactID).map(c => ({ value : c.id, text : c.id+' - '+c.firstname+' '+c.lastname }))[0];
                    }
                    
                });
            },
            onSelectContact(item){
                this.Form.contact_id = item;
                if(this.Form.contact_id.value == 0){
                    this.new_contact = true;
                }
                else{
                    this.new_contact = false;
                }
            },
            getListList() {
                axios.get('/shared/listlist/data').then(res => {
                    this.listlists = res.data;
                });
            },
            // getChannel(){
            //     axios.get('/marketing/channel/data').then(res => {
            //         this.channels = res.data;
            //         console.log(this.channels)
            //     });
            // },
            // onSelectChannel(items){
            //     this.Form.channels = items;
            // },

            onSubmit(){
                this.spinning = true;
                
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }
                data.append('contact_id', this.Form.contact_id.value);

                var postLink = '/marketing/contact/add';
                if(this.contact){
                    postLink = '/marketing/contact/update/'+this.contact.id;
                }

                axios.post(postLink, data).then(response=>{
                    this.errors = [];
                    localStorage.setItem('message', response.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
                window.scrollTo(0,0);
            },            

        },
        computed: {
            selectContact(){
                const selectContact = this.contacts.map(contact => ({ value : contact.id, text : contact.id+' - '+contact.firstname+' '+contact.lastname }));
                selectContact.push({ value: 0, text: 'New Contact' });
                return orderBy(uniqBy(selectContact, 'value'), 'value');
            },
            selectType(){
                const selectType = this.listlists.filter(ll => ll.pid == 87).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectType, 'value');
            },
            selectStatus(){
                const selectStatus = this.listlists.filter(ll => ll.pid == 80).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectStatus, 'value');
            },
            selectNoteAction(){
                const selectNoteAction = this.listlists.filter(ll => ll.pid == 71).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectNoteAction, 'value');
            },
            // selectChannel(){
            //     const selectChannel = this.channels.map(c => ({ value : c.id, text : c.name }));
            //     return uniqBy(selectChannel, 'value');
            // },
        },
        
    }

</script>
