<template>

<div>
    <b-row>
        <b-col md="12">
            <b-card>
                <template v-slot:header>
                    <h6>View Contact
                        <span class="float-right mt-1">
                            <b-link :href="'/marketing/contact/update/'+contact.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                            <b-link :href="'/marketing/contact'" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-left"></i></b-link>
                        </span>
                    </h6>
                </template>
    
                <b-row class="text-center mt-2">
                    <b-col md="12">
                        <b-button @click="openNoteModal(74)" size="sm" variant="primary"><span class="fa fa-phone" title="Call"></span></b-button>
                        <b-button @click="openNoteModal(78)" size="sm" variant="primary"><span class="fa fa-text-width" title="Text"></span></b-button>
                        <b-button @click="openNoteModal(75)" size="sm" variant="primary"><span class="fa fa-envelope" title="Email"></span></b-button>
                        <b-button @click="openNoteModal(79)" size="sm" variant="primary"><span class="fa fa-comments" title="Social Messenger"></span></b-button>
                        <b-button @click="openNoteModal(76)" size="sm" variant="primary"><span class="fa fa-meetup" title="Meeting"></span></b-button>
                        <b-button @click="openNoteModal(77)" size="sm" variant="primary"><span class="fa fa-exchange" title="Trade Show"></span></b-button>
                        <b-button @click="openNoteModal(73)" size="sm" variant="primary"><span class="fa fa-dot-circle-o" title="Contact Attempt"></span></b-button>
                    </b-col>
                </b-row>

                <hr>
                <b-row>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Name</strong></label>
                        <label class="col-md-8" v-if="contact.general_contact_relation">{{contact.general_contact_relation.firstname}} {{contact.general_contact_relation.lastname}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Relationship</strong></label>
                        <label class="col-md-8">{{contact.relationship}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Owner</strong></label>
                        <label class="col-md-8">{{contact.owner}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Type</strong></label>
                        <label class="col-md-8" v-if="contact.type_relation">{{contact.type_relation.description}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Follow Up</strong></label>
                        <label class="col-md-8">{{contact.follow_up_date}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Status</strong></label>
                        <label class="col-md-8" v-if="contact.status_relation">{{contact.status_relation.description}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Grade</strong></label>
                        <label class="col-md-8" >{{contact.grade}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Email</strong></label>
                        <label class="col-md-8" v-if="contact.general_contact_relation">{{contact.general_contact_relation.email}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Beat</strong></label>
                        <label class="col-md-8">{{contact.beat}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Note</strong></label>
                        <label class="col-md-8" >{{contact.note}}</label>
                    </b-col>
                </b-row>

                <hr>

                <ul class="nav nav-tabs nav-justified nav-sm">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#address"><em><span style="color: orange">Address</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#relationship"><em><span style="color: orange">Relationship</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tande"><em><span style="color: orange">T&E</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#placement"><em><span style="color: orange">Placement</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#note"><em><span style="color: orange">Note</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#changes"><em><span style="color: orange">Changes</span></em></a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div id="address" class="tab-pane active">
                        <b-row class="mt-2" v-if="contact.general_contact_relation">
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Phone 1</strong></label>
                                <label class="col-md-8" >{{contact.general_contact_relation.phone1}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Phone 2</strong></label>
                                <label class="col-md-8" >{{contact.general_contact_relation.phone2}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Address 1</strong></label>
                                <label class="col-md-8" >{{contact.general_contact_relation.address1}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Address 2</strong></label>
                                <label class="col-md-8">{{contact.general_contact_relation.address2}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>City</strong></label>
                                <label class="col-md-8" >{{contact.general_contact_relation.city}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>State</strong></label>
                                <label class="col-md-8" >{{contact.general_contact_relation.state}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Zip</strong></label>
                                <label class="col-md-8" >{{contact.general_contact_relation.zip}}</label>
                            </b-col>
                        </b-row>
                    </div>
                    <div id="relationship" class="tab-pane fade">
                        <b-row class="mt-2">
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>High Value</strong></label>
                                <label class="col-md-8" >{{contact.high_value_influencer == 1 ? 'Yes' : 'No'}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Paid Influencer</strong></label>
                                <label class="col-md-8" >{{contact.paid_influencer == 1 ? 'Yes' : 'No'}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>PL ProStaff</strong></label>
                                <label class="col-md-8" >{{contact.pl_prostaff == 1 ? 'Yes' : 'No'}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>SM ProStaff</strong></label>
                                <label class="col-md-8" >{{contact.sm_prostaff == 1 ? 'Yes' : 'No'}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>AGLOW</strong></label>
                                <label class="col-md-8" >{{contact.aglow == 1 ? 'Yes' : 'No'}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>POMA</strong></label>
                                <label class="col-md-8" >{{contact.poma == 1 ? 'Yes' : 'No'}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>NSSF</strong></label>
                                <label class="col-md-8" >{{contact.nssf == 1 ? 'Yes' : 'No'}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>NRA</strong></label>
                                <label class="col-md-8" >{{contact.nra == 1 ? 'Yes' : 'No'}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>YT Reach</strong></label>
                                <label class="col-md-8" >{{contact.yt_reach}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>FB Reach</strong></label>
                                <label class="col-md-8" >{{contact.fb_reach}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>IG Reach</strong></label>
                                <label class="col-md-8" >{{contact.ig_reach}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>TW Reach</strong></label>
                                <label class="col-md-8" >{{contact.tw_reach}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Web</strong></label>
                                <label class="col-md-8" >{{contact.web_reach}}</label>
                            </b-col>
                        </b-row>
                    </div>

                    <div id="tande" class="tab-pane fade">
                        <b-link :href="'/marketing/product-order/add'" target='_blank' class="btn btn-link btn-sm"><i class="fa fa-plus"></i> T&E</b-link>
                        <b-row class="mt-3">
                            <b-col md="12">
                                <b-table responsive small hover bordered show-empty
                                    :items="orders" 
                                    :fields="order_fields" 
                                    :per-page="perPage" 
                                    :current-page="currentPage" 
                                    :fixed="false"
                                >
                                    <template v-slot:cell(id)="data">
                                        <b-link :href="'/marketing/product-order/view/'+data.item.id" class="btn btn-link btn-sm">{{data.item.id}}</b-link>
                                    </template>
                                    <template v-slot:cell(product)="data">
                                        <span v-if="data.item.inventory_relation">
                                            {{ data.item.inventory_relation.product_relation.SKU}} 
                                            {{ data.item.inventory_relation.product_relation.Name}}
                                        </span>
                                    </template>
                                    <template v-slot:cell(status)="data">
                                        <span v-if="data.item.status_relation">
                                            {{ data.item.status_relation.description}} 
                                        </span>
                                    </template>
                                </b-table>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col offset-md="8" md="4">
                                <b-pagination v-model="currentPage" :total-rows="placements.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                            </b-col>
                        </b-row>
                    </div>

                    <div id="placement" class="tab-pane fade">
                        <b-link :href="'/marketing/placement/add'" target='_blank' class="btn btn-link btn-sm"><i class="fa fa-plus"></i> Placement</b-link>
                        <b-row class="mt-3">
                            <b-col md="12">
                                <b-table responsive small hover bordered show-empty
                                    :items="placements" 
                                    :fields="placement_fields" 
                                    :per-page="perPage" 
                                    :current-page="currentPage" 
                                    :fixed="true"
                                >
                                    <template v-slot:cell(id)="data">
                                        <b-link :href="'/marketing/placement/view/'+data.item.id" class="btn btn-link btn-sm">{{data.item.id}}</b-link>
                                    </template>
                                </b-table>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col offset-md="8" md="4">
                                <b-pagination v-model="currentPage" :total-rows="placements.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                            </b-col>
                        </b-row>
                    </div>

                    <div id="note" class="tab-pane fade">
                        <b-row class="mt-3">
                            <b-col md="12">
                                <b-table responsive small hover bordered show-empty
                                    :items="notes" 
                                    :fields="note_fields" 
                                    :per-page="perPage" 
                                    :current-page="currentPage" 
                                    :fixed="true"
                                >
                                    <template v-slot:cell(detail)="data">
                                        <span v-html="data.item.detail"></span>
                                    </template>
                                </b-table>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col offset-md="8" md="4">
                                <b-pagination v-model="currentPage" :total-rows="notes.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                            </b-col>
                        </b-row>
                    </div>

                    <div id="changes" class="tab-pane fade">
                        <b-row class="mt-3">
                            <b-col md="12">
                                <b-table responsive small hover bordered show-empty
                                    :items="changes" 
                                    :fields="changes_fields" 
                                    :per-page="perPage" 
                                    :current-page="currentPage" 
                                >
                                    <template v-slot:cell(changes_detail)="data">
                                        <span v-if="data.item.changes_detail_relation">
                                            <li v-for="change in data.item.changes_detail_relation" :key="change.id">
                                                {{change.column_name}} 
                                                changed from 
                                                {{change.old_value == '' ? 'N/A' : change.old_value}}
                                                 to 
                                                 {{change.new_value == '' ? 'N/A' : change.new_value}}
                                            </li>
                                        </span>
                                    </template>
                                    <template v-slot:cell(changes_owner)="data">
                                        <span v-if="data.item.user_relation">
                                            {{data.item.user_relation.firstname}} {{data.item.user_relation.lastname}}
                                        </span>
                                    </template>
                                </b-table>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col offset-md="8" md="4">
                                <b-pagination v-model="currentPage" :total-rows="changes.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                            </b-col>
                        </b-row>
                    </div>

                </div>
            </b-card>
        </b-col>
    </b-row>


    <b-modal v-model="noteModal" button-size="sm" no-close-on-esc no-close-on-backdrop hide-footer title="Add Note" @hidden="resetModal">
        <b-form @submit.prevent="onSubmit" enctype="multipart/form-data">
            <b-row>
                <b-col md="12">
                    <label class="mt-2 col-form-label col-form-label-sm">Note</label>
                    <ckeditor :editor="editor" v-model="Form.note_detail" ></ckeditor>
                </b-col>
                <b-col md="12">
                    <label class="mt-2 col-form-label col-form-label-sm">Date</label>
                    <b-form-input type="date" v-model="Form.note_date" size="sm"></b-form-input>
                </b-col>
                <b-col md="12">
                    <label class="mt-2 col-form-label col-form-label-sm">Follow Up</label>
                    <b-form-input type="date" v-model="Form.follow_up_date" size="sm"></b-form-input>
                </b-col>
            </b-row>
            <br>
            <b-row class="text-center">
                <b-col md="12">
                    <b-button type="submit" size="sm" variant="info">Save</b-button>
                </b-col>
            </b-row>
        </b-form>
    </b-modal>

</div>
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BRow, BCol, BButton, BTable, BPagination, BLink, BInputGroup, BForm, BFormInput, BCard } from 'bootstrap-vue';
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        components: {
            BRow, BCol, BButton, BTable, BPagination, BLink, BInputGroup, BForm, BFormInput, BCard,
            ckeditor: CKEditor.component,
        },
        props: {
            contact: {},
        },
        data() {
            return {
                errors: [],

                currentPage: 1,
                perPage: 10,

                orders: [],
                order_fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'product', label: 'SKU' },
                    { key: 'status', label: 'Status' },
                ],

                placements: [],
                placement_fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'platform', label: 'Platform' },
                    { key: 'type_relation.description', label: 'Type' },
                    { key: 'author', label: 'Author' },
                    { key: 'pl_date', label: 'Date', sortable: true },
                ],

                notes: [],
                note_fields: [
                    { key: 'action_relation.description', label: 'Action' },
                    { key: 'detail', label: 'Detail' },
                    { key: 'date_created', label: 'Date', sortable: true },
                    { key: 'user_relation.username', label: 'Owner' },
                ],

                editor: ClassicEditor,
                noteModal: false,
                Form: {
                    note_action: '',
                    note_detail: '',
                    note_date:  new Date().toISOString().slice(0,10),
                    follow_up_date: this.contact.follow_up_date,
                },

                changes: [],
                changes_fields: [
                    { key: 'id', label: 'ID' },
                    { key: 'changes_detail', label: 'Changes' },
                    { key: 'created_at', label: 'Date'},
                    { key: 'changes_owner', label: 'Owner' },
                ],
            }
        },
        mounted() {
            if(this.contact){
                this.orders = this.contact.product_order_relation;
                this.placements = this.contact.placement_relation;
                this.notes = this.contact.note_relation;
                this.changes = this.contact.changes_relation;
            }
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            resetModal(){
                this.noteModal = false;
            },
            openNoteModal(item){
                this.noteModal = true;
                this.Form.note_action = item;
            },
            onSubmit() {
                window.scrollTo(0,0);
                this.noteModal = false;
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }
                var postLink = '/marketing/contact/note/'+this.contact.id;
                axios.post(postLink, data).then(response=>{
                    this.errors = [];
                    localStorage.setItem('message', response.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
            }
        },
        computed: {
            
        },

        
    }

</script>
