<template>
	<aside id="left-panel" class="left-panel">
	    <nav class="navbar navbar-expand-sm navbar-default">

	        <div class="navbar-header">
	            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
	                <i class="fa fa-bars"></i>
	            </button>
	            <a class="navbar-brand" ><img src="assets/images/sellmarklogo.png" alt="Logo"></a>
	        </div>

	        <div id="main-menu" class="main-menu collapse navbar-collapse" >
	            <ul class="nav navbar-nav">
	            	<li>
	                    <a href=""><i class="menu-icon fa fa-dashboard"></i>Dashboard</a>
	                </li>

	                <h3 class="menu-title">Marketing</h3>
	                    <li class="menu-item-has-children dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-buysellads"></i>Media Planning</a>
	                        <ul class="sub-menu children dropdown-menu">
	                        	<li><a href="#">Main</a></li>
	                            <li><a href="#">AdBuy</a></li>
	                            <li><a href="#">AdSpot</a></li>
	                        </ul>
	                    </li>
	                    <li class="menu-item-has-children dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Media Relations</a>
	                        <ul class="sub-menu children dropdown-menu">
	                        	<li><a href="marketing/relation/">Main</a></li>
	                        	<li><a href="marketing/relation/productorder/">Product Order</a></li>
	                            <li><a href="marketing/relation/program/">T&E Program</a></li>
	                            <li><a href="marketing/relation/placement/">Placement</a></li>
	                            <li><a href="marketing/relation/contact/">Contact</a></li>
	                        </ul>
	                    </li>
	                    <li class="menu-item-has-children dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-first-order"></i>Inventory</a>
	                        <ul class="sub-menu children dropdown-menu">
	                        	<li><a href="marketing/inventory/inventory/">Marketing Inventory</a></li>
	                        	<li><a href="marketing/inventory/mkproduct/">Marketing Product</a></li>
	                        </ul>
	                    </li>
	                    <li class="menu-item-has-children dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-calendar"></i>Shows & Exhibits</a>
	                        <ul class="sub-menu children dropdown-menu">
	                        	<li><a href="marketing/exhibit/show/">Show</a></li>
	                        	<li><a href="marketing/exhibit/occurrence/">Occurrence</a></li>
	                        </ul>
	                    </li>

	                <h3 class="menu-title">Engineer</h3>
	                	<li class="menu-item-has-children dropdown">
	                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-calendar-check-o"></i>Quality Assurance</a>
	                        <ul class="sub-menu children dropdown-menu">
	                        	<li><a href="#">Data</a></li>
	                            <li><a href="#">Defect Report</a></li>
	                            
	                        </ul>
	                    </li>

	                <h3 class="menu-title">Accounting</h3>
	                    <li class="menu-item-has-children dropdown">
	                        <a href="factory/index.php" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fa fa-money"></i>Expenses</a>
	                        <ul class="sub-menu children dropdown-menu">
	                            <li><a href="accounting/expense/">Expense</a></li>
	                        </ul>
	                    </li>
	                    <li class="menu-item-has-children dropdown">
	                        <a href="factory/index.php" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fa fa-money"></i>JMP</a>
	                        <ul class="sub-menu children dropdown-menu">
	                            <li><a href="accounting/jmp-expense/">JMP Expense</a></li>
	                            <li><a href="accounting/jmp-period/">JMP Period</a></li>
	                        </ul>
	                    </li>
	                <h3 class="menu-title">Administrator</h3>
	                    <li class="menu-item-has-children dropdown">
	                        <a href="factory/index.php" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fa fa-users"></i>Users</a>
	                        <ul class="sub-menu children dropdown-menu">
	                            <li><i class="menu-icon fa fa-id-card"></i><a href="admin/user/">User</a></li>
	                        </ul>
	                    </li>
	                    <li class="menu-item-has-children dropdown">
	                    	<a href="factory/index.php" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="menu-icon fa fa-cogs"></i>Master List</a>
	                        <ul class="sub-menu children dropdown-menu">
	                            <li><i class="menu-icon fa fa-th-large"></i><a href="admin/masterlist/category/">Category</a></li>
	                            <li><i class="menu-icon fa fa-th"></i><a href="admin/masterlist/listlist/">list-list</a></li>
	                        </ul>
	                    </li>

	            </ul>
	        </div><!-- /.navbar-collapse -->
	    </nav>
	</aside><!-- /#left-panel -->
		
</template>

<script>
	export default {}
</script>