<template>

    <header id="header" class="header"> <!-- Begining of Right Panel Header-->
        <div class="header-menu">
            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="page-header float-left">
                    <div class="page-title">
                        <ol class="breadcrumb text-left">

                            
                        </ol>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="menu-icon fa fa-user"></i>
                    </a>
                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="fa fa-eye"></i> My Profile</a>
                        <a class="nav-link" href="/logout.php"><i class="fa fa-power-off"></i> Logout</a>
                    </div>
                </div>
            </div>
        </div>

    </header> <!-- End of Right Panel Header-->
		    

</template>

<script>
	export default {}
</script>