<template>
    <div>
        <div v-if="Form.send_mail == true">
            <em><span style="color: orange">Owner Info</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Email</label> <span style="color: red">*</span>
                    <b-form-input v-model="Form.email" size="sm"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Order for</label> <span style="color: red">*</span>
                    <b-form-input list="input-order-for" v-model="Form.order_for" size="sm" placeholder="Select One or Enter a New Value"></b-form-input>
                    <b-form-datalist id="input-order-for" :options="order_for_option"></b-form-datalist>
                </b-col>
            </b-row>

            <hr>
            <em><span style="color: orange">Order Info</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Start Date</label> <span style="color: red">*</span>
                    <b-form-input type="date" v-model="Form.startdate" size="sm"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">PO#</label> <span style="color: red">*</span>
                    <b-form-input v-model="Form.po_number" size="sm"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Memo</label> <span style="color: red">*</span>
                    <b-form-input v-model="Form.memo" size="sm"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Signature Required</label> <span style="color: red">*</span>
                    <b-form-select v-model="Form.signature" :options="signature_options" size="sm" ></b-form-select>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Freight Instructions</label> <span style="color: red">*</span>
                    <b-form-input v-model="Form.freight_instruction" size="sm"></b-form-input>
                </b-col>
            </b-row>

            <hr>
            <em><span style="color: orange">Shipping Info</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Billing Address</label>
                    <b-form-input v-model="Form.billing_address" size="sm"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Shipping Address</label>
                    <b-form-input v-model="Form.shipping_address" size="sm"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Address Type</label> <span style="color: red">*</span>
                    <b-form-select v-model="Form.address_type" :options="address_type_options" size="sm" ></b-form-select>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Shipping Carrier</label> <span style="color: red">*</span>
                    <b-form-input list="shipping_carriers" v-model="Form.shipping_carrier" size="sm" placeholder="Select One or Enter a New Value"></b-form-input>
                    <b-form-datalist id="shipping_carriers" :options="shipping_carrier_options"></b-form-datalist>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Shipping Fee</label> <span style="color: red">*</span>
                    <b-form-select v-model="Form.shipping_fee" :options="shipping_fee_options" size="sm" ></b-form-select>
                </b-col>
            </b-row>
        </div>
        <!-- <div class="card">
            <div class="card-header">
                <strong class="card-title">Mail Config</strong>
            </div>
            <div class="card-body">
                <em><span style="color: orange">Owner Info</span></em>
                <b-row>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">Email</label> <span style="color: red">*</span>
                        <b-form-input v-model="Form.email" size="sm"></b-form-input>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">Order for</label> <span style="color: red">*</span>
                        <b-form-input list="input-order-for" v-model="Form.order_for" size="sm" placeholder="Select One or Enter a New Value"></b-form-input>
                        <b-form-datalist id="input-order-for" :options="order_for_option"></b-form-datalist>
                    </b-col>
                </b-row>

                <hr>
                <em><span style="color: orange">Order Info</span></em>
                <b-row>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">Start Date</label> <span style="color: red">*</span>
                        <b-form-input type="date" v-model="Form.startdate" size="sm"></b-form-input>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">PO#</label> <span style="color: red">*</span>
                        <b-form-input v-model="Form.po_number" size="sm"></b-form-input>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">Memo</label> <span style="color: red">*</span>
                        <b-form-input v-model="Form.memo" size="sm"></b-form-input>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">Signature Required</label> <span style="color: red">*</span>
                        <b-form-select v-model="Form.signature" :options="signature_options" size="sm" ></b-form-select>
                    </b-col>
                    <b-col md="6">
                        <label class="mt-2 col-form-label col-form-label-sm">Freight Instructions</label> <span style="color: red">*</span>
                        <b-form-input v-model="Form.freight_instruction" size="sm"></b-form-input>
                    </b-col>
                </b-row>

                <hr>
                <em><span style="color: orange">Shipping Info</span></em>
                <b-row>

                </b-row>
            </div>
        </div> -->
        
        
    </div>
        
    
</template>

<script>

    import { uniqBy } from 'lodash';
    import { BRow, BCol, BFormGroup, BFormInput, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BFormDatalist } from 'bootstrap-vue';
    import { ModelSelect } from 'vue-search-select';

    export default {
        props: {
            contact_id: '',
        },
        data() {
            return {
                order_for_option : ['Communication & PR', 'Photography', 'Employee Purchase'],
                signature_options: ['Yes', 'No' ],
                address_type_options: ['Residential', 'Business'],
                shipping_carrier_options: ['Pick Up', 'FedEx', 'UPS'],
                shipping_fee_options: ['Free', 'Charge'],
                Form: {
                    send_mail: false,
                    owner_email: '',
                    order_for: '',
                    startdate: new Date().toISOString().slice(0,10),
                    po_number: '',
                    memo: '',
                    signature_required: '',
                    freight_instruction: '',
                    billing_address: '',
                    shipping_address:'',
                    address_type:'',
                    shipping_carrier:'',
                    shipping_fee:'',
                }
            }
        },
        mounted() {
            console.log(this.contact_id);
            // this.getWaitList();
            // this.getAsset();
            // if(localStorage.getItem('message')){
            //     this.makeToast('success', localStorage.getItem('message'));
            //     localStorage.removeItem('message');
            // }
        },
        methods: {
            // makeToast(variant, message) {
            //     this.$bvToast.toast(message, {
            //         title: 'Message',
            //         variant: variant,
            //     })
            // },
            // getWaitList(){
            //     axios.post('/marketing/program/waitlist/data', { 'ProgramID' : this.program_id }).then(res => {
            //         this.waitlists = res.data;
            //     });
            // },
            // getAsset() {
            //     axios.get('/marketing/asset/data').then(res => {
            //         this.assets = res.data;
            //     });
            // },
            // deleteRecord(id){
            //     if(confirm("Do you really want to delete?")){
            //         axios.get('/marketing/program/waitlist/delete/'+id).then(res => {
            //             localStorage.setItem('message', res.data);
            //             window.location.reload();
            //         });
            //     }
            // },
            // check(inventory){
            //     for (var i = 0; i < inventory.length; i++){
            //         if(this.InventoryAvailable.includes(inventory[i].id)){
            //             var index = this.InventoryAvailable.indexOf(inventory[i].id);
            //             this.InventoryAvailable.splice(index, 1);
            //             return "Order";
            //         }                    
            //     }
            // }
        },
        computed: {
            // filtered() {
            //     return this.waitlists.filter(w => {
            //         let fill = true;
            //         fill = fill && (this.filter_status === '' || w.status === this.filter_status) ;
            //         return fill;
            //     });
            // },
            // selectStatus() {
            //     const selectStatus = this.waitlists.filter(w => w.status_relation).map(w =>({ value : w.status, text : w.status_relation.description }));
            //     return uniqBy(selectStatus, 'value');
            // },
            // InventoryAvailable(){
            //     const InventoryAvailable = this.assets
            //         .filter(a => 
            //             a.inventory_relation && 
            //             a.inventory_relation.in_program == this.program_id && 
            //             a.transaction_relation && 
            //             a.transaction_relation.TrAction == 172)
            //         .map(a => a.InventoryID);
            //     return InventoryAvailable;
            // },
        },

        components: {
            BRow, BCol, BFormGroup, BFormInput, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BFormDatalist,
            ModelSelect, 
        }
    }

</script>
