<template>
    <div>
        <b-row>
            <b-col md="12">
                <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>   
            </b-col>                     
        </b-row>

        <div class="collapse show " id="display_filter">
            <b-row>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <b-input-group size="sm">
                            <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                            <b-input-group-append>
                                <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Brand" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <model-select :options="selectBrand" v-model="filter_brand" placeholder="select item" class="form-control form-control-sm">
                        </model-select>
                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Status" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <model-select :options="selectStatus" v-model="filter_status" placeholder="select item" class="form-control form-control-sm">
                        </model-select>
                    </b-form-group>
                </b-col>
                
            </b-row>                
        </div>
        <hr>
        <b-row class="mt-3">
            <b-col md="12">
                <b-table responsive small hover bordered show-empty 
                    :items="filtered" 
                    :fields="fields" 
                    :per-page="perPage" 
                    :current-page="currentPage" 
                    :filter="filter_search" 
                    :filter_brand="filter_brand"
                    :filter_status="filter_status"
                >                    
                    <template v-slot:cell(id)="data">
                        <b-link :href="'accounting/jmp-period/view/'+data.item.id" class="btn btn-link btn-sm">{{data.item.id}}</b-link>
                    </template>

                    <template v-slot:cell(actions)="data">
                        <b-link :href="'accounting/jmp-period/update/'+data.item.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                        <b-button size="sm" variant="outline-danger" @click="deleteRecord(data.item.id)"><i class="fa fa-trash"></i></b-button>
                    </template>

                    <template v-slot:table-caption>Total {{filtered.length}} Records</template>
                </b-table>
            </b-col>
        </b-row>

        <b-row>
            <b-col offset-md="8" md="4">
                <b-pagination v-model="currentPage" :total-rows="filtered.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
            </b-col>
        </b-row>

    </div>
    
</template>

<script>

    import { ModelSelect } from 'vue-search-select';
    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import { uniqBy } from 'lodash';
    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink } from 'bootstrap-vue';

    export default {
        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink,
            DatePicker,
            ModelSelect,
        },
        props: {
            jmpperiod: {}
        },
        data() {
            return {
                occurrences: [],
                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'period_name', label: 'Period' },
                    { key: 'from_date', label: 'From', sortable: true },
                    { key: 'to_date', label: 'To', sortable: true },
                    { key: 'submission_date', label: 'Submission', sortable: true },
                    { key: 'status_relation.description', label: 'Status'},
                    { key: 'actions', label: 'Actions' }
                ],
                
                filter_search: null,
                filter_brand: undefined,
                filter_status: undefined,
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50]
            }
        },
        mounted() {
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            deleteRecord(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/accounting/jmp-period/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            },
            
            
        },
        computed: {
            filtered() {
                return this.jmpperiod.filter(period => {
                    let fill = true;
                    fill = fill && (this.filter_brand === undefined || period.brand_id === this.filter_brand) ;
                    fill = fill && (this.filter_status === undefined || period.status === this.filter_status) ;
                    return fill;
                });
            },
            selectBrand() {
                const selectBrand = this.jmpperiod.filter(p => p.brand_relation).map(period => ({ value : period.brand_relation.id, text : period.brand_relation.name }));
                return uniqBy(selectBrand, 'value');
            },
            selectStatus() {
                const selectStatus = this.jmpperiod.filter(p => p.status_relation).map(period => ({ value : period.status_relation.id, text : period.status_relation.description }));
                return uniqBy(selectStatus, 'value');
            },
            
        },
    }

</script>
