<template>

    <div>
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="e in errors">
                {{ e }}
            </li>
        </div>
        <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
            <em><span style="color: orange">General</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Brand</label> <span style="color: red">*</span>
                    <model-select :options="selectBrand" v-model="Form.brand_id" placeholder="select item" class="form-control form-control-sm"></model-select>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Period</label> <span style="color: red">*</span>
                    <b-form-input v-model="Form.period" size="sm" placeholder="2020"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Period Name</label> <span style="color: red">*</span>
                    <b-form-input v-model="Form.period_name" size="sm" placeholder="Pulsar 2020-2021"></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Submission Date</label>
                    <b-form-input type="date" v-model="Form.submission_date" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">From Date</label>
                    <b-form-input type="date" v-model="Form.from_date" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">To Date</label>
                    <b-form-input type="date" v-model="Form.to_date" size="sm" ></b-form-input>
                </b-col>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Status</label>
                    <model-select :options="selectStatus" v-model="Form.status" placeholder="select item" class="form-control form-control-sm"></model-select>
                </b-col>
            </b-row>

            <hr>
            <em><span style="color: orange">Document</span></em>
            <b-row>
                <b-col md="6">
                    <label class="mt-2 col-form-label col-form-label-sm">Upload (Max 5 files)</label>
                    <file-pond ref="pond" allow-multiple="true" v-bind:files="Form.documents" v-on:updatefiles="onUpdateFile" accepted-file-types="image/jpeg, image/png" instant-upload="false"/>
                </b-col>
                <b-col md="6" v-if="Form.uploaded_documents.length">
                    <label class="mt-2 col-form-label col-form-label-sm">Uploaded</label>
                    <li v-for="d in Form.uploaded_documents">
                        <b-link :href="'/shared/document/'+d.document_name" target='_blank' class="btn btn-link btn-sm">{{ d.document_name }}</b-link>
                        <b-button size="sm" variant="outline-danger" @click="deleteDocument(d.id)"><i class="fa fa-times"></i></b-button>
                    </li>
                </b-col>
            </b-row>

            <b-row class="text-center mt-2">
                <b-col md="12">
                    <b-button type="submit" size="sm" variant="info">Submit</b-button>
                    <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                </b-col>
            </b-row>
        </b-form>

    </div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BInputGroupAppend, BButton, BInputGroup, BAlert, BLink } from 'bootstrap-vue';

    import { ModelSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css';

    import vueFilePond from 'vue-filepond';
    import 'filepond/dist/filepond.min.css';
    import FilePondPluginImagePreview from 'filepond-plugin-image-preview';
    import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';

    

    export default {
        props: {
            jmpperiod: {}
        },
        data() {
            return {
                success: '',
                errors: [],

                brands: [],
                listlists: [],
                Form: {
                    brand_id: '',
                    period: '',
                    period_name: '',
                    submission_date: '',
                    from_date: '',
                    to_date: '',
                    status: '',
                    documents:[],
                    uploaded_documents: [],
                },
            }
        },
        mounted() {
            this.getBrand();
            this.getListList();
            if(this.jmpperiod){
                this.Form.brand_id = this.jmpperiod.brand_id;
                this.Form.period = this.jmpperiod.period;
                this.Form.period_name = this.jmpperiod.period_name;
                this.Form.submission_date = this.jmpperiod.submission_date;
                this.Form.from_date = this.jmpperiod.from_date;
                this.Form.to_date = this.jmpperiod.to_date;
                this.Form.status = this.jmpperiod.status;
                this.Form.uploaded_documents = this.jmpperiod.document_relation;
            }
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            scrollToTop() {
                window.scrollTo(0,0);
            },
            getBrand() {
                axios.get('/shared/brand/data').then(res => {
                    this.brands = res.data;
                });
            },
            getListList() {
                axios.get('/shared/listlist/data').then(res => {
                    this.listlists = res.data;
                });
            },
            onUpdateFile(files) {
                this.Form.documents = files.map(files => files.file);
            },
            deleteDocument(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/shared/document/delete/'+id).then(res => {
                        this.scrollToTop();
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            },
            onSubmit(){
                this.scrollToTop();
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }
                for (var i = 0; i < this.Form.documents.length; i++) {
                    let file = this.Form.documents[i];
                    data.append("documents[" + i + "]", file);
                }
                
                var postLink = '/accounting/jmp-period/add';
                if(this.jmpperiod){
                    postLink = '/accounting/jmp-period/update/'+this.jmpperiod.id;
                }

                axios.post(postLink, data).then(res=>{
                    this.errors = [];
                    localStorage.setItem('message', res.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing!'];
                    }
                });
                
            },

        },
        computed: {
            selectBrand() {
                const selectBrand = this.brands.filter(b => b.pid == 1).map(brand => ({ value : brand.id, text : brand.name }));
                return uniqBy(selectBrand, 'value');
            },
            selectStatus() {
                const selectStatus = this.listlists.filter(ll => ll.pid == 107).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectStatus, 'value');
            },
            
        },

        components: {
            BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BInputGroupAppend, BButton, BInputGroup, BAlert, BLink,
            FilePond: vueFilePond(FilePondPluginImagePreview),
            ModelSelect,
        }
    }

</script>
