<template>

    <div>
        <b-row>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Brand</strong></label>
                <label class="col-md-8" v-if="jmpperiod.brand_relation">{{jmpperiod.brand_relation.name}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Period</strong></label>
                <label class="col-md-8">{{jmpperiod.period}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Period Name</strong></label>
                <label class="col-md-8">{{jmpperiod.period_name}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Submission Date</strong></label>
                <label class="col-md-8">{{jmpperiod.submission_date}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>From Date</strong></label>
                <label class="col-md-8">{{jmpperiod.from_date}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>To Date</strong></label>
                <label class="col-md-8">{{jmpperiod.to_date}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Status</strong></label>
                <label class="col-md-8">{{jmpperiod.status_relation.description}}</label>
            </b-col>
        </b-row>

        <hr>

        <ul class="nav nav-tabs nav-justified nav-sm">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#document"><em><span style="color: orange">Document</span></em></a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="document" class="tab-pane active"><br>
                <b-row v-if="documents.length">
                    <b-col offset-md="1" md="11" v-for="d in documents" :key="d.id">
                        <li>
                            <b-link :href="'/shared/document/'+d.document_name" target='_blank' class="btn btn-link btn-sm">{{ d.document_name }}</b-link>
                        </li>
                    </b-col>
                </b-row>
                <b-row v-else>
                    <b-col md="12" class="text-center mt-2">There are no documents</b-col>
                </b-row>
            </div>
        </div>

    </div>
    
</template>

<script>

    import { BRow, BCol, BLink } from 'bootstrap-vue';

    export default {
        props: {
            jmpperiod: {}
        },
        data() {
            return {
                documents: [],
            }
        },
        mounted() {
            if(this.jmpperiod){
                this.documents = this.jmpperiod.document_relation;
                console.log(this.documents)
            }

        },
        methods: {
            
        },
        computed: {
            
        },

        components: {
            BRow, BCol, BLink, 
        }
    }

</script>
