<template>

    <div>
        <b-row>
            <b-col md="6"><STRONG>Wait List</STRONG></b-col>
            <b-col md="6">
                <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>  
                <b-link :href="'/marketing/program/waitlist/add/'" class="btn btn-link btn-sm float-right"><i class="fa fa-plus"></i> Wait List</b-link>

                <b-link :href="'/marketing/program/waitlist/queue/'+program_id" class="btn btn-link btn-sm float-right"><i class="fa fa-pencil"></i> Queue</b-link>
            </b-col>
        </b-row>

        <div class="collapse show " id="display_filter">
            <b-row>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <b-input-group size="sm">
                            <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                            <b-input-group-append>
                                <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                            </b-input-group-append>
                        </b-input-group>
                    </b-form-group>
                </b-col>
                <b-col md="6" class="mt-3">
                    <b-form-group label="Status" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                        <model-select :options="selectStatus" v-model="filter_status" placeholder="select item" class="form-control form-control-sm"></model-select>

                    </b-form-group>
                </b-col>
            </b-row>                
        </div>

        <b-row class="mt-3">
            <b-col md="12">
                <b-table responsive small hover bordered show-empty
                    :items="filtered" 
                    :fields="fields" 
                    :per-page="perPage" 
                    :current-page="currentPage" 
                    :filter="filter_search" 
                    :filter_status="filter_status"
                    :fixed="true"
                >
                    <template v-slot:cell(contact)="data">
                        <span v-if="data.item.contact_relation">
                            {{data.item.contact_relation.general_contact_relation.firstname}} {{data.item.contact_relation.general_contact_relation.lastname}}
                        </span>
                    </template>
                    <template v-slot:cell(product)="data">
                        <span v-if="data.item.waitlist_inventory_relation">
                            <span v-for="inventory in data.item.waitlist_inventory_relation">
                                {{inventory.product_relation.SKU}}, 
                            </span>
                        </span>
                    </template>
                    <template v-slot:cell(status)="data">
                        <span v-if="data.item.status_relation">
                            {{data.item.status_relation.description}}
                        </span>
                    </template>
                    <template v-slot:cell(actions)="data">
                        <b-link :href="'/marketing/program/waitlist/update/'+data.item.id" class="btn btn-link btn-sm"><i class="fa fa-pencil"></i></b-link>
                        <b-button size="sm" variant="link" @click="deleteRecord(data.item.id)"><i class="fa fa-trash"></i></b-button>


                        <span v-if="data.item.waitlist_inventory_relation">
                            <span v-if="check(data.item.waitlist_inventory_relation, data.item.status) == 'able_to_order'">
                                <b-link :href="'/marketing/program/order/add/'+program_id+/w/+data.item.id" class="btn btn-link btn-sm"><i class="fa fa-plus"></i></b-link>
                            </span>
                        </span>

                    </template>
                    <template v-slot:table-caption>Total {{filtered.length}} Records</template>
                </b-table>
            </b-col>
        </b-row>
        <b-row>
            <b-col offset-md="8" md="4">
                <b-pagination v-model="currentPage" :total-rows="filtered.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
            </b-col>
        </b-row>
        
    </div>

</template>

<script>

    import { uniqBy } from 'lodash';
    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink  } from 'bootstrap-vue';
    import { ModelSelect } from 'vue-search-select';

    export default {
        props: {
            program_id: '',
        },
        data() {
            return {
                modalShow: false,
                assets: [],
                waitlists: [],
                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'contact', label: 'Contact' },
                    { key: 'owner', label: 'Owner' },
                    { key: 'product', label: 'Product' },
                    { key: 'quantity', label: 'Qty' },
                    { key: 'term', label: 'Term' },
                    { key: 'queue', label: 'Queue' },
                    { key: 'status', label: 'Status' },
                    { key: 'actions', label: 'Action' },
                ],
                
                filter_search: null,
                filter_status: '207',
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50],

            }
        },
        mounted() {
            this.getWaitList();
            this.getAsset();
            if(localStorage.getItem('message')){
                this.makeToast('success', localStorage.getItem('message'));
                localStorage.removeItem('message');
            }
        },
        methods: {
            makeToast(variant, message) {
                this.$bvToast.toast(message, {
                    title: 'Message',
                    variant: variant,
                })
            },
            getWaitList(){
                axios.post('/marketing/program/waitlist/data', { 'ProgramID' : this.program_id }).then(res => {
                    this.waitlists = res.data;
                });
            },
            getAsset() {
                axios.get('/marketing/asset/data').then(res => {
                    this.assets = res.data;
                });
            },
            deleteRecord(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/marketing/program/waitlist/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            },
            check(inventory, status){
                if(status == 207){
                    for (var i = 0; i < inventory.length; i++){
                        if(this.InventoryAvailable.includes(inventory[i].id)){
                            var index = this.InventoryAvailable.indexOf(inventory[i].id);
                            this.InventoryAvailable.splice(index, 1);
                            return "able_to_order";
                        }                    
                    }
                }
            }
        },
        computed: {
            filtered() {
                console.log(this.filter_status)
                return this.waitlists.filter(w => {
                    let fill = true;
                    fill = fill && (this.filter_status == '' || this.filter_status == undefined || w.status == this.filter_status) ;
                    return fill;
                });
            },
            selectStatus() {
                const selectStatus = this.waitlists.filter(w => w.status_relation).map(w =>({ value : w.status, text : w.status_relation.description }));
                return uniqBy(selectStatus, 'value');
            },
            InventoryAvailable(){
                const InventoryAvailable = this.assets
                    .filter(a => 
                        a.inventory_relation && 
                        a.inventory_relation.in_program == this.program_id && 
                        a.transaction_relation && 
                        a.transaction_relation.TrAction == 172 &&
                        a.reserved == 0)
                    .map(a => a.InventoryID);
                return InventoryAvailable;
            },
        },

        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink,
            ModelSelect, 
        }
    }

</script>
