<template>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="e in errors">
                {{ e }}
            </li>
        </div>
        <div class="card">
            <div class="card-header">
                <strong class="card-title"><span v-if="waitlist">Update Waitlist</span><span v-else>Add Waitlist</span>
                    <span class="float-right mt-1">
                        <b-link :href="'/marketing/program/view/'+program_id" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-left"></i></b-link>
                    </span>
                </strong>
            </div>
            <div class="card-body">
                <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
                    <em><span style="color: orange">General</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Program Name</label> <span style="color: red">*</span>
                            <basic-select :options="selectProgram" :selected-option="Form.program_id" placeholder="select item" class="form-control-sm" @select="onSelectProgram" ></basic-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Contact</label> <span style="color: red">*</span>
                            <model-select :options="selectContact" v-model="Form.contact_id" placeholder="select item" class="form-control-sm"></model-select>
                        </b-col>
                        
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Owner</label> <span style="color: red">*</span>
                            <b-form-input v-model="Form.owner" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Term</label>
                            <b-form-input v-model="Form.term" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Quantity</label>
                            <b-form-input type="number" step="1" min="1" v-model="Form.quantity" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Note</label>
                            <b-form-input v-model="Form.note" size="sm"></b-form-input>
                        </b-col>
                    </b-row>          
                    <hr>  
                    <em><span style="color: orange">Product</span></em>
                    <b-row>
                        <b-col md="12">
                            <multi-select :options="selectInventory" :selected-options="Form.inventory_ids" @select="onSelectInventory" placeholder="select item"></multi-select>
                        </b-col>
                    </b-row>
                    <b-row class="text-center mt-2">
                        <b-col md="12">
                            <b-button type="submit" size="sm" variant="info"><b-spinner small label="Spinning" v-if="spinning == true"></b-spinner>Submit</b-button>
                            <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                        </b-col>
                    </b-row>
                </b-form>
            </div>
        </div>
    </div>
</div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BSpinner } from 'bootstrap-vue';

    import { ModelSelect, BasicSelect, MultiSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css';

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BSpinner,
            ModelSelect, BasicSelect, MultiSelect
        },
        props: {
            user: {},
            waitlist: {},
        },
        data() {
            return {
                errors: [],
                spinning: false,
                program_id: '',
                contacts: [],
                programs: [],
                inventories: [],
                Form: {
                    program_id: {value: this.id, text: this.text},
                    contact_id: '',
                    owner: this.user,
                    term: '',
                    quantity: 1,
                    note: '',
                    inventory_ids: [],
                },
            }
        },
        mounted() {
            if(localStorage.getItem('program_id')){
                this.program_id = localStorage.getItem('program_id');
            }
            this.getContact();
            this.getProgram();

            if(this.waitlist){
                this.Form.program_id = { value : this.waitlist.ProgramID, text : this.waitlist.program_relation.value }
                this.Form.contact_id = this.waitlist.ContactID;
                this.Form.owner = this.waitlist.owner;
                this.Form.term = this.waitlist.term;
                this.Form.quantity = this.waitlist.quantity;
                this.Form.note = this.waitlist.note;
                this.Form.inventory_ids = this.waitlist.waitlist_inventory_relation.map(i => ({ value : i.id, text : i.product_relation.SKU+' - '+i.product_relation.Name }));
                this.getInventory(this.waitlist.ProgramID);
            }

            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            getContact() {
                axios.get('/marketing/contact/data').then(res => {
                    this.contacts = res.data;
                });
            },
            getProgram() {
                axios.get('/marketing/program/data').then(res => {
                    this.programs = res.data;
                    this.Form.program_id = this.programs.filter(p => p.id == this.program_id).map(p => ({ value : p.id, text : p.id+' - '+p.value }))[0];
                    this.getInventory(this.Form.program_id.value);
                });
            },
            onSelectProgram(item){
                this.Form.program_id = item;
                this.getInventory(item.value);
            },
            getInventory(program) {
                if(program){
                    axios.post('/marketing/program/data', {'program' : program}).then(res => {
                        this.inventories = res.data;
                    });
                }
            },
            onSelectInventory (items) {
                this.Form.inventory_ids = items;
            },
            
            onSubmit(){
                this.spinning = true;
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }
                data.append('program_id', this.Form.program_id.value);
                const inventoryArr = this.Form.inventory_ids.map(c => c.value);
                data.append('inventory_ids', inventoryArr);

                var postLink = '/marketing/program/waitlist/add';
                if(this.waitlist){
                    postLink = '/marketing/program/waitlist/update/'+this.waitlist.id;
                }
                axios.post(postLink, data).then(response=>{
                    this.errors = [];
                    localStorage.setItem('message', response.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
                window.scrollTo(0,0);
            },            

        },
        computed: {
            selectInventory(){
                const selectInventory = this.inventories.filter(i => i.inventory_relation.product_relation).map(i => ({ value : i.inventory_relation.id, text : i.inventory_relation.product_relation.SKU+' - '+i.inventory_relation.product_relation.Name }));
                return uniqBy(selectInventory, 'value');
            },
            selectContact() {
                const selectContact = this.contacts.map(contact => ({ value : contact.id, text : contact.id+' - '+contact.general_contact_relation.firstname+' '+contact.general_contact_relation.lastname, relationship: contact.relationship }));
                return uniqBy(selectContact, 'value');
            },
            selectProgram(){
                const selectProgram = this.programs.map(program => ({ value : program.id, text : program.id+' - '+program.value }));
                return uniqBy(selectProgram, 'value');
            }
        },
        
    }

</script>
