<template>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Update Queue
                    <span class="float-right mt-1">
                        <button type="button" class="btn btn-outline-info btn-sm" onclick="window.history.back()"><i class="fa fa-arrow-left"></i></button>
                    </span>
                </strong>
            </div>
            <div class="card-body">
                <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
                    <table class="table">
                        
                        <tbody>
                            
                            <draggable :list="waitArr" @start="dragging = true" @end="dragging = false">
                                <tr v-for="waitlist in waitlists" :key="waitlist.id">
                                    <td>{{ waitlist.id }}</td>
                                    <td v-if="waitlist.contact_relation">{{ waitlist.contact_relation.general_contact_relation.firstname }} {{ waitlist.contact_relation.general_contact_relation.lastname }}</td>
                                    <td v-else>N/A</td>
                                    <td>{{ waitlist.owner }}</td>
                                    <td>{{ waitlist.queue }}</td>
                                </tr>
                            </draggable>
                        </tbody>
             
                    </table>
                    <b-row class="text-center mt-2">
                        <b-col md="12">
                            <b-button type="submit" size="sm" variant="info"><b-spinner small label="Spinning" v-if="spinning == true"></b-spinner>Submit</b-button>
                            <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                        </b-col>
                    </b-row>
      
                </b-form>
            </div>
        </div>
    </div>
</div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BTable, BSpinner } from 'bootstrap-vue';

    import draggable from 'vuedraggable'

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BTable, BSpinner,
            draggable
        },
        props: {
            waitlists: {},
            program_id: '',
        },
        data() {
            return {
                waitArr: [],
                dragging: false,
                enabled: true,
                spinning: false,
            }
        },
        mounted() {
            this.waitArr = this.waitlists
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }

        },
        methods: {
            onSubmit(){
                this.spinning = true;
                const data = new FormData();
                data.append('waitlistArr', JSON.stringify(this.waitArr));
                var postLink = '/marketing/program/waitlist/queue/'+this.program_id;
                axios.post(postLink, data).then(response=>{
                    this.errors = [];
                    localStorage.setItem('message', response.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
                window.scrollTo(0,0);
            },            
        },
        computed: {
            
        },
        
    }

</script>
