<template>
    <div>
        <b-row>
            <b-col md="12">
                <download-csv class="btn btn-link btn-sm" :data="export_data">Export CSV</download-csv>
                <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>   
            </b-col>                     
        </b-row>

        <b-row class="collapse show " id="display_filter">
            <b-col md="6" class="mt-3">
                <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                    <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                </b-form-group>
            </b-col>

            <b-col md="6" class="mt-3">
                <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                    <b-input-group size="sm">
                        <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                        <b-input-group-append>
                            <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </b-col>
            <b-col md="6" class="mt-3">
                <b-form-group label="Date Range" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                    <date-picker v-model="filter_date_range" range input-class="form-control form-control-sm" placeholder="Select date range"></date-picker>
                </b-form-group>
            </b-col>

            <b-col md="6" class="mt-3">
                <b-form-group label="Status" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                    <select v-model="filter_status" class="form-control form-control-sm" >
                        <option :value="undefined" selected>--</option>
                        <option :value="st.id" v-for="st in statuses">{{ st.description }}</option>
                    </select>
                </b-form-group>
            </b-col>
            
            
        </b-row>
        <hr>
        <b-row class="mt-3">
            <b-col md="12">
                <b-table responsive small hover bordered show-empty 
                    :items="filtered" 
                    :fields="fields" 
                    :per-page="perPage" 
                    :current-page="currentPage" 
                    :filter="filter_search" 
                    :filter_status="filter_status"
                    :filter_date_range="filter_date_range"
                >
                    <template v-slot:cell(id)="eachOccurrence">
                        <b-link :href="'marketing/occurrence/view/'+eachOccurrence.item.id" class="btn btn-link btn-sm">{{eachOccurrence.item.id}}</b-link>
                    </template>

                    <template v-slot:cell(actions)="eachOccurrence">
                        <b-link :href="'marketing/occurrence/update/'+eachOccurrence.item.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                        <b-button size="sm" variant="outline-danger" @click="deleteTradeshow(eachOccurrence.item.id)"><i class="fa fa-trash"></i></b-button>
                    </template>

                    <template v-slot:table-caption>Total {{filtered.length}} Records</template>
                </b-table>
            </b-col>
        </b-row>

        <b-row>
            <b-col offset-md="8" md="4">
                <b-pagination v-model="currentPage" :total-rows="filtered.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
            </b-col>
        </b-row>

    </div>
    
</template>

<script>

    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import { uniqBy } from 'lodash';
    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink } from 'bootstrap-vue';

    export default {
        data() {
            return {
                export_data: [],
                occurrences: [],
                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'tradeshow_relation.show_name', label: 'Show', sortable: true },
                    { key: 'identifier', label: 'Identifier', sortable: true },
                    { key: 'location', label: 'Location' },
                    { key: 'startdate', label: 'Start', sortable: true },
                    { key: 'enddate', label: 'End', sortable: true },
                    { key: 'occurrence_status_relation.description', label: 'Status' },
                    { key: 'actions', label: 'Actions' }
                ],
                
                filter_search: null,
                filter_status: undefined,
                filter_date_range: [],
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50]
            }
        },
        mounted() {
            this.getOccurrence();
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }

        },
        methods: {
            getOccurrence() {
                axios.get('/marketing/occurrence/data').then(res => {
                    this.occurrences = res.data;
                    this.export_data = res.data.map(o => ({
                        id: o.id,
                        show: o.tradeshow_relation ? o.tradeshow_relation.show_name : '',
                        identifier: o.identifier,
                        start_date: o.startdate,
                        end_date: o.enddate,
                        status: o.occurrence_status_relation ? o.occurrence_status_relation.description : '',
                        address: o.address,
                        website: o.website,
                        booth_number: o.booth_number,
                        labor: o.labor,
                        exibitor_resources: o.exibitor_resources,
                        login_user: o.login_user,
                        login_pass: o.login_pass,
                        sale_lead: o.poc_sale_lead,
                        mktg_lead: o.poc_mktg_lead,
                        rep_name: o.poc_show_rep_name,
                        rep_number: o.poc_show_rep_number,
                        rep_email: o.poc_show_rep_email,
                        sales: o.sales,
                        roi: o.roi,
                        meetings: o.meetings,
                        leads: o.leads
                    }));
                }).catch(errors => {
                    console.log(errors);
                });
            },
            deleteTradeshow(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/marketing/occurrence/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            },
            
            
        },
        computed: {
            filtered() {
                const filter_startdate = new Date(this.filter_date_range[0]);
                const filter_enddate = new Date(this.filter_date_range[1]);
                return this.occurrences.filter(occurrence => {
                    const startdate = new Date(occurrence.startdate);
                    const enddate = new Date(occurrence.enddate);
                    let fill = true;
                    fill = fill && (this.filter_status === undefined || occurrence.status === this.filter_status) ;
                    if(this.filter_date_range.length != 0 && this.filter_date_range[0] != null && this.filter_date_range[0] != null){
                        fill = fill && ((startdate >= filter_startdate && startdate <= filter_enddate) || (enddate >= filter_startdate && enddate <= filter_enddate) || (startdate <= filter_startdate && enddate >= filter_enddate ));
                    }
                    return fill;
                });
            },

            statuses() {
                const statuses = this.occurrences.filter(st => st.occurrence_status_relation).map(occurrence => ({ id : occurrence.occurrence_status_relation.id, description : occurrence.occurrence_status_relation.description }));
                return uniqBy(statuses, 'id');
            },

        },

        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink,
            DatePicker  
        }

    }

</script>
