<template>

<div>
    <div class="alert alert-danger" v-if="errors.length > 0">
        <li v-for="e in errors">
            {{ e }}
        </li>
    </div>
    <b-row>
        <b-col md="12">
            <b-card>
                <template v-slot:header>
                    <h6><span v-if="occurrence">Update Occurrence</span><span v-else>Add Occurrence</span>
                        <span class="float-right mt-1">
                            <b-link :href="'/marketing/occurrence'" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-left"></i></b-link>
                        </span>
                    </h6>
                </template>
                <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
                    <em><span style="color: orange">General</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Show</label> <span style="color: red">*</span>
                            <model-select :options="selectTradeshow" v-model="Form.show_id" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Identifier</label> <span style="color: red">*</span>
                            <b-form-input id="identifier" v-model="Form.identifier" size="sm" ></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Start Date</label> <span style="color: red">*</span>
                            <b-form-input id="startdate" type="date" v-model="Form.startdate" size="sm" ></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">End Date</label> <span style="color: red">*</span>
                            <b-form-input id="enddate" type="date" v-model="Form.enddate" size="sm" ></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Location</label>
                            <b-form-input id="location" v-model="Form.location" size="sm" ></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Status</label>
                            <model-select :options="selectStatus" v-model="Form.status" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-col>
                        
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Website</label>
                            <b-form-input id="website" v-model="Form.website" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Address</label>
                            <b-form-input id="address" v-model="Form.address" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Booth #</label>
                            <b-form-input id="booth" v-model="Form.booth" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Bluemine</label>
                            <b-form-input id="bluemine" v-model="Form.bluemine" size="sm"></b-form-input>
                        </b-col>
                    </b-row>
                    <hr>
                    <em><span style="color: orange">Resources</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Labor</label>
                            <b-form-input id="labor" v-model="Form.labor" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Exibitor Resources</label>
                            <b-form-input id="exibitor_resources" v-model="Form.exibitor_resources" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Username</label>
                            <b-form-input id="login_user" v-model="Form.login_user" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Password</label>
                            <b-form-input id="login_password" v-model="Form.login_password" size="sm"></b-form-input>
                        </b-col>
                    </b-row>

                    <hr>
                    <em><span style="color: orange">POC</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Sales Lead</label>
                            <b-form-input id="poc_sales_lead" v-model="Form.poc_sales_lead" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">MKTG Lead</label>
                            <b-form-input id="poc_mktg_lead" v-model="Form.poc_mktg_lead" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Show Rep Name</label>
                            <b-form-input id="poc_show_rep_name" v-model="Form.poc_show_rep_name" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Show Rep Number</label>
                            <b-form-input id="poc_show_rep_number" v-model="Form.poc_show_rep_number" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Show Rep Email</label>
                            <b-form-input id="poc_show_rep_email" v-model="Form.poc_show_rep_email" size="sm"></b-form-input>
                        </b-col>
                    </b-row>

                    <hr>
                    <em><span style="color: orange">Post Info</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Sales</label>
                            <b-form-input id="post_sales" v-model="Form.post_sales" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">ROI</label>
                            <b-form-input id="post_roi" v-model="Form.post_roi" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Meetings</label>
                            <b-form-input id="post_meetings" v-model="Form.post_meetings" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Leads</label>
                            <b-form-input id="post_leads" v-model="Form.post_leads" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Photo Album</label>
                            <b-form-input id="post_album" v-model="Form.post_album" size="sm"></b-form-input>
                        </b-col>
                    </b-row>
                    
                    <div v-if="!occurrence">
                        <hr>
                        <em><span style="color: orange">Bluemine</span></em>
                        <b-form-checkbox v-model="Form.generate_bluemine" name="check-button" switch>
                            Generate Tasks
                        </b-form-checkbox>
                        <b-row v-if="Form.generate_bluemine == true">
                            <b-col md="6" >
                                <label class="mt-2 col-form-label col-form-label-sm">Project Link</label>
                                <b-form-input v-model="Form.bluemine_project_link" size="sm" placeholder="http://10.0.1.25/projects/test"></b-form-input>
                            </b-col>
                        </b-row>
                    </div>
                        
                        
                    <hr>
                    <em><span style="color: orange">Brand Distribution</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Brand</label>
                            <multi-select :options="selectBrand" :selected-options="Form.brand_id" placeholder="select item" @select="onSelect" class="form-control form-control-sm"></multi-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Distributed</label><br>
                            <span v-if="Form.is100 != 100 && Form.is100 != 0" style="color: red">{{ Form.is100 }}% will be on SLMK</span>
                            <div v-for="brand in Form.brand_id">
                                <div class="input-group input-group-sm mb-1">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">{{brand.short}}</span>
                                    </div>
                                    <input type="number" class="form-control form-control-sm" step="0.01" max="100" v-model="brand.percent" @change="check100">
                                    <div class="input-group-append">
                                        <span class="input-group-text">%</span>
                                    </div>
                                </div>
                            </div>
                        </b-col>
                    </b-row>

                    <hr>
                    <em><span style="color: orange">Document</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Upload (Max 5 files)</label>
                            <file-pond ref="pond" allow-multiple="true" v-bind:files="Form.occurrence_document" v-on:updatefiles="onUpdateFile" accepted-file-types="image/jpeg, image/png" instant-upload="false"/>
                        </b-col>
                        <b-col md="6" v-if="Form.uploaded_occurrence_document.length">
                            <label class="mt-2 col-form-label col-form-label-sm">Uploaded</label>
                            <li v-for="d in Form.uploaded_occurrence_document">
                                <b-link :href="'/shared/document/'+d.document_name" target='_blank' class="btn btn-link btn-sm">{{ d.document_name }}</b-link>
                                <b-button size="sm" variant="outline-danger" @click="deleteDocument(d.id)"><i class="fa fa-times"></i></b-button>
                            </li>

                        </b-col>
                    </b-row>

                    <hr>
                    <em v-if="occurrence"><span style="color: orange">Notes</span></em>
                    <b-row v-if="occurrence">
                        <b-col md="12">
                            <!-- <b-form-textarea rows="3" max-rows="6" v-model="Form.note"></b-form-textarea> -->
                            <ckeditor :editor="editor" v-model="Form.note" ></ckeditor>
                        </b-col>
                    </b-row>
                    
                    <b-row class="text-center mt-2">
                        <b-col md="12">
                            
                            <b-button type="submit" size="sm" variant="info"><b-spinner small label="Spinning" v-if="spinning == true"></b-spinner>Submit</b-button>
                            <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                        </b-col>
                    </b-row>
                </b-form>
            </b-card>
        </b-col>
    </b-row>
</div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BInputGroupAppend, BButton, BInputGroup, BAlert, BLink, BFormTextarea, BFormCheckbox, BSpinner, BCard } from 'bootstrap-vue';

    import { MultiSelect, ModelSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css';

    import vueFilePond from 'vue-filepond';
    import 'filepond/dist/filepond.min.css';
    import FilePondPluginImagePreview from 'filepond-plugin-image-preview';
    import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';

    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BInputGroupAppend, BButton, BInputGroup, BAlert, BLink, BFormTextarea, BFormCheckbox, BSpinner, BCard,
            FilePond: vueFilePond(FilePondPluginImagePreview),
            MultiSelect, ModelSelect,
            ckeditor: CKEditor.component,
        },
        props: {
            occurrence: {}
        },
        data() {
            return {
                errors: [],
                spinning: false,
                tradeshows: [],
                listlists: [],
                brands: [],
                editor: ClassicEditor,
                
                Form: {
                    show_id: '',
                    identifier: '',
                    startdate: '',
                    enddate: '',
                    location: '',
                    status: '',
                    bluemine: '',
                    website: '',
                    address: '',
                    booth: '',
                    labor: '',
                    exibitor_resources: '',
                    login_user: '',
                    login_password: '',
                    poc_sales_lead: '',
                    poc_mktg_lead: '',
                    poc_show_rep_name: '',
                    poc_show_rep_number: '',
                    poc_show_rep_email: '',
                    post_sales: '',
                    post_roi: '',
                    post_meetings: '',
                    post_leads: '',
                    post_album: '',
                    brand_id: [],
                    is100: 100,
                    occurrence_document:[],
                    uploaded_occurrence_document: [],
                    note: '',

                    generate_bluemine: false,
                    bluemine_project_link: '',
                    bluemine_assign_to: '',
                },
                
            }
        },
        mounted() {
            this.getTradeshow();
            this.getListList();
            this.getBrand();

            if(this.occurrence){
                this.Form.show_id = this.occurrence.show_id;
                this.Form.identifier = this.occurrence.identifier;
                this.Form.startdate = this.occurrence.startdate;
                this.Form.enddate = this.occurrence.enddate;
                this.Form.location = this.occurrence.location;
                this.Form.status = this.occurrence.status;
                this.Form.bluemine = this.occurrence.bluemine;
                this.Form.website = this.occurrence.website;
                this.Form.address = this.occurrence.address;
                this.Form.booth = this.occurrence.booth_number;
                this.Form.labor = this.occurrence.labor;
                this.Form.exibitor_resources = this.occurrence.exibitor_resources;
                this.Form.login_user = this.occurrence.login_user;
                this.Form.login_password = this.occurrence.login_pass;
                this.Form.poc_sales_lead = this.occurrence.poc_sales_lead;
                this.Form.poc_mktg_lead = this.occurrence.poc_mktg_lead;
                this.Form.poc_show_rep_name = this.occurrence.poc_show_rep_name;
                this.Form.poc_show_rep_number = this.occurrence.poc_show_rep_number;
                this.Form.poc_show_rep_email = this.occurrence.poc_show_rep_email;
                this.Form.post_sales = this.occurrence.sales;
                this.Form.post_roi = this.occurrence.roi;
                this.Form.post_meetings = this.occurrence.meetings;
                this.Form.post_leads = this.occurrence.leads;
                this.Form.post_album = this.occurrence.photo_album;
                this.Form.brand_id = this.occurrence.occurrence_distribution_relation.filter(b => b.brand_id != 1).map(brand => ({ value : brand.brand_id, text : brand.distribution_brand_relation.name, short:brand.distribution_brand_relation.short_name, percent:brand.percent }));
                this.Form.is100 = this.occurrence.occurrence_distribution_relation.filter(b => b.brand_id == 1).map(brand => brand.percent );
                this.Form.uploaded_occurrence_document = this.occurrence.document_relation;
            }

            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            getTradeshow() {
                axios.get('/marketing/tradeshow/data').then(res => {
                    this.tradeshows = res.data;
                });
            },
            getListList() {
                axios.get('/shared/listlist/data').then(res => {
                    this.listlists = res.data;
                });
            },
            getBrand() {
                axios.get('/shared/brand/data').then(res => {
                    this.brands = res.data;
                });
            },
            onSelect (items) {
                this.Form.brand_id = items;
                items.forEach( (item) => {
                    item.percent = (100/items.length).toFixed(2);
                });
                this.check100();
            },

            check100(){
                if(this.Form.brand_id.length > 0){
                    const check100 = this.Form.brand_id.map(b => b.percent).reduce(function(a,b){
                        return parseFloat(a)+parseFloat(b);
                    });
                    this.Form.is100 = (100-check100).toFixed(2);
                }
                else{
                    this.Form.is100 = 100;
                }
            },

            onUpdateFile(files) {
                this.Form.occurrence_document = files.map(files => files.file);
            },

            deleteDocument(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/shared/document/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
                    
            },

            onSubmit(){
                this.spinning = true;
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }
                for (var i = 0; i < this.Form.occurrence_document.length; i++) {
                    let file = this.Form.occurrence_document[i];
                    data.append("occurrence_document[" + i + "]", file);
                }
                const brandArr = this.Form.brand_id.map(brand => ({id: brand.value, percent: brand.percent}));
                data.append('brand_id', JSON.stringify(brandArr));

                var postLink = '/marketing/occurrence/add';
                if(this.occurrence){
                    postLink = '/marketing/occurrence/update/'+this.occurrence.id;
                }

                axios.post(postLink, data).then(response=>{
                    this.errors = [];
                    localStorage.setItem('message', response.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
                window.scrollTo(0,0);
            },            

        },
        computed: {
            selectTradeshow(){
                const selectTradeshow = this.tradeshows.map(tradeshow => ({ value : tradeshow.id, text : tradeshow.show_name }));
                return uniqBy(selectTradeshow, 'value');
            },
            selectStatus() {
                const selectStatus = this.listlists.filter(ll => ll.pid == 27).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectStatus, 'value');
            },
            selectBrand() {
                const selectBrand = this.brands.filter(b => b.pid == 1).map(brand => ({ value : brand.id, text : brand.name, short:brand.short_name, percent:0 }));
                return uniqBy(selectBrand, 'value');
            },
        },

        
    }

</script>
