<template>

    <div>
        <b-row>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Show</strong></label>
                <label class="col-md-8" v-if="occurrence.tradeshow_relation">{{occurrence.tradeshow_relation.show_name}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Identifier</strong></label>
                <label class="col-md-8">{{occurrence.identifier}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Start Date</strong></label>
                <label class="col-md-8">{{occurrence.startdate}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>End Date</strong></label>
                <label class="col-md-8">{{occurrence.enddate}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Location</strong></label>
                <label class="col-md-8">{{occurrence.location}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Status</strong></label>
                <label class="col-md-8" v-if="occurrence.occurrence_status_relation">{{occurrence.occurrence_status_relation.description}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Bluemine</strong></label>
                <label class="col-md-8">{{occurrence.bluemine}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Website</strong></label>
                <label class="col-md-8">{{occurrence.website}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Address</strong></label>
                <label class="col-md-8">{{occurrence.address}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Booth</strong></label>
                <label class="col-md-8">{{occurrence.booth_number}}</label>
            </b-col>
        </b-row>

        <hr>

        <ul class="nav nav-tabs nav-justified nav-sm">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#expense"><em><span style="color: orange">Expenses</span></em></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#brand_distribution"><em><span style="color: orange">Distribution</span></em></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#resources"><em><span style="color: orange">Resources</span></em></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#poc"><em><span style="color: orange">PoC</span></em></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#post"><em><span style="color: orange">Post</span></em></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#document"><em><span style="color: orange">Documents</span></em></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#notes"><em><span style="color: orange">Notes</span></em></a>
            </li>
        </ul>

        <div class="tab-content">

            <div id="expense" class="tab-pane active"><br>
                <b-row>
                    <b-col md="12" class="mt-2">
                        expense
                    </b-col>
                </b-row>
            </div>

            <div id="brand_distribution" class="tab-pane fade"><br>
                <b-row v-if="distribution.length">
                    <b-col md="6" v-for="dis in distribution" :key="dis.distribution_brand_relation.id" class="mt-2">
                        <label class="col-md-3"><strong>{{ dis.distribution_brand_relation.name }}</strong></label>
                        <label class="col-md-8">{{ dis.percent }} %</label>
                    </b-col>
                </b-row>
            </div>

            <div id="resources" class="tab-pane fade"><br>
                <b-row>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Labor</strong></label>
                        <label class="col-md-8">{{occurrence.labor}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Exibitor</strong></label>
                        <label class="col-md-8">{{occurrence.exibitor_resources}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Username</strong></label>
                        <label class="col-md-8">{{occurrence.login_user}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Password</strong></label>
                        <label class="col-md-8">{{occurrence.login_pass}}</label>
                    </b-col>
                </b-row>
            </div>

            <div id="poc" class="tab-pane fade"><br>
                <b-row>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Sales Lead</strong></label>
                        <label class="col-md-8">{{occurrence.poc_sales_lead}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>MKTG Lead</strong></label>
                        <label class="col-md-8">{{occurrence.poc_mktg_lead}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Show Rep</strong></label>
                        <label class="col-md-8">{{occurrence.poc_show_rep_name}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Rep Number</strong></label>
                        <label class="col-md-8">{{occurrence.poc_show_rep_number}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Rep Email</strong></label>
                        <label class="col-md-8">{{occurrence.poc_show_rep_email}}</label>
                    </b-col>
                </b-row>
            </div>

            <div id="post" class="tab-pane fade"><br>
                <b-row>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Sales</strong></label>
                        <label class="col-md-8">{{occurrence.sales}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>ROI</strong></label>
                        <label class="col-md-8">{{occurrence.roi}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Meeting</strong></label>
                        <label class="col-md-8">{{occurrence.meetings}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Lead</strong></label>
                        <label class="col-md-8">{{occurrence.leads}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Album</strong></label>
                        <label class="col-md-8">{{occurrence.photo_album}}</label>
                    </b-col>
                </b-row>
            </div>

            <div id="document" class="tab-pane fade"><br>
                <b-row v-if="documents.length">
                    <b-col offset-md="1" md="11" v-for="d in documents" :key="d.id" class="mt-2">
                        <li>
                            <b-link :href="'/shared/document/'+d.document_name" target='_blank' class="btn btn-link btn-sm">{{ d.document_name }}</b-link>
                        </li>
                    </b-col>
                </b-row>
            </div>

            <div id="notes" class="tab-pane fade"><br>
                <b-row>
                    <b-col md="12">
                        <b-table responsive small hover bordered show-empty 
                            :items="notes" 
                            :fields="fields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                        >
                            <template v-slot:cell(detail)="data">
                                <span v-html="data.value"></span>
                            </template>
                            <template v-slot:table-caption>Total {{notes.length}} Records</template>
                        </b-table>

                    </b-col>
                </b-row>
                <b-row>
                    <b-col offset-md="8" md="4">
                        <b-pagination v-model="currentPage" :total-rows="notes.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                    </b-col>
                </b-row>
            </div>

        </div>

    </div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BRow, BCol, BLink, BTable, BPagination } from 'bootstrap-vue';

    export default {
        props: {
            occurrence: {}
        },
        data() {
            return {
                success: '',
                errors: [],
                distribution: [],
                documents: [],
                notes: [],
                fields: [
                    { key: 'action_relation.description', label: 'Action' },
                    { key: 'detail', label: 'Detail' },
                    { key: 'date_created', label: 'Date', sortable: true },
                    { key: 'user_relation.username', label: 'Owner' },
                ],
                currentPage: 1,
                perPage: 10,
            }
        },
        mounted() {
            if(this.occurrence){
                this.distribution = this.occurrence.occurrence_distribution_relation;
                this.documents = this.occurrence.document_relation;
                this.notes = this.occurrence.note_relation;
                console.log(this.notes);
            }

        },
        methods: {
            scrollToTop() {
                window.scrollTo(0,0);
            },

            
        },
        computed: {
            
        },

        components: {
            BRow, BCol, BLink, BTable, BPagination
        }
    }

</script>
