<template>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">AdBuy List
                    <span class="float-right mt-1">
                        <b-link :href="'/marketing/adbuy/add/'" class="btn btn-outline-info btn-sm"><i class="fa fa-plus"></i></b-link>
                    </span>
                </strong>
            </div>
            <div class="card-body">
                <b-row>
                    <b-col md="12">
                        <download-csv class="btn btn-link btn-sm" :data="export_data">Export CSV</download-csv>
                        <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>   
                    </b-col>                     
                </b-row>

                <b-row class="collapse show " id="display_filter">
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-input-group size="sm">
                                <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                                <b-input-group-append>
                                    <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Vendor" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <model-select :options="selectVendor" v-model="filter_vendor" placeholder="select item" class="form-control form-control-sm">
                            </model-select>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Status" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <model-select :options="selectStatus" v-model="filter_status" placeholder="select item" class="form-control form-control-sm">
                            </model-select>
                        </b-form-group>
                    </b-col>
                </b-row>                
                <b-row class="mt-3">
                    <b-col md="12">
                        <b-table responsive small hover bordered show-empty 
                            :items="filtered" 
                            :fields="fields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                            :filter="filter_search"
                            :filter_status="filter_status"
                            :filter_vendor="filter_vendor"
                            :fixed="false"
                        >
                            <template v-slot:cell(id)="data">
                                <b-link :href="'/marketing/adbuy/view/'+data.item.id" class="btn btn-link btn-sm">{{data.item.id}}</b-link>
                            </template>
                            <template v-slot:cell(vendor)="data">
                                <span v-if="data.item.vendor_relation">{{data.item.vendor_relation.name}}</span>
                            </template>
                            <template v-slot:cell(status)="data">
                                <span v-if="data.item.status_relation">{{data.item.status_relation.description}}</span>
                            </template>
                            <template v-slot:cell(total_commit)="data">
                                {{data.item.total_commit ? '$'+data.item.total_commit : ''}}
                            </template>
                            <template v-slot:cell(actions)="data">
                                <b-link :href="'/marketing/adbuy/update/'+data.item.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                                <b-button size="sm" variant="outline-danger" @click="deleteRecord(data.item.id)"><i class="fa fa-trash"></i></b-button>
                            </template>
                            <template v-slot:table-caption>Total {{filtered.length}} Records</template>
                        </b-table>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col offset-md="8" md="4">
                        <b-pagination v-model="currentPage" :total-rows="filtered.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                    </b-col>
                </b-row>
            </div>
        </div>
    </div>
</div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink  } from 'bootstrap-vue';
    import { ModelSelect } from 'vue-search-select';

    export default {
        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink,
            ModelSelect
        },
        props: {
            adbuys: {},
        },
        data() {
            return {
                export_data: [],
                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'vendor', label: 'Vendor' },
                    { key: 'status', label: 'Status' },
                    { key: 'date_quoted', label: 'Date Quoted', sortable: true },
                    { key: 'date_signed', label: 'Date Signed', sortable: true },
                    { key: 'total_commit', label: 'Commit', sortable: true },
                    { key: 'actions', label: 'Actions' }
                ],
                
                filter_search: null,
                filter_status: undefined,
                filter_vendor: undefined,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50]
            }
        },
        mounted() {
            if(this.adbuys){
                //export data
                this.export_data = this.adbuys.map(b => ({
                    id: b.id,
                    vendor: b.vendor_relation ? b.vendor_relation.name : '',
                    description: b.description,
                    date_quoted: b.date_quoted,
                    date_signed: b.date_signed,
                    status: b.status_relation ? b.status_relation.description : '',
                    total_commit: b.total_commit,
                    total_invoiced: b.total_invoiced,
                    amount_remaining: b.amount_remaining
                }));
            }

            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            deleteRecord(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/marketing/adbuy/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            },
        },
        computed: {
            filtered() {
                return this.adbuys.filter(adbuy => {
                    let fill = true;
                    fill = fill && (this.filter_status == undefined || adbuy.status == this.filter_status) ;
                    fill = fill && (this.filter_vendor == undefined || adbuy.VendorID == this.filter_vendor) ;
                    return fill;
                });
            },
            selectStatus() {
                const selectStatus = this.adbuys.filter(st => st.status_relation).map(item =>({ value : item.status, text : item.status_relation.description }));
                return uniqBy(selectStatus, 'value');
            },
            selectVendor() {
                const selectVendor = this.adbuys.filter(st => st.vendor_relation).map(item =>({ value : item.VendorID, text : item.vendor_relation.name }));
                return uniqBy(selectVendor, 'value');
            },
        },

        
    }

</script>
