<template>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="e in errors">
                {{ e }}
            </li>
        </div>
        <div class="card">
            <div class="card-header">
                <strong class="card-title"><span v-if="adbuy">Update AdBuy</span><span v-else>Add AdBuy</span>
                    <span class="float-right mt-1">
                        <button type="button" class="btn btn-outline-info btn-sm" onclick="location.href='marketing/adbuy'"><i class="fa fa-arrow-left"></i></button>
                    </span>
                </strong>
            </div>
            
            <div class="card-body">
                <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
                    <em><span style="color: orange">General</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Vendor</label> <span style="color: red">*</span>
                            <model-select :options="selectVendor" v-model="Form.VendorID" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Description</label> <span style="color: red">*</span>
                            <b-form-input v-model="Form.description" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Date Quoted</label>
                            <b-form-input type="date" v-model="Form.date_quoted" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Date Signed</label>
                            <b-form-input type="date" v-model="Form.date_signed" size="sm"></b-form-input>
                        </b-col>
                        
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Status</label>
                            <model-select :options="selectStatus" v-model="Form.status" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Bluemine</label>
                            <b-form-input v-model="Form.bluemine" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Total Commit</label>
                            <b-form-input type="number" step="1" min="0" v-model="Form.total_commit" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Total Invoiced</label>
                            <b-form-input type="number" step="1" min="0" v-model="Form.total_invoiced" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Remaining</label>
                            <b-form-input type="number" step="1" min="0" v-model="Form.amount_remaining" size="sm"></b-form-input>
                        </b-col>
                    </b-row>
                    <br>
                    <b-row class="text-center">
                        <b-col md="12">
                            <b-button type="submit" size="sm" variant="info"><b-spinner small label="Spinning" v-if="spinning == true"></b-spinner>Submit</b-button>
                            <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                        </b-col>
                    </b-row>
                
                </b-form>
            </div>
        </div>
    </div>
</div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BButton, BAlert, BLink, BFormDatalist, BFormCheckbox, BInputGroup, BCard, BSpinner } from 'bootstrap-vue';

    import { ModelSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css';

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BButton, BAlert, BLink, BFormDatalist, BFormCheckbox, BInputGroup, BSpinner,
            ModelSelect,
        },
        props: {
            adbuy: {},
        },
        data() {
            return {
                errors: [],
                spinning: false,
                listlists: [],
                vendors: [],

                Form: {
                    VendorID: '',
                    description: '',
                    date_quoted: '',
                    date_signed: '',
                    status: '',
                    bluemine: '',
                    total_commit: '',
                    total_invoiced: '',
                    amount_remaining: '',
                    
                },
            }
        },
        mounted() { 
            this.getListList();  
            this.getVendor();

            if(this.adbuy){
                this.Form.VendorID = this.adbuy.VendorID;
                this.Form.description = this.adbuy.description;
                this.Form.date_quoted = this.adbuy.date_quoted;
                this.Form.date_signed = this.adbuy.date_signed;
                this.Form.status = this.adbuy.status;
                this.Form.bluemine = this.adbuy.bluemine;
                this.Form.total_commit = this.adbuy.total_commit;
                this.Form.total_invoiced = this.adbuy.total_invoiced;
                this.Form.amount_remaining = this.adbuy.amount_remaining;
            }   

            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            getListList() {
                axios.get('/shared/listlist/data').then(res => {
                    this.listlists = res.data;
                });
            },
            getVendor() {
                axios.get('/marketing/vendor/data').then(res => {
                    this.vendors = res.data;
                });
            },
            onSubmit(){
                this.spinning = true;
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }

                var postLink = (this.adbuy) ? '/marketing/adbuy/update/'+this.adbuy.id : '/marketing/adbuy/add';
                axios.post(postLink, data).then(res=>{
                    this.errors = [];
                    localStorage.setItem('message', res.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
                window.scrollTo(0,0);
            },
        
        },
        computed: {
            selectStatus() {
                const selectStatus = this.listlists.filter(ll => ll.pid == 1).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectStatus, 'value');
            },
            selectVendor() {
                const selectVendor = this.vendors.filter(v => v.active == 1).map(v => ({ value : v.id, text : v.id+' - '+v.name }));
                return uniqBy(selectVendor, 'value');
            },
            
            
        },

        
    }

</script>
