<template>
<div>
    <b-row>
        <b-col md="12">
            <b-card>
                <template v-slot:header>
                    <h6>View AdBuy
                        <span class="float-right mt-1">
                            <b-link :href="'/marketing/adbuy/update/'+adbuy.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                            <b-link :href="'/marketing/adbuy'" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-left"></i></b-link>
                        </span>
                    </h6>
                </template>
    
                <b-row>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Vendor</strong></label>
                        <label class="col-md-8" v-if="adbuy.vendor_relation">{{adbuy.vendor_relation.name}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Description</strong></label>
                        <label class="col-md-8">{{adbuy.description}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Date Quoted</strong></label>
                        <label class="col-md-8">{{adbuy.date_quoted}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Date Signed</strong></label>
                        <label class="col-md-8">{{adbuy.date_signed}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Status</strong></label>
                        <label class="col-md-8" v-if="adbuy.status_relation">{{adbuy.status_relation.description}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Bluemine</strong></label>
                        <label class="col-md-8">{{adbuy.bluemine}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Total Commit</strong></label>
                        <label class="col-md-8">{{adbuy.total_commit}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Total Invoiced</strong></label>
                        <label class="col-md-8" >{{adbuy.total_invoiced}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Remaining</strong></label>
                        <label class="col-md-8" >{{adbuy.amount_remaining}}</label>
                    </b-col>
                </b-row>

                <hr>

                <ul class="nav nav-tabs nav-justified nav-sm">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#adspot"><em><span style="color: orange">AdSpot</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#changes"><em><span style="color: orange">Changes</span></em></a>
                    </li>
                </ul>

                <div class="tab-content">

                    <div id="adspot" class="tab-pane active">
                        <b-row class="mt-3">
                            <b-col md="12">
                                <b-table responsive small hover bordered show-empty
                                    :items="adspots" 
                                    :fields="fields" 
                                    :per-page="perPage" 
                                    :current-page="currentPage" 
                                    :fixed="true"
                                >
                                    <template v-slot:cell(id)="data">
                                        <b-link :href="'/marketing/adspot/view/'+data.item.id" class="btn btn-link btn-sm">{{data.item.id}}</b-link>
                                    </template>
                                    <template v-slot:cell(date_range)="data">
                                        {{data.item.startdate}} - {{data.item.enddate}}
                                    </template>
                                    <template v-slot:table-caption>Total {{adspots.length}} Records</template>
                                </b-table>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col offset-md="8" md="4">
                                <b-pagination v-model="currentPage" :total-rows="adspots.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                            </b-col>
                        </b-row>
                    </div>

                    <div id="changes" class="tab-pane fade">
                        <b-row class="mt-3">
                            <b-col md="12">
                                <b-table responsive small hover bordered show-empty
                                    :items="changes" 
                                    :fields="changes_fields" 
                                    :per-page="perPage" 
                                    :current-page="currentPage" 
                                >
                                    <template v-slot:cell(changes_detail)="data">
                                        <span v-if="data.item.changes_detail_relation">
                                            <li v-for="change in data.item.changes_detail_relation" :key="change.id">
                                                {{change.column_name}} 
                                                changed from 
                                                {{change.old_value == '' ? 'N/A' : change.old_value}}
                                                 to 
                                                 {{change.new_value == '' ? 'N/A' : change.new_value}}
                                            </li>
                                        </span>
                                    </template>
                                    <template v-slot:cell(changes_owner)="data">
                                        <span v-if="data.item.user_relation">
                                            {{data.item.user_relation.firstname}} {{data.item.user_relation.lastname}}
                                        </span>
                                    </template>
                                </b-table>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col offset-md="8" md="4">
                                <b-pagination v-model="currentPage" :total-rows="changes.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                            </b-col>
                        </b-row>
                    </div>

                </div>
            </b-card>
        </b-col>
    </b-row>
</div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BRow, BCol, BButton, BTable, BPagination, BLink, BInputGroup, BCard  } from 'bootstrap-vue';


    export default {
        components: {
            BRow, BCol, BButton, BTable, BPagination, BLink, BInputGroup, BCard
        },
        props: {
            adbuy: {},
        },
        data() {
            return {
                currentPage: 1,
                perPage: 10,

                adspots: [],
                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'channel_relation.name', label: 'Channel' },
                    { key: 'issue', label: 'Issue' },
                    { key: 'product', label: 'Product' },
                    { key: 'date_range', label: 'Start - End' },
                    { key: 'status_relation.description', label: 'Status' },
                ],  

                changes: [],
                changes_fields: [
                    { key: 'id', label: 'ID' },
                    { key: 'changes_detail', label: 'Changes' },
                    { key: 'created_at', label: 'Date'},
                    { key: 'changes_owner', label: 'Owner' },
                ],              
            }
        },
        mounted() {
            if(this.adbuy){
                this.adspots = this.adbuy.adspot_relation;
                this.changes = this.adbuy.changes_relation;
            }
        },
        methods: {
        
        },
        computed: {
            
        },

        
    }

</script>
