<template>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">AdSpot List
                    <span class="float-right mt-1">
                        <b-link :href="'/marketing/adspot/add/'" class="btn btn-outline-info btn-sm"><i class="fa fa-plus"></i></b-link>
                    </span>
                </strong>
            </div>
            <div class="card-body">
                <b-row>
                    <b-col md="12">
                        <download-csv class="btn btn-link btn-sm" :data="export_data">Export CSV</download-csv>
                        <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>   
                    </b-col>                     
                </b-row>

                <b-row class="collapse show " id="display_filter">
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-input-group size="sm">
                                <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                                <b-input-group-append>
                                    <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Channel" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <model-select :options="selectChannel" v-model="filter_channel" placeholder="select item" class="form-control form-control-sm">
                            </model-select>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Status" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <model-select :options="selectStatus" v-model="filter_status" placeholder="select item" class="form-control form-control-sm">
                            </model-select>
                        </b-form-group>
                    </b-col>
                </b-row>                
                <b-row class="mt-3">
                    <b-col md="12">
                        <b-table responsive small hover bordered show-empty 
                            :items="filtered" 
                            :fields="fields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                            :filter="filter_search"
                            :filter_status="filter_status"
                            :filter_channel="filter_channel"
                            :fixed="false"
                        >
                            <template v-slot:cell(id)="data">
                                <b-link :href="'/marketing/adspot/view/'+data.item.id" class="btn btn-link btn-sm">{{data.item.id}}</b-link>
                            </template>
                            <template v-slot:cell(date_range)="data">
                                {{data.item.startdate}} - {{data.item.enddate}}
                            </template>
                            <template v-slot:cell(actions)="data">
                                <b-link :href="'/marketing/adspot/update/'+data.item.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                                <b-button size="sm" variant="outline-danger" @click="deleteRecord(data.item.id)"><i class="fa fa-trash"></i></b-button>
                            </template>
                            <template v-slot:table-caption>Total {{filtered.length}} Records</template>
                        </b-table>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col offset-md="8" md="4">
                        <b-pagination v-model="currentPage" :total-rows="filtered.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                    </b-col>
                </b-row>
            </div>
        </div>
    </div>
</div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink  } from 'bootstrap-vue';
    import { ModelSelect } from 'vue-search-select';

    export default {
        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink,
            ModelSelect
        },
        props: {
            adspots: {},
        },
        data() {
            return {
                export_data: [],
                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'channel_relation.name', label: 'Channel' },
                    { key: 'issue', label: 'Issue' },
                    { key: 'product', label: 'Product' },
                    { key: 'date_range', label: 'Start - End' },
                    { key: 'status_relation.description', label: 'Status' },
                    { key: 'actions', label: 'Actions' }
                ],
                
                filter_search: null,
                filter_status: undefined,
                filter_channel: undefined,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50]
            }
        },
        mounted() {

            if(this.adspots){
                //export data
                this.export_data = this.adspots.map(s => ({
                    id: s.id,
                    adbuy_id: s.adbuy_relation ? s.adbuy_relation.description : '',
                    channel: s.channel_relation ? s.channel_relation.name : '',
                    vendor: s.vendor_relation ? s.vendor_relation.name : '',
                    medium: s.medium_relation ? s.medium_relation.description : '',
                    frequency: s.frequency_relation ? s.frequency_relation.description : '',
                    size: s.size_relation ? s.size_relation.description : '',
                    orientation: s.orientation_relation ? s.orientation_relation.description : '',
                    status: s.status_relation ? s.status_relation.description : '',
                    issue: s.issue,
                    theme: s.issue_theme,
                    place: s.place,
                    note: s.note,
                    start_date: s.startdate,
                    end_date: s.enddate,
                    insertion_due: s.insertion_due,
                    creative_due: s.creative_due,
                    msrp: s.msrp,
                    invoice_amount: s.invoice_amount,
                    audited_reach: s.audited_reach,
                    cpm: s.cpm,
                    roi: s.roi,
                    quality_factor: s.quality_factor,
                    product: s.product
                }));
            }

            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            deleteRecord(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/marketing/adspot/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            },
        },
        computed: {
            filtered() {
                return this.adspots.filter(adspot => {
                    let fill = true;
                    fill = fill && (this.filter_status == undefined || adspot.status == this.filter_status) ;
                    fill = fill && (this.filter_channel == undefined || adspot.ChannelID == this.filter_channel) ;
                    return fill;
                });
            },
            selectStatus() {
                const selectStatus = this.adspots.filter(st => st.status_relation).map(item =>({ value : item.status, text : item.status_relation.description }));
                return uniqBy(selectStatus, 'value');
            },
            selectChannel() {
                const selectChannel = this.adspots.filter(st => st.channel_relation).map(item =>({ value : item.ChannelID, text : item.channel_relation.name }));
                return uniqBy(selectChannel, 'value');
            },
        },

        
    }

</script>
