<template>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="e in errors">
                {{ e }}
            </li>
        </div>
        <div class="card">
            <div class="card-header">
                <strong class="card-title"><span v-if="adspot">Update Spot</span><span v-else>Add Spot</span>
                    <span class="float-right mt-1">
                        <button type="button" class="btn btn-outline-info btn-sm" onclick="location.href='/marketing/adspot/'"><i class="fa fa-arrow-left"></i></button>
                    </span>
                </strong>
            </div>
            
            <div class="card-body">
                <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
                    <em><span style="color: orange">General</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">AdBuy</label> <span style="color: red">*</span>
                            <basic-select :options="selectAdbuy" :selected-option="Form.AdbuyID" placeholder="select item" class="form-control-sm" @select="onSelectAdbuy"></basic-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Channel</label> <span style="color: red">*</span>
                            <model-select :options="selectChannel" v-model="Form.ChannelID" placeholder="select item" class="form-control-sm"></model-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Issue</label>
                            <b-form-input v-model="Form.issue" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Medium</label>
                            <model-select :options="selectMedium" v-model="Form.medium" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Frequency</label>
                            <model-select :options="selectFrequency" v-model="Form.frequency" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Size</label>
                            <model-select :options="selectSize" v-model="Form.size" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Orientation</label>
                            <model-select :options="selectOrientation" v-model="Form.orientation" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Status</label>
                            <model-select :options="selectStatus" v-model="Form.status" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Place</label>
                            <b-form-input v-model="Form.place" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Bluemine</label>
                            <b-form-input v-model="Form.bluemine" size="sm"></b-form-input>
                        </b-col>
                    </b-row>

                    <br>
                    <em><span style="color: orange">Time</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Start Date</label>
                            <b-form-input type="date" v-model="Form.startdate" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">End Date</label>
                            <b-form-input type="date" v-model="Form.enddate" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Insertion Due</label>
                            <b-form-input type="date" v-model="Form.insertion_due" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Creative Due</label>
                            <b-form-input type="date" v-model="Form.creative_due" size="sm"></b-form-input>
                        </b-col>
                    </b-row>

                    <br>
                    <em><span style="color: orange">ROI</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">MSRP</label>
                            <b-form-input type="number" step="0.01" v-model="Form.msrp" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Invoice Amount</label>
                            <b-form-input type="number" step="0.01" v-model="Form.invoice_amount" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">CPM</label>
                            <b-form-input type="number" step="0.01" v-model="Form.cpm" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">ROI</label>
                            <b-form-input  v-model="Form.roi" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Audited reach</label>
                            <b-form-input type="number" step="0.01" v-model="Form.audited_reach" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Quality Factor</label>
                            <b-form-input v-model="Form.quality_factor" size="sm"></b-form-input>
                        </b-col>
                    </b-row>

                    <br>
                    <em><span style="color: orange">Ad Plan</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Campaign</label>
                            <b-form-input v-model="Form.campaign" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Product</label>
                            <b-form-input v-model="Form.product" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Brand</label>
                            <model-select :options="selectBrand" v-model="Form.BrandID" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Phone Used</label>
                            <b-form-input v-model="Form.phone_used" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Emnail Used</label>
                            <b-form-input v-model="Form.email_used" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Link Used</label>
                            <b-form-input v-model="Form.link_used" size="sm"></b-form-input>
                        </b-col>
                    </b-row>

                    <br>
                    <em><span style="color: orange">Document</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Upload (Max 5 files)</label>
                            <file-pond ref="pond" allow-multiple="true" v-bind:files="Form.documents" v-on:updatefiles="onUpdateFile" accepted-file-types="image/jpeg, image/png, application/pdf" instant-upload="false"/>
                        </b-col>
                        <b-col md="6" v-if="Form.uploaded_documents.length">
                            <label class="mt-2 col-form-label col-form-label-sm">Uploaded</label>
                            <li v-for="d in Form.uploaded_documents">
                                <b-link :href="'/shared/document/'+d.document_name" target='_blank' class="btn btn-link btn-sm">{{ d.document_name }}</b-link>
                                <b-button size="sm" variant="outline-danger" @click="deleteDocument(d.id)"><i class="fa fa-times"></i></b-button>
                            </li>
                        </b-col>
                    </b-row>            

                    <br>
                    <b-row class="text-center">
                        <b-col md="12">
                            <b-button type="submit" size="sm" variant="info"><b-spinner small label="Spinning" v-if="spinning == true"></b-spinner>Submit</b-button>
                            <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                        </b-col>
                    </b-row>
                
                </b-form>
            </div>
        </div>
    </div>
</div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BButton, BAlert, BLink, BFormDatalist, BFormCheckbox, BInputGroup, BCard, BSpinner } from 'bootstrap-vue';

    import { ModelSelect, BasicSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css';

    import vueFilePond from 'vue-filepond';
    import 'filepond/dist/filepond.min.css';
    import FilePondPluginImagePreview from 'filepond-plugin-image-preview';
    import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';
    import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type';

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BButton, BAlert, BLink, BFormDatalist, BFormCheckbox, BInputGroup, BSpinner,
            ModelSelect, BasicSelect,
        },
        props: {
            adspot: {},
        },
        data() {
            return {
                errors: [],
                spinning: false,
                listlists: [],
                adbuys: [],
                channels: [],
                brands: [],
                Form: {
                    AdbuyID: {value: '', text: ''},
                    ChannelID: '',
                    issue: '',
                    medium: '',
                    frequency: '',
                    size: '',
                    orientation: '',
                    status: '',
                    place: '',
                    bluemine: '',
                    startdate: '',
                    enddate: '',
                    insertion_due: '',
                    creative_due: '',
                    msrp: '',
                    invoice_amount: '',
                    cpm: '',
                    roi: '',
                    audited_reach: '',
                    quality_factor: '',
                    campaign: '',
                    product: '',
                    BrandID: '',
                    phone_used: '',
                    email_used: '',
                    link_used: '',
                    documents: [],
                    uploaded_documents: [],
                },
            }
        },
        mounted() { 
            this.getListList();  
            this.getAdbuy();
            this.getChannel();
            this.getBrand();
            if(this.adspot){
                this.Form.AdbuyID = { value : this.adspot.AdbuyID, text : this.adspot.AdbuyID+' - '+this.adspot.adbuy_relation.description, vendor_id: this.adspot.adbuy_relation.VendorID }
                this.getChannel(this.adspot.adbuy_relation.VendorID);

                this.Form.ChannelID = this.adspot.ChannelID;
                this.Form.issue = this.adspot.issue == null ? '' : this.adspot.issue;
                this.Form.medium = this.adspot.medium == null ? '' : this.adspot.medium;
                this.Form.frequency = this.adspot.frequency == null ? '' : this.adspot.frequency;
                this.Form.size = this.adspot.size == null ? '' : this.adspot.size;
                this.Form.orientation = this.adspot.orientation == null ? '' : this.adspot.orientation;
                this.Form.status = this.adspot.status == null ? '' : this.adspot.status;
                this.Form.place = this.adspot.place == null ? '' : this.adspot.place;
                this.Form.bluemine = this.adspot.bluemine == null ? '' : this.adspot.bluemine;
                this.Form.startdate = this.adspot.startdate == null ? '' : this.adspot.startdate;
                this.Form.enddate = this.adspot.enddate == null ? '' : this.adspot.enddate;
                this.Form.insertion_due = this.adspot.insertion_due == null ? '' : this.adspot.insertion_due;
                this.Form.creative_due = this.adspot.creative_due == null ? '' : this.adspot.creative_due;
                this.Form.msrp = this.adspot.msrp == null ? '' : this.adspot.msrp;
                this.Form.invoice_amount = this.adspot.invoice_amount == null ? '' : this.adspot.invoice_amount;
                this.Form.cpm = this.adspot.cpm == null ? '' : this.adspot.cpm;
                this.Form.roi = this.adspot.roi == null ? '' : this.adspot.roi;
                this.Form.audited_reach = this.adspot.audited_reach == null ? '' : this.adspot.audited_reach;
                this.Form.quality_factor = this.adspot.quality_factor == null ? '' : this.adspot.quality_factor;
                this.Form.campaign = this.adspot.campaign == null ? '' : this.adspot.campaign;
                this.Form.product = this.adspot.product == null ? '' : this.adspot.product;
                this.Form.BrandID = this.adspot.BrandID == null ? '' : this.adspot.BrandID;
                this.Form.phone_used = this.adspot.phone_used == null ? '' : this.adspot.phone_used;
                this.Form.email_used = this.adspot.email_used == null ? '' : this.adspot.email_used;
                this.Form.link_used = this.adspot.link_used == null ? '' : this.adspot.link_used;
                this.Form.uploaded_documents = this.adspot.document_relation;
            }   

            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                });
                localStorage.removeItem('message');
            }
        },
        methods: {
            getListList() {
                axios.get('/shared/listlist/data').then(res => {
                    this.listlists = res.data;
                });
            },
            getAdbuy() {
                axios.get('/marketing/adbuy/data').then(res => {
                    this.adbuys = res.data;
                });
            },
            onSelectAdbuy(item) {
                this.Form.AdbuyID = item;
                this.getChannel(item.vendor_id);
                this.Form.ChannelID = '';
            },
            getChannel(vendor) {
                axios.get('/marketing/channel/data').then(res => {
                    this.channels = res.data.filter(c => c.active == 1 && c.VendorID == vendor);
                });
            },
            onSelectChannel(item) {
                this.Form.ChannelID = item;
            },
            getBrand(){
                axios.get('/shared/brand/data').then(res => {
                    this.brands = res.data;
                });
            },
            onUpdateFile(files) {
                this.Form.documents = files.map(files => files.file);
            },
            deleteDocument(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/shared/document/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
                    
            },
            onSubmit(){
                this.spinning = true;
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }

                for (var i = 0; i < this.Form.documents.length; i++) {
                    let file = this.Form.documents[i];
                    data.append("documents[" + i + "]", file);
                }
                data.append('AdbuyID', this.Form.AdbuyID.value);

                var postLink = (this.adspot) ? '/marketing/adspot/update/'+this.adspot.id : '/marketing/adspot/add';
                axios.post(postLink, data).then(res=>{
                    this.errors = [];
                    localStorage.setItem('message', res.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
                window.scrollTo(0,0);
            },
        
        },
        computed: {
            selectAdbuy() {
                const selectAdbuy = this.adbuys.filter(b => b.active == 1).map(b => ({ value : b.id, text : b.id+' - '+b.description, vendor_id: b.VendorID }));
                return uniqBy(selectAdbuy, 'value');
            },
            selectChannel() {
                const selectChannel = this.channels.map(ch => ({ value : ch.id, text : ch.id+' - '+ch.name }));
                return uniqBy(selectChannel, 'value');
            },
            selectBrand() {
                const selectBrand = this.brands.filter(b => b.active == 1 && b.pid == 1).map(b => ({ value : b.id, text : b.name }));
                return uniqBy(selectBrand, 'value');
            },
            selectMedium() {
                const selectMedium = this.listlists.filter(ll => ll.pid == 215).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectMedium, 'value');
            },
            selectFrequency() {
                const selectFrequency = this.listlists.filter(ll => ll.pid == 221).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectFrequency, 'value');
            },
            selectSize() {
                const selectSize = this.listlists.filter(ll => ll.pid == 230).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectSize, 'value');
            },
            selectOrientation() {
                const selectOrientation = this.listlists.filter(ll => ll.pid == 242).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectOrientation, 'value');
            },
            selectStatus() {
                const selectStatus = this.listlists.filter(ll => ll.pid == 7).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectStatus, 'value');
            },
            selectDocumentType() {
                const selectDocumentType = this.listlists.filter(ll => ll.pid == 14).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectDocumentType, 'value');
            },

        },

        
    }

</script>
