<template>
<div>
    <b-row>
        <b-col md="12">
            <b-card>
                <template v-slot:header>
                    <h6>View AdSpot
                        <span class="float-right mt-1">
                            <b-link :href="'/marketing/adspot/update/'+adspot.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                            <b-link :href="'/marketing/adspot'" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-left"></i></b-link>
                        </span>
                    </h6>
                </template>
    
                <b-row>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>AdBuy</strong></label>
                        <label class="col-md-8" v-if="adspot.adbuy_relation">{{adspot.adbuy_relation.description}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Channel</strong></label>
                        <label class="col-md-8" v-if="adspot.channel_relation">{{adspot.channel_relation.name}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Issue</strong></label>
                        <label class="col-md-8">{{adspot.issue}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Medium</strong></label>
                        <label class="col-md-8" v-if="adspot.medium_relation">{{adspot.medium_relation.description}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Frequency</strong></label>
                        <label class="col-md-8" v-if="adspot.frequency_relation">{{adspot.frequency_relation.description}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Size</strong></label>
                        <label class="col-md-8" v-if="adspot.size_relation">{{adspot.size_relation.description}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Orientation</strong></label>
                        <label class="col-md-8" v-if="adspot.orientation_relation">{{adspot.orientation_relation.description}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Status</strong></label>
                        <label class="col-md-8" v-if="adspot.status_relation">{{adspot.status_relation.description}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Place</strong></label>
                        <label class="col-md-8">{{adspot.place}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Bluemine</strong></label>
                        <label class="col-md-8">{{adspot.bluemine}}</label>
                    </b-col>
                </b-row>

                <hr>

                <ul class="nav nav-tabs nav-justified nav-sm">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#time"><em><span style="color: orange">Time</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#roi"><em><span style="color: orange">ROI</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#adplan"><em><span style="color: orange">Ad Plan</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#document"><em><span style="color: orange">Document</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#changes"><em><span style="color: orange">Changes</span></em></a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="time" class="tab-pane active">
                        <b-row class="mt-2">
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Start Date</strong></label>
                                <label class="col-md-8">{{adspot.startdate}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>End Date</strong></label>
                                <label class="col-md-8">{{adspot.enddate}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Insertion Due</strong></label>
                                <label class="col-md-8">{{adspot.insertion_due}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Creative Due</strong></label>
                                <label class="col-md-8">{{adspot.creative_due}}</label>
                            </b-col>
                        </b-row>
                    </div>

                    <div id="roi" class="tab-pane">
                        <b-row class="mt-2">
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>MSRP</strong></label>
                                <label class="col-md-8">{{adspot.msrp}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Invoice Amount</strong></label>
                                <label class="col-md-8">{{adspot.invoice_amount}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>CPM</strong></label>
                                <label class="col-md-8">{{adspot.cpm}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>ROI</strong></label>
                                <label class="col-md-8">{{adspot.roi}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Audited Reach</strong></label>
                                <label class="col-md-8">{{adspot.audited_reach}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Quality Factor</strong></label>
                                <label class="col-md-8">{{adspot.quality_factor}}</label>
                            </b-col>
                        </b-row>
                    </div>

                    <div id="adplan" class="tab-pane">
                        <b-row class="mt-2">
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Campaign</strong></label>
                                <label class="col-md-8">{{adspot.campaign}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Product</strong></label>
                                <label class="col-md-8">{{adspot.product}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Brand</strong></label>
                                <label class="col-md-8" v-if="adspot.brand_relation">{{adspot.brand_relation.name}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Phone Used</strong></label>
                                <label class="col-md-8">{{adspot.phone_used}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Email Used</strong></label>
                                <label class="col-md-8">{{adspot.email_used}}</label>
                            </b-col>
                            <b-col md="6" class="mt-2">
                                <label class="col-md-3"><strong>Link Used</strong></label>
                                <label class="col-md-8">{{adspot.link_used}}</label>
                            </b-col>
                        </b-row>
                    </div>

                    <div id="document" class="tab-pane fade"><br>
                        <b-row v-if="documents.length">
                            <b-col offset-md="1" md="11" v-for="d in documents" :key="d.id" class="mt-1">
                                <b-link :href="'/shared/document/'+d.document_name" target='_blank' class="btn btn-link btn-sm">{{ d.document_name }}</b-link>
                            </b-col>
                        </b-row>
                    </div>

                    <div id="changes" class="tab-pane fade">
                        <b-row class="mt-3">
                            <b-col md="12">
                                <b-table responsive small hover bordered show-empty
                                    :items="changes" 
                                    :fields="changes_fields" 
                                    :per-page="perPage" 
                                    :current-page="currentPage" 
                                >
                                    <template v-slot:cell(changes_detail)="data">
                                        <span v-if="data.item.changes_detail_relation">
                                            <li v-for="change in data.item.changes_detail_relation" :key="change.id">
                                                {{change.column_name}} 
                                                changed from 
                                                {{change.old_value == '' ? 'N/A' : change.old_value}}
                                                 to 
                                                 {{change.new_value == '' ? 'N/A' : change.new_value}}
                                            </li>
                                        </span>
                                    </template>
                                    <template v-slot:cell(changes_owner)="data">
                                        <span v-if="data.item.user_relation">
                                            {{data.item.user_relation.firstname}} {{data.item.user_relation.lastname}}
                                        </span>
                                    </template>
                                </b-table>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col offset-md="8" md="4">
                                <b-pagination v-model="currentPage" :total-rows="changes.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                            </b-col>
                        </b-row>
                    </div>

                </div>
            </b-card>
        </b-col>
    </b-row>

</div>
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BRow, BCol, BButton, BTable, BPagination, BLink, BInputGroup, BCard  } from 'bootstrap-vue';


    export default {
        components: {
            BRow, BCol, BButton, BTable, BPagination, BLink, BInputGroup, BCard
        },
        props: {
            adspot: {},
        },
        data() {
            return {
                documents: [],
                currentPage: 1,
                perPage: 10,
                changes: [],
                changes_fields: [
                    { key: 'id', label: 'ID' },
                    { key: 'changes_detail', label: 'Changes' },
                    { key: 'created_at', label: 'Date'},
                    { key: 'changes_owner', label: 'Owner' },
                ],                
            }
        },
        mounted() {
            if(this.adspot){
                this.documents = this.adspot.document_relation;
                this.changes = this.adspot.changes_relation;
            }
        },
        methods: {
        
        },
        computed: {
            
        },

        
    }

</script>
