<template>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="e in errors">
                {{ e }}
            </li>
        </div>
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Categories</strong>
            </div>
            <div class="card-body">
                <b-row>
                    <b-col offset-md="2" md="8">
                        <b-button @click="listModal = !listModal" size="sm" variant="outline-info"><i class="fa fa-plus"></i>&nbsp; Add</b-button>
                    </b-col>
                </b-row>
                <br>
                <b-row>
                    <b-col offset-md="2" md="8">
                        <v-jstree 
                            :data="categories" 
                            multiple 
                            allow-batch 
                            whole-row 
                            @item-click="selectItem"
                        ></v-jstree>
                    </b-col>
                </b-row>
            </div>
        </div>
    </div>

    <b-modal v-model="listModal" button-size="sm" no-close-on-esc no-close-on-backdrop hide-footer title="Add/Update Item" @ok="handleOk" @hidden="resetModal">
        <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
            <b-row>
                <b-col md="12">
                    <label class="mt-2 col-form-label col-form-label-sm">Name</label> <span style="color: red">*</span>
                    <b-form-input v-model="Form.description" size="sm"></b-form-input>
                </b-col>
                <b-col md="12">
                    <label class="mt-2 col-form-label col-form-label-sm">Parent</label>
                    <model-select :options="selectParent" v-model="Form.pid" placeholder="select item" class="form-control form-control-sm"></model-select>
                </b-col>
            </b-row>
            <br>
            <b-row class="text-center">
                <b-col md="12">
                    <span v-if="Form.id != 0">
                        <b-button size="sm" variant="danger" @click="deleteItem(Form.id)">Delete</b-button>
                    </span>
                    <b-button type="submit" size="sm" variant="info">Save</b-button>
                </b-col>
            </b-row>
        </b-form>
    </b-modal>



</div>
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BRow, BCol, BButton, BInputGroup, BLink, BForm, BFormInput } from 'bootstrap-vue';
    import VJstree from 'vue-jstree'
    import { ModelSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css';

    export default {
        components: {
            BRow, BCol, BButton, BInputGroup, BLink, BForm, BFormInput,
            ModelSelect,
        },
        props: {
            data: {},
        },
        data() {
            return {
                errors: [],
                tmpList: [],
                categories: [],

                listModal: false,
                search: '',
                Form: {
                    id: 0,
                    description: '',
                    pid: 0,
                }
            }
        },
        mounted() {
            this.tmpList = this.data.map(l => ({ 'id': l.id, 'pid': l.pid, 'text': '['+l.id+'] '+l.description, 'description': l.description, 'icon': '', 'opened':true, 'selected':false, 'disabled':false, 'loading':false, }));
            this.tmpList.forEach(node => {
                // No pid means top level
                if (!node.pid) return this.categories.push(node);
                // Insert node as child of parent in flat array
                const parentIndex = this.tmpList.findIndex(el => el.id === node.pid);
                if (!this.tmpList[parentIndex].children) {
                    return this.tmpList[parentIndex].children = [node];
                }
                this.tmpList[parentIndex].children.push(node);
            });

            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            selectItem (node) {
                this.listModal = !this.listModal;
                this.Form.id = node.model.id;
                this.Form.description = node.model.description;
                this.Form.pid = node.model.pid;
            },

            deleteItem (id) {
                if(confirm("Do you really want to delete?")){
                    axios.get('/accounting/category/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            },


            resetModal(){
                this.Form.id = 0;
                this.Form.description = '';
                this.Form.pid = 0;
            },
            handleOk(){
                this.onSubmit();
            },
            onSubmit() {
                const formData = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    formData.append(key, value);
                }
                formData.append('id', this.Form.id);
                var postLink = '/accounting/category/form';
                axios.post(postLink, formData).then(res=>{
                    this.errors = [];
                    localStorage.setItem('message', res.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing!'];
                    }
                });
            }
        },
        computed: {
            selectParent() {
                const selectParent = this.data.map(l => ({ value : l.id, text : '['+l.pid+'] -> '+'['+l.id+'] '+l.description }));
                return uniqBy(selectParent, 'value');
            },
        },

        
    }

</script>
