<template>
<div class="row">

    <b-col md="12">
        <b-card >
            <template v-slot:header>
                <h6>Update Product
                    <span class="float-right mt-1">
                        <b-link :href="'/cms/product/'" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-left"></i></b-link>
                    </span>
                </h6>

            </template>
            <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
                <ul class="nav nav-tabs nav-justified nav-sm">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#general"><em><span style="color: orange">General</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#extra"><em><span style="color: orange">Extra</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#category"><em><span style="color: orange">Category</span></em></a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div id="general" class="tab-pane active"><br>
                        <b-row>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">SKU</label>
                                <b-form-input v-model="Form.sku" size="sm" readonly></b-form-input>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">NSID</label>
                                <b-form-input v-model="Form.nsid" size="sm" readonly></b-form-input>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Manufacture</label>
                                <model-select :options="selectManufacture" v-model="Form.manufacture" class="form-control form-control-sm"></model-select>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Product Name</label>
                                <b-form-input v-model="Form.Name" size="sm"></b-form-input>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Feature Name</label>
                                <b-form-input v-model="Form.feature_name" size="sm"></b-form-input>
                            </b-col>
                            
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">UPC</label>
                                <b-form-input v-model="Form.UPC" size="sm"></b-form-input>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Stock Status</label>
                                <b-form-input v-model="Form.stock_status" size="sm" readonly></b-form-input>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Price</label>
                                <b-form-input v-model="Form.price" size="sm"></b-form-input>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Keyword</label>
                                <b-form-tags v-model="Form.keywords" size="sm" tag-variant="primary"></b-form-tags>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Included Item</label>
                                <b-form-tags v-model="Form.included_items" size="sm" tag-variant="primary"></b-form-tags>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Features</label>
                                <b-form-tags v-model="Form.features" size="sm" tag-variant="primary"></b-form-tags>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Feature Description</label>
                                <ckeditor :editor="editor" v-model="Form.feature_desc" ></ckeditor>
                            </b-col>
                        </b-row>
                    </div>
                </div>
                <br>
                <b-row class="text-center">
                    <b-col md="12">
                        <b-button type="submit" size="sm" variant="info"><b-spinner small label="Spinning" v-if="spinning == true"></b-spinner> Submit</b-button>
                        <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                    </b-col>
                </b-row>
            
            </b-form>
            
        </b-card>
    </b-col>
        
</div>
</template>

<script>

    import { uniqBy } from 'lodash';
    import { BCard, BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BFormTags, BSpinner } from 'bootstrap-vue';
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import { ModelSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css';

    export default {
        components: {
            BCard, BForm, BFormInput, BRow, BCol, BButton, BLink, BFormCheckbox, BFormTags, BSpinner,
            ckeditor: CKEditor.component,
            ModelSelect
        },
        props: {
            nsid: {},
            brand: {},
        },
        data() {
            return {
                api_url: 'http://sellmarkapi.home',
                editor: ClassicEditor,
                spinning: false,
                brands: [],
                product: [],
                Form:{
                    sku: '',
                    nsid: '',
                    Name: '',
                    feature_name: '',
                    manufacture: '',
                    feature_desc: '',
                    keywords: [],
                    UPC: '',
                    stock_status: '',
                    // included_items: [],
                    // features: [],
                    // description: '',
                }
            }
        },
        mounted() {
            this.getProductDetail(this.brand, this.nsid);
            this.getBrands();
        },
        methods: {
            getProductDetail(brand, nsid) {
                axios.get(this.api_url+'/v1/'+brand+'/product/'+nsid).then(res => {
                    this.product = res.data.data;
                    console.log(this.product)
                    this.Form.sku = this.product.sku;
                    this.Form.nsid = this.product.nsid;
                    this.Form.Name = this.product.name;
                    this.Form.feature_name = this.product.feature_name;
                    this.Form.manufacture = this.product.manufacture;
                    this.Form.feature_desc = this.product.description
                    this.Form.keywords = this.product.keywords;
                    this.Form.UPC = this.product.upc;
                    this.Form.stock_status = this.product.total_quantity_on_hand;
                    
                    // this.Form.included_items = this.product.included_items;
                    // this.Form.features = this.product.features;
                    
                    
                });
            },
            
            getBrands(){
                axios.get(this.api_url+'/v1/brand').then(res => {
                    this.brands = res.data.data;
                });
            },

            onSubmit(){
                this.spinning = true;
                var postLink = this.api_url+'/v1/product/'+this.product.id;
                axios.put(postLink, this.Form).then(res=>{
                    this.errors = [];
                    console.log(res.data);
                    // window.scrollTo(0,0);
                    // localStorage.setItem('message', res.data);
                    // window.location.reload();
                }).catch(error => {
                    this.spinning = false;
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
            },
        },
        computed: {
            selectManufacture() {
                const selectManufacture = this.brands.map(b => ({ value : b.id, text : b.name }));
                return uniqBy(selectManufacture, 'value');
            },
            
        },

        

    }

</script>
