<template>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Product List
                    <span class="float-right mt-1">
                        <!-- <b-link :href="'/marketing/adbuy/add/'" class="btn btn-outline-info btn-sm"><i class="fa fa-plus"></i></b-link> -->
                    </span>
                </strong>
            </div>
            <div class="card-body">
                <b-row>
                    <b-col md="12">
                        <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>   
                    </b-col>                     
                </b-row>

                <b-row class="collapse show " id="display_filter">
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-input-group size="sm">
                                <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                                <b-input-group-append>
                                    <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                </b-row>                
                <b-row class="mt-3">
                    <b-col md="12">
                        <b-table responsive small hover bordered show-empty 
                            :items="products" 
                            :fields="fields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                            :filter="filter_search"
                            :fixed="false"
                        >
                            <template v-slot:cell(nsid)="data">
                                <b-link :href="'/cms/product/brand/'+data.item.brand+'/nsid/'+data.item.nsid" class="btn btn-link btn-sm">{{data.item.nsid}}</b-link>
                            </template>
                            <template v-slot:table-caption>Total {{products.length}} Records</template>
                        </b-table>
                    </b-col>
                </b-row>

                <b-row>
                    <b-col offset-md="8" md="4">
                        <b-pagination v-model="currentPage" :total-rows="products.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                    </b-col>
                </b-row>
            </div>
        </div>
    </div>
</div>
    
</template>

<script>

    import DatePicker from 'vue2-datepicker';
    import 'vue2-datepicker/index.css';
    import { uniqBy } from 'lodash';
    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink } from 'bootstrap-vue';

    export default {
        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink,
            DatePicker  
        },
        data() {
            return {
                brands: [],
                brand_slugs: [],
                products: [],

                fields: [
                    { key: 'nsid', label: 'NSID', sortable: true },
                    { key: 'sku', label: 'SKU' },
                    { key: 'name', label: 'Status' },
                ],
                
                filter_search: null,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50]
            }
        },
        mounted() {
            this.getBrands();
        },
        methods: {
            getBrands() {
                axios.get('http://sellmarkapi.home/v1/brand').then(res => {
                    this.brands = res.data;
                    this.getProducts();
                });
            },
            getProducts() {
                for(const [key, value] of Object.entries(this.brands.data)){
                    const brand_name = value.slug;
                    const product_api = 'http://sellmarkapi.home/v1/'+brand_name+'/products';
                    axios.get(product_api).then(res => {
                        const tmp = res.data.data
                        tmp.forEach(e => {
                            e['brand'] = value.slug;
                            this.products.push(e)
                        });
                    });
                }
            },
            
            
            
        },
        computed: {
            

        },



    }

</script>
