<template>
<div>
    <b-row>
        <b-col md="12">
            <b-card>
                <template v-slot:header>
                    <h6>View Asset
                        <span class="float-right mt-1">
                            <b-link :href="'/marketing/inventory/view/'+asset.InventoryID" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-left"></i></b-link>
                        </span>
                    </h6>
                </template>
    
                <b-row>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Product</strong></label>
                        <label class="col-md-8" v-if="asset.inventory_relation">{{asset.inventory_relation.product_relation.SKU}} - {{asset.inventory_relation.product_relation.Name}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Serial</strong></label>
                        <label class="col-md-8">{{asset.serial}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Color</strong></label>
                        <label class="col-md-8">{{asset.color}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Kit</strong></label>
                        <label class="col-md-8">{{asset.kit}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>NS Location</strong></label>
                        <label class="col-md-8">{{asset.ns_location}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>NS Order Number</strong></label>
                        <label class="col-md-8">{{asset.ns_order_number}}</label>
                    </b-col>
                    
                </b-row>

                <b-row v-if="asset.transaction_relation">
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Status</strong></label>
                        <label class="col-md-8" v-if="asset.transaction_relation.action_relation">{{asset.transaction_relation.action_relation.description}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Sender/Owner</strong></label>
                        <label class="col-md-8">{{asset.transaction_relation.owner}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Transaction Date</strong></label>
                        <label class="col-md-8">{{asset.transaction_relation.TrDate}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2">
                        <label class="col-md-3"><strong>Note</strong></label>
                        <label class="col-md-8">{{asset.transaction_relation.note}}</label>
                    </b-col>

                    <b-col md="6" class="mt-2" v-if="asset.transaction_relation.TrAction == 172">
                        <label class="col-md-3"><strong>Location</strong></label>
                        <label class="col-md-8">{{asset.transaction_relation.location}}</label>
                    </b-col>

                    <b-col md="6" class="mt-2" v-if="asset.transaction_relation.TrAction == 173">
                        <label class="col-md-3"><strong>Send to</strong></label>
                        <label class="col-md-8" v-if="asset.transaction_relation.out_to_relation">{{asset.transaction_relation.out_to_relation.description}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2" v-if="asset.transaction_relation.TrAction == 173">
                        <label class="col-md-3"><strong>Term/Reason</strong></label>
                        <label class="col-md-8">{{asset.transaction_relation.out_to_term}}</label>
                    </b-col>
                    <b-col md="6" class="mt-2" v-if="asset.transaction_relation.TrAction == 173">
                        <label class="col-md-3"><strong>Send to Person</strong></label>
                        <label class="col-md-8">{{asset.transaction_relation.out_to_value}}</label>
                    </b-col>
                </b-row>

                <hr>

                <ul class="nav nav-tabs nav-justified nav-sm">
                    <li class="nav-item active">
                        <a class="nav-link" data-toggle="tab" href="#transaction"><em><span style="color: orange">Transaction</span></em></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#changes"><em><span style="color: orange">Changes</span></em></a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="transaction" class="tab-pane active">
                        <b-row class="mt-3">
                            <b-col md="12">
                                <b-table responsive small hover bordered show-empty 
                                    :items="transactions" 
                                    :fields="transaction_fields" 
                                    :per-page="perPage" 
                                    :current-page="currentPage" 
                                >
                                    <template v-slot:cell(location)="data">
                                        <span v-if="data.item.TrAction == 172">
                                            {{data.item.location}}
                                        </span>
                                        <span v-if="data.item.TrAction == 173">
                                            <span v-if="data.item.out_to_relation">
                                                {{data.item.out_to_relation.description}}
                                            </span>
                                        </span>
                                    </template>
                                    <template v-slot:table-caption>Total {{transactions.length}} Records</template>
                                </b-table>
                            </b-col>
                            <b-col offset-md="8" md="4">
                                <b-pagination v-model="currentPage" :total-rows="transactions.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                            </b-col>
                        </b-row>
                    </div>

                    <div id="changes" class="tab-pane fade">
                        <b-row class="mt-3">
                            <b-col md="12">
                                <b-table responsive small hover bordered show-empty
                                    :items="changes" 
                                    :fields="changes_fields" 
                                    :per-page="perPage" 
                                    :current-page="currentPage" 
                                >
                                    <template v-slot:cell(changes_detail)="data">
                                        <span v-if="data.item.changes_detail_relation">
                                            <li v-for="change in data.item.changes_detail_relation" :key="change.id">
                                                {{change.column_name}} 
                                                changed from 
                                                {{change.old_value == '' ? 'N/A' : change.old_value}}
                                                 to 
                                                 {{change.new_value == '' ? 'N/A' : change.new_value}}
                                            </li>
                                        </span>
                                    </template>
                                    <template v-slot:cell(changes_owner)="data">
                                        <span v-if="data.item.user_relation">
                                            {{data.item.user_relation.firstname}} {{data.item.user_relation.lastname}}
                                        </span>
                                    </template>
                                </b-table>
                            </b-col>
                        </b-row>
                        <b-row>
                            <b-col offset-md="8" md="4">
                                <b-pagination v-model="currentPage" :total-rows="changes.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                            </b-col>
                        </b-row>
                    </div>

                </div>
            </b-card>
        </b-col>
    </b-row>
</div>    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BRow, BCol, BLink, BTable, BPagination, BInputGroupAppend, BInputGroup, BFormGroup, BButton, BCard } from 'bootstrap-vue';
    import { ModelSelect } from 'vue-search-select';

    export default {
        components: {
            BRow, BCol, BLink, BTable, BPagination, BInputGroupAppend, BInputGroup, BFormGroup, BButton, BCard,
            ModelSelect,
        },
        props: {
            asset: {},
            transactions: {}
        },
        data() {
            return {
                currentPage: 1,
                perPage: 10,

                transaction_fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'action_relation.description', label: 'Status'},
                    { key: 'location', label: 'Location'},
                    { key: 'TrDate', label: 'Date', sortable: true },
                    { key: 'owner', label: 'Owner/Sender' },
                ],
                
                changes: [],
                changes_fields: [
                    { key: 'id', label: 'ID' },
                    { key: 'changes_detail', label: 'Changes' },
                    { key: 'created_at', label: 'Date'},
                    { key: 'changes_owner', label: 'Owner' },
                ],

            }
        },
        mounted() {
            console.log(this.asset);
            if(this.asset){
                this.changes = this.asset.transaction_relation.changes_relation;
            }

        },
        methods: {
            
        },
        computed: {
            
        },

        
    }

</script>
