<template>

<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" v-if="errors.length > 0">
            <li v-for="e in errors">
                {{ e }}
            </li>
        </div>
        <div class="card">
            <div class="card-header">
                <strong class="card-title">Add Order
                    <span class="float-right mt-1">
                        <button type="button" class="btn btn-outline-info btn-sm" onclick="window.history.back()"><i class="fa fa-arrow-left"></i></button>
                    </span>
                </strong>
            </div>
            <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
                <div class="card-body">
                    <em><span style="color: orange">General</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Contact</label> <span style="color: red">*</span>
                            <basic-select :options="selectContact" :selected-option="Form.contact" placeholder="select item" class="form-control form-control-sm" @select="onSelectContact"></basic-select>
                        </b-col>
                        
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Contact Relationship</label>
                            <b-form-input v-model="Form.relationship" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Owner</label> <span style="color: red">*</span>
                            <b-form-input v-model="Form.owner" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Days-Terms</label> <span style="color: red">*</span>
                            <b-form-input list="input-list" v-model="Form.term" size="sm" placeholder="Select One or Enter a Number"@change="calculateReturnDate"></b-form-input>
                            <b-form-datalist id="input-list" :options="term_options"></b-form-datalist>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Follow Up</label>
                            <b-form-input type="date" v-model="Form.followup" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Expect Return</label>
                            <b-form-input type="date" v-model="Form.expect_return" size="sm" @change="calculateTerm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Group With</label>
                            <model-select :options="selectOrder" v-model="Form.product_order_id" placeholder="select T&E" class="form-control form-control-sm"></model-select>
                        </b-col>
                        
                    </b-row>

                    <hr>
                    <em><span style="color: orange">Product</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Product</label> <span style="color: red">*</span>
                            <multi-select :options="selectInventory" :selected-options="Form.inventory_ids" @select="onSelectProduct" placeholder="select item"></multi-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Selected Product</label>
                            <table class="table table-bordered table-sm" width="100%" >
                                <thead><tr>
                                    <th>SKU</th>
                                    <th>Serial</th>
                                    <th>Qty</th>
                                    <th>Addon</th>
                                </tr></thead>
                                <tbody>
                                    <tr v-for="product in Form.inventory_ids">
                                        <td>{{product.sku}}</td>
                                        <td>{{product.serial}}</td>
                                        <td>1</td>
                                        <td><b-form-checkbox v-model="Form.addons[product.value]" size="sm"></b-form-checkbox></td>
                                    </tr>
                                </tbody>
                            </table>
                        </b-col>
                    </b-row>


                    <hr>
                    <em><span style="color: orange">Accounting Data</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Location</label>
                            <model-select :options="selectLocation" v-model="Form.location" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Status</label>
                            <model-select :options="selectStatus" v-model="Form.status" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Sale Order</label>
                            <b-form-input v-model="Form.saleorder" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Return Status</label>
                            <b-input-group>
                                <b-form-checkbox v-model="Form.return_late" size="sm"> Late</b-form-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;
                                <b-form-checkbox v-model="Form.return_damaged" size="sm"> Damaged</b-form-checkbox>
                            </b-input-group>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Invoice</label>
                            <b-form-input v-model="Form.invoice" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Date Out</label>
                            <b-form-input type="date" v-model="Form.dateout" size="sm" @change="calculateReturnDate"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">RA</label>
                            <b-form-input v-model="Form.ra" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Sale/Return</label>
                            <b-form-input type="date" v-model="Form.salereturndate" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Note</label>
                            <b-form-input v-model="Form.note" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Fulfillment Tracking</label>
                            <b-form-input v-model="Form.fulfillment_tracking" size="sm"></b-form-input>
                        </b-col>
                    </b-row>

                    <hr>
                    <em><span style="color: orange">Document</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Upload (Max 5 files)</label>
                            <file-pond ref="pond" allow-multiple="true" v-bind:files="Form.documents" v-on:updatefiles="onUpdateFile" accepted-file-types="image/jpeg, image/png, application/pdf" instant-upload="false"/>
                        </b-col>
                    </b-row>

                    <hr>
                    <b-form-checkbox v-model="Form.send_mail" name="check-button" switch>
                        Send Mail
                    </b-form-checkbox>
              
                    <div v-if="Form.send_mail == true">
                        <em><span style="color: orange">Owner Info</span></em>
                        <b-row>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Email</label> <span style="color: red">*</span>
                                <b-form-input v-model="Form.owner_email" size="sm"></b-form-input>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Order for</label> <span style="color: red">*</span>
                                <b-form-input list="input-order-for" v-model="Form.order_for" size="sm" placeholder="Select One or Enter a New Value"></b-form-input>
                                <b-form-datalist id="input-order-for" :options="order_for_option"></b-form-datalist>
                            </b-col>
                        </b-row>

                        <hr>
                        <em><span style="color: orange">Order Info</span></em>
                        <b-row>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Start Date</label> <span style="color: red">*</span>
                                <b-form-input type="date" v-model="Form.startdate" size="sm"></b-form-input>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">PO#</label> <span style="color: red">*</span>
                                <b-form-input v-model="Form.po_number" size="sm"></b-form-input>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Memo</label> <span style="color: red">*</span>
                                <b-form-input v-model="Form.memo" size="sm"></b-form-input>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Signature Required</label> <span style="color: red">*</span>
                                <b-form-select v-model="Form.signature_required" :options="signature_options" size="sm" ></b-form-select>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Freight Instructions</label> <span style="color: red">*</span>
                                <b-form-input v-model="Form.freight_instruction" size="sm"></b-form-input>
                            </b-col>
                        </b-row>

                        <hr>
                        <em><span style="color: orange">Shipping Info</span></em>
                        <b-row>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Billing Address</label>
                                <b-form-input v-model="Form.billing_address" size="sm"></b-form-input>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Shipping Address</label>
                                <b-form-input v-model="Form.shipping_address" size="sm"></b-form-input>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Address Type</label> <span style="color: red">*</span>
                                <b-form-select v-model="Form.address_type" :options="address_type_options" size="sm" ></b-form-select>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Shipping Carrier</label> <span style="color: red">*</span>
                                <b-form-input list="shipping_carriers" v-model="Form.shipping_carrier" size="sm" placeholder="Select One or Enter a New Value"></b-form-input>
                                <b-form-datalist id="shipping_carriers" :options="shipping_carrier_options"></b-form-datalist>
                            </b-col>
                            <b-col md="6">
                                <label class="mt-2 col-form-label col-form-label-sm">Shipping Fee</label> <span style="color: red">*</span>
                                <b-form-select v-model="Form.shipping_fee" :options="shipping_fee_options" size="sm" ></b-form-select>
                            </b-col>
                        </b-row>
                    </div>
                    <br>
                    <b-row class="text-center">
                        <b-col md="12">
                            <b-button type="submit" size="sm" variant="info"><b-spinner small label="Spinning" v-if="spinning == true"></b-spinner>Submit</b-button>
                            <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                        </b-col>
                    </b-row>
                </div>
            </b-form>
        </div>
    </div>
</div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BButton, BAlert, BLink, BFormDatalist, BFormCheckbox, BInputGroup, BCard, BSpinner } from 'bootstrap-vue';

    import { MultiSelect, ModelSelect, BasicSelect } from 'vue-search-select';
    import 'vue-search-select/dist/VueSearchSelect.css';

    import vueFilePond from 'vue-filepond';
    import 'filepond/dist/filepond.min.css';
    import FilePondPluginImagePreview from 'filepond-plugin-image-preview';
    import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';
    import FilePondPluginFileValidateType from 'filepond-plugin-file-validate-type';

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BButton, BAlert, BLink, BFormDatalist, BFormCheckbox, BInputGroup, BSpinner,
            MultiSelect, ModelSelect, BasicSelect,
            FilePond: vueFilePond(FilePondPluginImagePreview, FilePondPluginFileValidateType),
        },
        props: {
            user: {},
            program_id : {},
            wait_id : {},
        },
        data() {
            return {
                errors: [],
                spinning: false,
                contacts: [],
                term_options: ['Write-Off', 'Sold'],
                allOrders: [],
                inventories: [],
                assets : [],
                listlists: [],
                Form: {
                    contact: { value: '', text: '' },
                    relationship: '',
                    owner: this.user,
                    term: '',
                    followup: '',
                    expect_return: '',
                    product_order_id: '',
                    inventory_ids: [],
                    addons: [],
                    location: 39,
                    status: 67,
                    saleorder: '',
                    return_late: false,
                    return_damaged: false,
                    invoice: '',
                    dateout: '',
                    ra: '',
                    salereturndate: '',
                    note: '',
                    fulfillment_tracking: '',
                    documents: [],
                    uploaded_documents: [],

                    send_mail: false,
                    owner_email: '',
                    order_for: '',
                    startdate: new Date().toISOString().slice(0,10),
                    po_number: '',
                    memo: '',
                    signature_required: '',
                    freight_instruction: '',
                    billing_address: '',
                    shipping_address:'',
                    address_type:'',
                    shipping_carrier:'',
                    shipping_fee:'',


                },
                order_for_option : ['Communication & PR', 'Photography', 'Employee Purchase'],
                signature_options: ['Yes', 'No' ],
                address_type_options: ['Residential', 'Business'],
                shipping_carrier_options: ['Pick Up', 'FedEx', 'UPS'],
                shipping_fee_options: ['Free', 'Charge'],
            }
        },
        mounted() {
            this.getContact();
            this.getOrder();
            this.getAsset();
            this.getListList();
            
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            getContact() {
                axios.get('/marketing/contact/data').then(res => {
                    this.contacts = res.data;
                });
            },
            onSelectContact(item){
                this.Form.contact = item;
                this.Form.relationship = item.relationship;
                this.Form.billing_address = item.address;
                this.Form.shipping_address = item.address;
            },
            getOrder() {
                axios.get('/marketing/product-order/data').then(res => {
                    this.allOrders = res.data;
                });
            },
            getAsset() {
                axios.get('/marketing/asset/data').then(res => {
                    this.assets = res.data;
                });
            },
            onSelectProduct (items) {
                this.Form.inventory_ids = items;
            },
            getListList() {
                axios.get('/shared/listlist/data').then(res => {
                    this.listlists = res.data;
                });
            },
            onUpdateFile(files) {
                this.Form.documents = files.map(files => files.file);
            },
            calculateTerm(){
                if(this.Form.dateout != '' && this.Form.expect_return != ''){
                    const dateout = new Date(this.Form.dateout);
                    const datereturn = new Date(this.Form.expect_return);
                    const tmp = (datereturn - dateout) / (1000 * 60 * 60 * 24);
                    this.Form.term = tmp;
                }
            },
            calculateReturnDate(){
                const term = Number.isInteger(+this.Form.term) ? +this.Form.term : 0;
                if(this.Form.dateout != '' && term != 0){
                    const tmp = new Date(this.Form.dateout);
                    tmp.setDate(tmp.getDate() + term);
                    this.Form.expect_return = tmp.toISOString().slice(0,10);
                }
            },
            onSubmit(){
                this.spinning = true;
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }
                for (var i = 0; i < this.Form.documents.length; i++) {
                    let file = this.Form.documents[i];
                    data.append("documents[" + i + "]", file);
                }

                const productArr = this.Form.inventory_ids.map(p => ({
                    id: p.inventory_id, 
                    sku: p.sku,
                    serial: p.serial,
                    qty: 1,
                    addon: this.Form.addons[p.value] == undefined ? false : this.Form.addons[p.value],
                }));

                data.append('inventory_ids', JSON.stringify(productArr));
                data.append('contact', JSON.stringify(this.Form.contact));
                var postLink = '/marketing/program/order/add/'+this.program_id+'/w/'+this.wait_id;
                axios.post(postLink, data).then(res=>{
                    this.errors = [];
                    localStorage.setItem('message', res.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
                window.scrollTo(0,0);
            },

            
        
        },
        computed: {
            selectContact() {
                const selectContact = this.contacts.map(contact => ({ 
                    value : contact.id, 
                    text : contact.general_contact_relation.firstname+' '+contact.general_contact_relation.lastname, 
                    relationship: contact.relationship, 
                    address: contact.general_contact_relation.address1+' '+contact.general_contact_relation.city+' '+contact.general_contact_relation.state+' '+contact.general_contact_relation.zip,
                }));
                return uniqBy(selectContact, 'value');
            },
            selectOrder() {
                const selectOrder = this.allOrders.map(order => ({ value : order.id, text : order.id }));
                return uniqBy(selectOrder, 'value');
            },
            selectInventory(){
                const selectInventory = this.assets
                    .filter(a => 
                        a.inventory_relation && 
                        a.inventory_relation.in_program == this.program_id && 
                        a.transaction_relation && 
                        a.transaction_relation.TrAction == 172 &&
                        a.reserved == 0)
                    .map(a => ({ value : a.InventoryID+'-'+a.serial, text : a.inventory_relation.product_relation.SKU+' - '+a.serial, inventory_id: a.InventoryID, sku: a.inventory_relation.product_relation.SKU, serial: a.serial }));
                return uniqBy(selectInventory, 'value');
            },

            selectLocation() {
                const selectLocation = this.listlists.filter(ll => ll.pid == 37).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectLocation, 'value');
            },
            selectStatus() {
                const selectStatus = this.listlists.filter(ll => ll.pid == 62).map(listlist => ({ value : listlist.id, text : listlist.description }));
                return uniqBy(selectStatus, 'value');
            },
            
        },

        
    }

</script>
