<template>
<div>
        
    <b-row>
        <b-col md="12">
            <b-card >
                <template v-slot:header>
                    <h6>Tradeshow
                        <span class="float-right mt-1">
                            <b-link :href="'/marketing/tradeshow/add/'" class="btn btn-outline-info btn-sm"><i class="fa fa-plus"></i></b-link>
                        </span>
                    </h6>
                </template>
                <b-row>
                    <b-col md="12">
                        <download-csv class="btn btn-link btn-sm" :data="export_data">Export CSV</download-csv>
                        <button class="btn btn-link btn-sm float-right" data-toggle="collapse" data-target="#display_filter">Filter</button>   
                    </b-col>                     
                </b-row>

        

                <b-row class="collapse show " id="display_filter">
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Per page" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-form-select v-model="perPage" id="perPageSelect" size="sm" :options="pageOptions"></b-form-select>
                        </b-form-group>
                    </b-col>

                    <b-col md="6" class="mt-3">
                        <b-form-group label="Search" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <b-input-group size="sm">
                                <input v-model="filter_search" class="form-control form-control-sm" placeholder="Type to Search" />
                                <b-input-group-append>
                                    <b-button :disabled="!filter_search" @click="filter_search = ''">Clear</b-button>
                                </b-input-group-append>
                            </b-input-group>
                        </b-form-group>
                    </b-col>
                    <b-col md="6" class="mt-3">
                        <b-form-group label="Strategy" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <select v-model="filter_strategy" class="form-control form-control-sm" >
                                <option :value="undefined" selected>--</option>
                                <option :value="mkst.id" v-for="mkst in strategies">{{ mkst.description }}</option>
                            </select>
                        </b-form-group>
                    </b-col>

                    <b-col md="6" class="mt-3">
                        <b-form-group label="Status" label-cols-md="4" label-align-sm="right" label-size="sm" class="mb-0">
                            <select v-model="filter_status" class="form-control form-control-sm" >
                                <option :value="undefined" selected>--</option>
                                <option :value="st.id" v-for="st in statuses">{{ st.description }}</option>
                            </select>
                        </b-form-group>
                    </b-col>
                    
                    
                </b-row>
                <hr>
                <b-row class="mt-3">
                    <b-col md="12">
                        <b-table responsive small hover bordered show-empty 
                            :items="filtered" 
                            :fields="fields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                            :filter="filter_search" 
                            :filter_status="filter_status"
                        >
                            <template v-slot:cell(id)="eachShow">
                                <b-link :href="'marketing/tradeshow/view/'+eachShow.value" class="btn btn-link btn-sm">{{eachShow.value}}</b-link>
                            </template>
                            <template v-slot:cell(actions)="eachShow">
                                <b-link :href="'marketing/tradeshow/update/'+eachShow.item.id" class="btn btn-outline-warning btn-sm"><i class="fa fa-pencil"></i></b-link>
                                <b-button size="sm" variant="outline-danger" @click="deleteTradeshow(eachShow.item.id)"><i class="fa fa-trash"></i></b-button>
                            </template>

                            

                            <template v-slot:table-caption>Total {{filtered.length}} Records</template>
                        </b-table>

                    </b-col>
                </b-row>

                <b-row>
                    <b-col offset-md="8" md="4">
                        <b-pagination v-model="currentPage" :total-rows="filtered.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                    </b-col>
                </b-row>
            </b-card>
        </b-col>
    </b-row>
</div>
    
</template>

<script>

    import { uniqBy } from 'lodash';
    import { BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard } from 'bootstrap-vue';

    export default {
        components: {
            BRow, BCol, BFormGroup, BFormSelect, BTable, BPagination, BInputGroupAppend, BButton, BInputGroup, BLink, BCard
        },
        data() {
            return {
                export_data: [],
                tradeshows: [],
                fields: [
                    { key: 'id', label: 'ID', sortable: true, sortDirection: 'desc' },
                    { key: 'show_name', label: 'Show Name', sortable: true },
                    { key: 'short_name', label: 'Short Name', sortable: true },
                    { key: 'market_strategy_relation.description', label: 'Market Strategy' },
                    { key: 'show_status_relation.description', label: 'Status' },
                    { key: 'vendor_relation.name', label: 'Vendor' },
                    { key: 'actions', label: 'Actions' }
                ],
                filter_search: null,
                filter_status: undefined,
                filter_strategy: undefined,
                totalRows: 1,
                currentPage: 1,
                perPage: 10,
                pageOptions: [10, 25, 50]
            }
        },
        mounted() {
            this.getTradeshow();
            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            getTradeshow() {
                axios.get('/marketing/tradeshow/data').then(res => {
                    this.tradeshows = res.data;
                    this.export_data = res.data.map(s => ({
                        id: s.id,
                        name: s.show_name,
                        short_name: s.short_name,
                        vendor: s.vendor_relation ? s.vendor_relation.name : '',
                        description: s.description,
                        market_strategy: s.market_strategy_relation ? s.market_strategy_relation.description : '',
                        status: s.show_status_relation ? s.show_status_relation.description : '',
                        website: s.website
                    }));
                })
                .catch(errors => {
                    console.log(errors);
                });
            },
            deleteTradeshow(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/marketing/tradeshow/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
            }
        },
        computed: {
            filtered() {
                return this.tradeshows.filter(tradeshow => {
                    let fill = true;
                    fill = fill && (this.filter_status === undefined || tradeshow.show_status === this.filter_status) 
                                && (this.filter_strategy === undefined || tradeshow.market_strategy === this.filter_strategy);
                    return fill;
                });                
            },

            statuses() {
                const statuses = this.tradeshows.filter(st => st.show_status_relation).map(tradeshow => ({ id : tradeshow.show_status_relation.id, description : tradeshow.show_status_relation.description }));
                return uniqBy(statuses, 'id');
            },
            strategies() {
                const strategies = this.tradeshows.filter(mkst => mkst.market_strategy_relation).map(tradeshow => ({ id: tradeshow.market_strategy_relation.id, description: tradeshow.market_strategy_relation.description }));
                return uniqBy(strategies, 'id');
            }

        },

        

    }

</script>
