<template>
<div>
    <div class="alert alert-danger" v-if="errors.length > 0">
        <li v-for="e in errors">
            {{ e }}
        </li>
    </div>
    <b-row>
        <b-col md="12">
            <b-card>
                <template v-slot:header>
                    <h6><span v-if="tradeshow">Update Tradeshow</span><span v-else>Add Tradeshow</span>
                        <span class="float-right mt-1">
                            <b-link :href="'/marketing/tradeshow'" class="btn btn-outline-info btn-sm"><i class="fa fa-arrow-left"></i></b-link>
                        </span>
                    </h6>
                </template>
                <b-form  @submit.prevent="onSubmit" enctype="multipart/form-data">
                    <em><span style="color: orange">General</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Show Name</label> <span style="color: red">*</span>
                            <b-form-input id="show_name" v-model="Form.show_name" size="sm" ></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Short Name</label> <span style="color: red">*</span>
                            <b-form-input id="show_short_name" v-model="Form.show_short_name" size="sm" ></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Vendor</label> <span style="color: red">*</span>
                            <model-select :options="selectVendor" v-model="Form.show_vendor" placeholder="select item" class="form-control form-control-sm"></model-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Description</label>
                            <b-form-input id="show_description" v-model="Form.show_description" size="sm"></b-form-input>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Market Strategy</label>
                            <b-form-select id="show_strategy" v-model="Form.show_strategy" size="sm" >
                                <option value="">--</option>
                                <option :value="st.id" v-for="st in selectStrategy">{{ st.description }}</option>
                            </b-form-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Status</label>
                            <b-form-select id="show_status"  v-model="Form.show_status" size="sm" >
                                <option value="">--</option>
                                <option :value="st.id" v-for="st in selectStatus">{{ st.description }}</option>
                            </b-form-select>
                        </b-col>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Website</label>
                            <b-form-input id="show_website"  v-model="Form.show_website" size="sm"></b-form-input>
                        </b-col>
                    </b-row>

                    <hr>
                    <em><span style="color: orange">Document</span></em>
                    <b-row>
                        <b-col md="6">
                            <label class="mt-2 col-form-label col-form-label-sm">Upload (Max 5 files)</label>
                            <file-pond ref="pond" allow-multiple="true" v-bind:files="Form.show_document" v-on:updatefiles="onUpdateFile" accepted-file-types="image/jpeg, image/png" instant-upload="false"/>
                        </b-col>
                        <b-col md="6" v-if="uploaded_show_document.length">
                            <label class="mt-2 col-form-label col-form-label-sm">Uploaded</label>
                            <li v-for="d in uploaded_show_document">
                                <b-link :href="'/shared/document/'+d.document_name" target='_blank' class="btn btn-link btn-sm">{{ d.document_name }}</b-link>
                                <b-button size="sm" variant="outline-danger" @click="deleteDocument(d.id)"><i class="fa fa-times"></i></b-button>
                            </li>
                        </b-col>
                    </b-row>
                    
                    <b-row class="text-center">
                        <b-col md="12">
                            <b-button type="submit" size="sm" variant="info"><b-spinner small label="Spinning" v-if="spinning == true"></b-spinner>Submit</b-button>
                            <b-button type="reset" size="sm" variant="danger" onClick="window.location.reload();">Reset</b-button>
                        </b-col>
                    </b-row>
                </b-form>
            </b-card>
        </b-col>
    </b-row>
</b-form>

</div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BInputGroupAppend, BButton, BInputGroup, BAlert, BLink, BCard, BSpinner } from 'bootstrap-vue';

    import { ModelSelect } from 'vue-search-select';

    import vueFilePond from 'vue-filepond';
    import 'filepond/dist/filepond.min.css';
    import FilePondPluginImagePreview from 'filepond-plugin-image-preview';
    import 'filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css';

    export default {
        components: {
            BForm, BFormInput, BRow, BCol, BFormGroup, BFormSelect, BInputGroupAppend, BButton, BInputGroup, BAlert, BLink, BCard, BSpinner,
            FilePond: vueFilePond(FilePondPluginImagePreview),
            ModelSelect,
        },
        props: {
            tradeshow: {}
        },
        data() {
            return {
                errors: [],
                spinning: false,
                vendors: [],
                listlists: [],
                Form: {
                    show_name: '',
                    show_short_name: '',
                    show_vendor: '',
                    show_description: '',
                    show_strategy: '',
                    show_status: '',
                    show_website: '',
                },
                show_document:[],
                uploaded_show_document: [],
            }
        },
        mounted() {
            this.getVendor();
            this.getListList();
            if(this.tradeshow){
                this.Form.show_name = this.tradeshow.show_name;
                this.Form.show_short_name = this.tradeshow.short_name;
                this.Form.show_vendor = this.tradeshow.vendor;
                this.Form.show_description = this.tradeshow.show_description;
                this.Form.show_strategy = this.tradeshow.market_strategy;
                this.Form.show_status = this.tradeshow.show_status;
                this.Form.show_website = this.tradeshow.website;
                this.uploaded_show_document = this.tradeshow.document_relation;
            }

            if(localStorage.getItem('message')){
                this.$bvToast.toast(localStorage.getItem('message'), {
                    title: 'Message',
                    variant: 'success',
                })
                localStorage.removeItem('message');
            }
        },
        methods: {
            getVendor() {
                axios.get('/marketing/vendor/data').then(res => {
                    this.vendors = res.data;
                });
            },
            onSelectVendor(item){
                this.Form.show_vendor = item;
            },
            getListList() {
                axios.get('/shared/listlist/data').then(res => {
                    this.listlists = res.data;
                });
            },

            onSubmit(){
                this.spinning = true;
                const data = new FormData();
                for (let [key, value] of Object.entries(this.Form)) {
                    data.append(key, value);
                }
                for (var i = 0; i < this.show_document.length; i++) {
                    let file = this.show_document[i];
                    data.append("show_document[" + i + "]", file);
                }
                var postLink = '/marketing/tradeshow/add';
                if(this.tradeshow){
                    postLink = '/marketing/tradeshow/update/'+this.tradeshow.id;
                }

                axios.post(postLink, data).then(response=>{
                    localStorage.setItem('message', response.data);
                    window.location.reload();
                }).catch(error => {
                    if(error.response.status == 422){
                        this.errors = flattenDeep(Object.values(error.response.data.errors));
                    }
                    else{
                        this.errors = ['Error Processing! Check your input'];
                    }
                });
                window.scrollTo(0,0);
            },

            onUpdateFile(files) {
                this.show_document = files.map(files => files.file);
            },

            deleteDocument(id){
                if(confirm("Do you really want to delete?")){
                    axios.get('/shared/document/delete/'+id).then(res => {
                        localStorage.setItem('message', res.data);
                        window.location.reload();
                    });
                }
                    
            }

        },
        computed: {
            selectVendor() {
                const selectVendor = this.vendors.map(vendor => ({ value : vendor.id, text : vendor.name }));
                return uniqBy(selectVendor, 'value');
            },
            selectStrategy() {
                const selectStrategy = this.listlists.filter(ll => ll.pid == 43).map(listlist => ({ id : listlist.id, description : listlist.description }));
                return uniqBy(selectStrategy, 'id');
            },
            selectStatus() {
                const selectStatus = this.listlists.filter(ll => ll.pid == 27).map(listlist => ({ id : listlist.id, description : listlist.description }));
                return uniqBy(selectStatus, 'id');
            },
        },

        
    }

</script>
