<template>

    <div>
        <b-row>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Show Name</strong></label>
                <label class="col-md-8">{{tradeshow.show_name}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Short Name</strong></label>
                <label class="col-md-8">{{tradeshow.short_name}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Vendor</strong></label>
                <label class="col-md-8">{{tradeshow.vendor_relation.VName}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Description</strong></label>
                <label class="col-md-8">{{tradeshow.show_description}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Strategy</strong></label>
                <label class="col-md-8" v-if="tradeshow.market_strategy_relation">{{tradeshow.market_strategy_relation.description}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Status</strong></label>
                <label class="col-md-8" v-if="tradeshow.show_status_relation">{{tradeshow.show_status_relation.description}}</label>
            </b-col>
            <b-col md="6" class="mt-2">
                <label class="col-md-3"><strong>Website</strong></label>
                <label class="col-md-8">{{tradeshow.website}}</label>
            </b-col>
            
        </b-row>

        <hr>

        <ul class="nav nav-tabs nav-justified nav-sm">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#occurrence"><em><span style="color: orange">Occurrence</span></em></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#document"><em><span style="color: orange">Documents</span></em></a>
            </li>
        </ul>

        <div class="tab-content">

            <div id="occurrence" class="tab-pane active"><br>
                <b-row>
                    <b-col md="12" class="mt-2">
                        <b-table responsive small hover bordered show-empty 
                            :items="occurrences" 
                            :fields="fields" 
                            :per-page="perPage" 
                            :current-page="currentPage" 
                        >
                            <template v-slot:cell(id)="eachOccurrence">
                                <b-link :href="'marketing/occurrence/view/'+eachOccurrence.item.id" class="btn btn-link btn-sm">{{eachOccurrence.item.id}}</b-link>
                            </template>
                            
                            <template v-slot:table-caption>Total {{occurrences.length}} Records</template>
                        </b-table>

                    </b-col>
                </b-row>
                <b-row>
                    <b-col offset-md="8" md="4" class="mt-2">
                        <b-pagination v-model="currentPage" :total-rows="occurrences.length" :per-page="perPage" align="fill" size="sm"></b-pagination>
                    </b-col>
                </b-row>
            </div>

            <div id="document" class="tab-pane fade"><br>
                <b-row v-if="documents.length">
                    <b-col class="mt-2" offset-md="1" md="11" v-for="d in documents" :key="d.id">
                        <li>
                            <b-link :href="'/shared/document/'+d.document_name" target='_blank' class="btn btn-link btn-sm">{{ d.document_name }}</b-link>
                        </li>
                    </b-col>
                </b-row>
            </div>            

        </div>

    </div>
    
</template>

<script>

    import { uniqBy, flattenDeep } from 'lodash';
    import { BRow, BCol, BLink, BTable, BPagination } from 'bootstrap-vue';

    export default {
        props: {
            tradeshow: {}
        },
        data() {
            return {
                occurrences: [],
                documents: [],
                fields: [
                    { key: 'id', label: 'ID', sortable: true },
                    { key: 'identifier', label: 'Identifier' },
                    { key: 'location', label: 'Location' },
                    { key: 'startdate', label: 'Start', sortable: true },
                    { key: 'enddate', label: 'End', sortable: true },
                ],
                currentPage: 1,
                perPage: 10,
            }
        },
        mounted() {
            if(this.tradeshow){
                this.occurrences = this.tradeshow.show_occurrence_relation;
                this.documents = this.tradeshow.document_relation;
            }


        },
        methods: {
            scrollToTop() {
                window.scrollTo(0,0);
            },

            
        },
        computed: {
            
        },

        components: {
            BRow, BCol, BLink, BTable, BPagination
        }
    }

</script>
